---
title: Programming Courses for Adults
layout: default
description: Awesome Inc U helps people learn to code so they can make their apps, games, and websites, and launch new careers in tech.
permalink: "/learn/adults"
redirect_from:
  "/adults"
page_id: adults
team: aincu
---

<svg viewbox="0 0 100 100" preserveAspectRatio="none" id="grey-triangle-bg" class="triangle-bg">
  <polygon points="0,0 85,0 0,100"/>
</svg>

<section>
  <div id="grey-angle-bg">
    <div id="laptop-adult">
      <div class="lgx-inner">
        <div class="container">
          <div class="row">
            <div class="col-xs-6 col-md-4 col-md-offset-2">
              <div class="lgx-heading-area">
                <div class="lgx-heading lgx-heading-white">
                  <h2 class="heading-title">Adult</h2>
                  <h4 class="heading-subtitle">Coding Courses<br><i>Full and Part-Time Courses for Career Switchers, Professionals, and Hobbyists</i></h4>
                </div>
              </div>
            </div>
          </div><!--//.ROW-->
        </div><!-- //.CONTAINER -->
      </div><!-- //.INNER -->
    </div><!-- //.GREY ANGLE BG -->
   
  </div>
</section>

<div class="row">
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <p class="center-text">Learning to code is difficult, but so is learning to salsa dance or learning to play the guitar. Consistent practice, week after week, is how you become a great programmer.</p>
    </div>
  </div>
</div>


<section>
  <div id="spotlight-adult">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-1" data-aos="fade-right">
            <div class="youtube-video-image">
              <a href="https://youtu.be/mL5h5DqhXjM" target="_blank">
                <img src="/images/macbook-youtube-video.png" border="0">
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-5" data-aos="fade-left">
            <p>
              "Starbucks to Software Developer in 12 Weeks."<br>
              Web Developer Bootcamp Student Spotlight: David V.
            </p>
          </div>
        </div><!--//.ROW-->
      </div><!-- //.CONTAINER -->
    </div><!-- //.INNER -->
  </div>
</section>

<section>
  <div id="courses-youth" class="course-section">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="lgx-heading-area dotted-svg">
            <div class="lgx-heading lgx-heading-red">
              <h2 class="heading-title">
                <span>Become a Professional Developer in 16 weeks</span>
              </h2>
              <svg class="preset-svg" id="straight-line" viewBox="0 0 1 100">
                <line x1="0.5" y1="0" x2="0.5" y2="100"/>
              </svg>
            </div>
          </div>
        </div><!--//.ROW-->
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-red">
                <thead>
                  <tr>
                    <td>Course</td>
                    <td>Format</td>
                    <td>Topics</td>
                    <td>Technologies</td>
                    <td>Schedule</td>
                    <td>Designed For</td>
                    <td>Learn More</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% assign bootcamp = site.courses | where: "course-category", "bootcamp-old" %}
                    {% for course in bootcamp limit: 1 %}
                      <td><a href="{{ site.data.routes.bootcamp }}"><img alt="{{ course.title }}" src="{{ course.logo }}" class="img-responsive"></a><br>{{ course.season.first }} {{ course.prework-date | date: "%Y" }}</td>
                      <td>Full-Time<br>4 weeks remote<br>12 weeks in-person</td>
                      <td>{{ course.course_topics }}</td>
                      <td>{{ course.technologies | join: ", " }}</td>
                      <td>{{ course.program-begin-date | date: "%b %d" }} - {{ course.program-end-date | date: "%b %d" }}<br>{{ course.class_day }}<br>{{ course.time }}</td>
                      <td>Career switchers</td>
                      <td><a href="{{ site.data.routes.bootcamp }}" class="btn btn-default center" role="button" disabled>Applications Closed</a></td>
                    {% endfor %}
                  </tr>
                  <tr>
                    {% assign bootcamp = site.courses | where: "course-category", "bootcamp" %}
                    {% for course in bootcamp limit: 1 %}
                      <td><a href="{{ site.data.routes.bootcamp }}"><img alt="{{ course.title }}" src="{{ course.logo }}" class="img-responsive"></a><br>{{ course.season.first }} {{ course.prework-date | date: "%Y" }}</td>
                      <td>Full-Time<br>4 weeks remote<br>12 weeks in-person</td>
                      <td>{{ course.course_topics }}</td>
                      <td>{{ course.technologies | join: ", " }}</td>
                      <td>{{ course.program-begin-date | date: "%b %d" }} - {{ course.program-end-date | date: "%b %d" }}<br>{{ course.class_day }}<br>{{ course.time }}</td>
                      <td>Career switchers</td>
                      <td><a href="{{ site.data.routes.bootcamp }}" class="btn btn-default center" role="button">Details &amp; Application</a></td>
                    {% endfor %}
                  </tr>
                </tbody>
              </table>
            </div><!--//.TABLE RESPONSIVE-->
          </div><!--//.COL-->
        </div><!--//.ROW-->
      </div><!-- //.CONTAINER -->
    </div><!-- //.INNER -->
  </div>
</section>

<section>
  <div id="camps-youth" class="course-section">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="lgx-heading-area dotted-svg">
            <div class="lgx-heading lgx-heading-red">
              <h2 class="heading-title">
                <span>Learn to Code Without Quitting Your Job</span>
              </h2>
              <p>Not ready for an intensive, full-time course, but still want to learn to code? Check out our part-time, evening courses</p>
              <svg class="preset-svg" id="straight-line" viewBox="0 0 1 100">
                <line x1="0.5" y1="0" x2="0.5" y2="100"/>
              </svg>
            </div>
          </div>
        </div><!--//.ROW-->
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-red">
                <thead>
                  <tr>
                    <td>Course</td>
                    <td>Format</td>
                    <td>Topics</td>
                    <td>Technologies</td>
                    <td>Schedule</td>
                    <td>Designed For</td>
                    <td>Learn More</td>
                  </tr>
                </thead>
                <tbody>
                  {% assign intro_courses = site.courses | where: "course-category", "intro" %}
                  {% for course in intro_courses %}
                  {% if course.hide != true %}
                  <tr>
                    <td><a href="{{ course.url }}">{{ course.title }}</a><br/> <em>{{ course.season.first }} {{ course.program-begin-date | date: "%Y" }}</em></td>
                    <td>Part-Time (evenings)<br>9 Weeks</td>
                    <td>{{ course.course_topics }}</td>
                    <td>{{ course.technologies | join: ", " }}</td>
                    <td>{{ course.program-begin-date | date: "%b %d" }} - {{ course.program-end-date | date: "%b %d" }}<br>{{ course.class_day }}<br>{{ course.time }}</td>
                    <td>Anyone new to programming, future Bootcamp students</td>
                    {% if course.rel_path %}
                      {% assign url = course.rel_path %}  
                    {% else %}
                      {% assign url = "https://www.eventbrite.com/e/" | append: course.eventbrite_eid %}
                    {% endif %}
                    <td><a href="{{ course.url }}" class="btn btn-default center" role="button">Details & Registration</a></td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div><!-- TABLE RESPONSIVE-->
          </div><!-- COL-->
        </div><!-- ROW-->
      </div><!-- CONTAINER -->
    </div><!-- INNER -->
  </div>
</section>

<section>
  <div id="other-courses" class="course-section">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="lgx-heading-area">
            <div class="lgx-heading lgx-heading-red">
              <h2 class="heading-title">
                <span>Non-coding courses to help you grow your career</span>
              </h2>
              <p>Learn a new skill without putting your life on hold</p>
              <svg class="preset-svg" id="straight-line" viewBox="0 0 1 100">
                <line x1="0.5" y1="0" x2="0.5" y2="100"/>
              </svg>
            </div>
          </div>
        </div><!--//.ROW-->
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-red">
                <thead>
                  <tr>
                    <td>Course</td>
                    <td>Format</td>
                    <td>Topics</td>
                    <td>Technologies</td>
                    <td>Schedule</td>
                    <td>Designed For</td>
                    <td>Learn More</td>
                  </tr>
                </thead>
                <tbody>
                  {% assign other_courses = site.courses | where: "course-category", "other" %}
                  {% for course in other_courses %}
                  {% if course.hide != true %}
                    {% if course.rel_path %}
                      {% assign url = course.rel_path %}  
                    {% else %}
                      {% assign url = "https://www.eventbrite.com/e/" | append: course.eventbrite_eid %}
                    {% endif %}
                  <tr>
                    <td><a href="{{ url }}"><img alt="{{ course.title }}" src="{{ course.logo }}" class="img-responsive"></a><br/> <em>{{ course.season.first }} {{ course.program-begin-date | date: "%Y" }}</em></td>
                    <td>Part-Time (evenings)<br>8 Weeks</td>
                    <td>{{ course.course_topics }}</td>
                    <td>{{ course.technologies | join: ", " }}</td>
                    <td>{{ course.program-begin-date | date: "%b %d" }} - {{ course.program-end-date | date: "%b %d" }}<br>{{ course.class_day }}<br>{{ course.time }}</td>
                    <td>Anyone looking to take their design skills up a level</td>
                    <td><a href="{{ url }}" class="btn btn-default center" role="button"disabled>Registration Closed</a></td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div><!--//.TABLE RESPONSIVE-->
          </div><!--//.COL-->
        </div><!--//.ROW-->
      </div><!-- //.CONTAINER -->
    </div><!-- //.INNER -->
  </div>
</section>