---
title: Bootcamp Alumni
layout: default
permalink: "/alumni"
page_id: alumni
---

<div class="container">
    <div class="blog-header">
        <h1 class="blog-title">{{ page.title }}</h1>
        <p>The <a href="/bootcamp">Web Developer Bootcamp</a> is a 16-week, intensive training program to help people launch careers in software development. It includes over 500 hours of hands-on training, gaining experience while building 10+ software projects in an Agile environment, using HTML, CSS, JavaScript, PHP, Laravel, React, cloud deployment, GitHub, and more.</p>
        <p>Bootcamp alumni have been hired by more than 50 employers. Initial job titles have included Software Engineer, Software Developer, Web Developer, Application Developer, QA Engineer, DevOps Analyst, Salesforce Consultant, and UX/UI Designer.</p>
        <br>
        <em>Ribbons indicate an alum's first programming job following Bootcamp</em>
    </div>
    <section class="content">
        <div class="title">
            <h2>Alumni List</h2>
            <ul id="filters" class="hidden-phone">
                <li><a href="#" data-filter="*">All Cohorts</a></li>
                <li><a href="#" data-filter=".w23">Winter '23</a></li>
                <li><a href="#" data-filter=".f22">Fall '22</a></li>
                <li><a href="#" data-filter=".s22">Spring '22</a></li>
                <li><a href="#" data-filter=".f21">Fall '21</a></li>
                <li><a href="#" data-filter=".s21">Spring '21</a></li>
                <li><a href="#" data-filter=".f20">Fall '20</a></li>
                <li><a href="#" data-filter=".s20">Spring '20</a></li>
                <li><a href="#" data-filter=".f19">Fall '19</a></li>
                <li><a href="#" data-filter=".s19">Spring '19</a></li>
                <li><a href="#" data-filter=".f18">Fall '18</a></li>
                <li><a href="#" data-filter=".s18">Summer '18</a></li>
                <li><a href="#" data-filter=".f17">Fall '17</a></li>
                <li><a href="#" data-filter=".s17">Summer '17</a></li>
                <li><a href="#" data-filter=".f16">Fall '16</a></li>
            </ul>
        </div>
        <div id="gallery" class="row">
            <div class="col-xs-12">
                <ul id="alumni" class="da-thumbs alumnis isotope" style="margin-left:0 auto;left:-18px">
                    {% for student in site.data.alumni-bootcamp.items %}
                    <li class="bootcampAlumni text-center {{student.cohort}}">
                        <a>
                            <img 
                              {% if student.image %}
                                src="{{student.image}}" 
                              {% elsif student.img_path %}
                                src="/images/uploads/{{ student.img_path }}.jpg"
                              {% else %}
                                src="../../images/teamalpha/placeholder-wall.jpg"
                              {% endif %}
                              alt="{{student.name}} - Awesome Inc U Web Developer Bootcamp"
                            />
                        </a>
                        {% if student.position %}
                        <div class="ribbon-wrapper-green">
                            <div class="ribbon-green">{{ student.position }}</div>
                        </div>
                        {% endif %}
                        <div class="text-center" style="font-size: 10pt">
                            {{ student.name }}
                        </div>
                        <div class="btn-group text-center" role="group">
                            <a class="btn btn-default" href="{{student.website}}" role="button">Portfolio</a>
                            <a class="btn btn-default" href="{{student.linkedin}}" role="button">LinkedIn</a>
                            <a class="btn btn-default" href="{{student.github}}" role="button">GitHub</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    {% include bootcamp-employers.html %}
</div><!-- /.container -->