---
title: Careers
layout: sub
permalink: "/careers"
redirect_from:
- "/jobs/"
---
<div>
  {% for job in site.job_openings %}
  {% if job.active == true %}
  <h3>{{ job.title }}</h3>
  <p>{{ job.body | markdownify }}</p>
  <p>
    <a href="mailto:{{ job.email }}?subject=I have some questions about {{ job.title }}">Questions? Email {{ job.manager }}: {{ job.email }}</a>
  </p>
  <h3>
    <a type="button" class="lgx-btn lgx-btn-anim" href="{% if job.apply_url %}{{ job.apply_url }}{% else %}mailto:{{ job.email }}?subject=I am interseted in applying to the {{ job.title }} position at {{ job.team }}{% endif %}">Apply Here</a>
  </h3>
  {% endif %}
  {% endfor %}
</div>
