---
title: Events | Lexington Startup Community | 5 Across Pitch Competition | Awesome Inc
layout: default
page_id: events
permalink: "/events"
redirect_from:
- "/event"
---

{% assign events = site.events | sort: 'date' | where: "active", "true" %}

<section id="upcoming-events">
  <div id="lgx-events" class="lgx-events">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="lgx-heading">
              <h2 class="heading-title">Upcoming Events</h2>
              <h4 class="heading-subtitle">Join us and be a part of the startup community!</h4>
            </div>
          </div>
        </div> <!-- row -->
        <div class="row">
          {% for event in events %}

            {% if event.eventbrite_id or feature_event.eventbrite_id == '' %}
              {% assign event_url = "https://www.eventbrite.com/e/" | append: event.eventbrite_id %}
            {% elsif event.event_url %}
              {% assign event_url = event.event_url %}
            {% else %}
              {% assign event_url = "#" %}
            {% endif %}

          <div class="col-xs-12 col-sm-6">
            <div class="lgx-events-area">
                
              <div class="lgx-single-event">
                <div class="thumb">
                  <a target="_blank" href="{{ event_url }}">
                    <img
                      {% if event.image %}
                        src="{{ event.image }}" 
                      {% else %}
                        src="/images/icons/innovation.png" 
                      {% endif %} 
                    alt="{{ event.title }}">
                  </a>
                </div>
                <div class="event-info">
                  <a target="_blank" class="date" href="{{ event_url }}">
                    {{ event.date | date: '%B %-d, %Y'}}
                  </a>
                  <h4 class="location">{{ event.location }}</h4>
                  <h3 class="title">
                    <a target="_blank" class="date" href="{{ event_url }}">
                      {{ event.title }}
                    </a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div><!--//.ROW-->
      </div><!-- //.CONTAINER -->
    </div><!-- //.INNER -->
  </div>
</section>
<!--EVENTS END-->