---
title: Fellowship
layout: default
permalink: "/fellowship"
page_id: fellowship
---

<section>
  <div id="header-fellowship">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="lgx-heading-area">
              <div class="lgx-heading">
                <h2 class="heading-title text-shadow">Fellowship</h2>
                <h4 class="heading-subtitle"><i>A mentor-driven program for startups like you</i></h4>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8" id="rocket-img-bg">
            <div class="img-outline-offset-right offset-border">
              <img src="/images/brainstorming.jpg"/>
            </div>
          </div>
        </div><!--//.ROW-->
      </div><!-- //.CONTAINER -->
    </div><!-- //.INNER -->
  </div>
</section>

<section>
  <div id="what-is-fellowship">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="lgx-heading-area">
              <div class="lgx-heading">
                <h3 class="heading-title">What is the Fellowship?</h2>
                <p class="heading-subtitle">A mentor-driven program designed to accelerate your high tech startup. The program is tailored to your startup's needs and runs on a flexible timeline unique to your team, supporting your startup for up to one year. </p>
              </div>
            </div>
          </div>
        </div><!--//.ROW-->
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="col-xs-4 center-block">
              <img class="center-block" src="/images/icons/perks.png"/>
              <h5>Perks</h5>
            </div>
            <div class="col-xs-4">
              <img class="center-block" src="/images/icons/mentors.png"/>
              <h5>Mentors</h5>
            </div>
            <div class="col-xs-4">
              <img class="center-block" src="/images/icons/portfolio.png"/>
              <h5>Portfolio</h5>
            </div>
          </div>
        </div><!--//.ROW-->
      </div><!-- //.CONTAINER -->
    </div><!-- //.INNER -->
    {% include modal-form.html style='dotted' initiative='fellowship' link-text='Apply Now'%}
  </div>
</section>

<section>
  <div id="how-it-works">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class=" col-xs-12 col-sm-5 col-sm-push-7" id="how-it-works">
            <div class="lgx-heading">
              <h2 class="heading-title">How it Works</h2>
            </div>
          </div><!--col-->
          <div class="col-xs-12 col-sm-7 col-sm-pull-5">
            <div class="lgx-video-area">
              <div class="video-thumbnail">
                <a id="myModalLabel" class="icon" href="#" data-toggle="modal" data-target="#lgx-modal">
                  <img src="/images/fellowship-video-macbook.png">
                  <i class="fa fa-play " aria-hidden="true"></i>
                </a>
              </div>  
              <img src="/images/icons/arrow-red.png" id="video-arrow">
              <!-- Video Modal-->
              <div id="lgx-modal" class="modal fade lgx-modal" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                      <iframe id="modalvideo" src="https://www.youtube.com/embed/IlLYF7VwiD8" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div> <!-- //.Modal-->
            </div><!--//.VIDEO-AREA-->
          </div><!--//.COL-->
        </div><!--//.ROW-->
      </div><!-- //.CONTAINER -->
    </div><!-- //.INNER -->
  </div>
</section>

<section id="fellowship-testimonials">
  <div class="lgx-inner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="testimonial">
            <div class="quoteLoop">
            {% for testimonial in site.data.fellowship-testimonials %}
            <blockquote class="quote">
              {{ testimonial.content }}
              <small>{{ testimonial.name }}</small>
            </blockquote>
            {% endfor %}
            </div>
          </div>
        </div>
      </div><!--//.ROW-->
    </div><!-- //.CONTAINER -->
  </div><!-- //.INNER -->
</section>

<section id="fellowship-approach">
  <div class="lgx-inner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-11 col-sm-offset-1">
          <div class="lgx-heading">
            <h2 class="heading-title">Our Approach</h2>
          </div>
        </div>
      </div><!--//.ROW-->
      <div class="row row-eq-height flex-img-center">
        <div class="col-xs-12 col-sm-4">
          <img src="/images/approach.png"/ class="" alt="Fellowship Program Approach">
        </div>
        <div class="col-xs-12 col-sm-8">
          <div class="lgx-heading">
            <h6 class="heading-subtitle">Our Fellowship program provides: </h6>
          </div>
          <ul>
            <li>Access to our network of over 85 mentors</li>
            <li>Web development, video, and graphic design services</li>
            <li>24/7 Access to Awesome Inc co-working space</li>
            <li>Access to pro bono legal and accounting services</li>
          </ul>
        </div>
      </div><!--//.ROW-->
    </div><!-- //.CONTAINER -->
  </div><!-- //.INNER -->
  {% include modal-form.html style='dotted' initiative='fellowship' link-text='Apply Now'%}
</section>