---
title: Fellowship
layout: default
permalink: "/fellowship"
page_id: fellowship
---

<section>
  <div id="header-fellowship">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="lgx-heading-area">
              <div class="lgx-heading lgx-heading-red">
                <h2 class="heading-title">Fellowship</h2>
                <h4 class="heading-subtitle" style="margin-bottom: 20px;"><i>A mentor-driven program for Kentucky based startups</i></h4>
                <a class="lgx-btn" href="#fellowship-application" data-toggle="modal" data-target="#fellowship-application-modal">
                  Apply Now
                </a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8" id="rocket-img-bg">
            <div class="img-outline-offset-right offset-border">
              <img src="/images/brainstorming.jpg"/>
            </div>
          </div>
        </div><!--ROW-->
      </div><!-- CONTAINER -->
    </div><!-- INNER -->
  </div>
</section>

<div id="fellowship-application-modal" class="modal fade lgx-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
      </div>
      <div class="modal-body">
        
        <div class="form-group">
            <h2>Awesome Fellowship Application</h2>
            <iframe frameborder="0" style="height:80vh;width:99%;border:none;" src="https://forms.zohopublic.com/virtualoffice9155/form/AwesomeFellowshipApplication/formperma/r12Y7iQP0rWYHU33MvoA15j6wO4YlTVP02EuWMwJol8?gclid=undefined"></iframe>
        
        </div>
        <!-- modal body -->
      </div>
      <!-- modal content -->
    </div>
    <!-- modal dialog -->
  </div>
  <!-- //.Modal-->
</div>

<section>
  <div id="what-is-fellowship">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="lgx-heading-area">
              <div class="lgx-heading">
                <h3 class="heading-title">What is the Fellowship?</h2>
                <p class="heading-subtitle">A mentor-driven program designed to accelerate your high tech startup. The program is tailored to your startup's needs and runs on a flexible timeline unique to your team, supporting your startup for up to one year. </p>
              </div>
            </div>
          </div>
        </div><!--ROW-->
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <a href="{{ site.data.routes.fellowship-perks }}">
              <div class="col-xs-4 center-block">
                <img class="center-block" src="/images/icons/perks.png"/>
                <h5>Perks</h5>
              </div>
            </a>
            <!-- <a href="{{ site.data.routes.mentors }}"> -->
              <div class="col-xs-4">
                <img class="center-block" src="/images/icons/mentors.png"/>
                <h5>Mentors</h5>
              </div>
            <!-- </a> -->
            <a href="{{ site.data.routes.fellowship-portfolio }}">
              <div class="col-xs-4">
                <img class="center-block" src="/images/icons/portfolio.png"/>
                <h5>Portfolio</h5>
              </div>
            </a> 
          </div>
        </div><!--ROW-->
      </div><!-- CONTAINER -->
    </div><!-- INNER -->
    <div class="container">
      <div class="row">
        <div class="lgx-heading-area dotted-svg link-svg">
          <div class="lgx-heading">
            <h4 class="heading-title" style="line-height: inherit;">
              <span>
                <a class="lgx-btn" href="#fellowship-application" data-toggle="modal" data-target="#fellowship-application-modal">
                  Apply Now
                </a>
              </span>
            </h4>
          </div>
        </div>
      </div><!--.ROW-->
    </div><!-- .CONTAINER -->
    {% comment %}{% include modal-form.html style='dotted' initiative='fellowship' link-text='Apply Now'%}{% endcomment %}
  </div>
</section>

<section>
  <div id="how-it-works">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class=" col-xs-12 col-sm-5 col-sm-push-7" id="how-it-works">
            <div class="lgx-heading">
              <h2 class="heading-title">How it Works</h2>
            </div>
          </div><!--col-->
          <div class="col-xs-12 col-sm-7 col-sm-pull-5">
            <div class="lgx-video-area">
              <div class="video-thumbnail">
                <a id="myModalLabel" class="icon" href="#" data-toggle="modal" data-target="#lgx-modal">
                  <img data-src="/images/fellowship-video-macbook.png" class="lazyload">
                  <i class="fa fa-play " aria-hidden="true"></i>
                </a>
              </div>  
              <img src="/images/icons/arrow-red.png" id="video-arrow">
              <!-- Video Modal-->
              <div id="lgx-modal" class="modal fade lgx-modal" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                      <iframe id="modalvideo" src="https://www.youtube.com/embed/IlLYF7VwiD8" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div> <!-- Modal-->
            </div><!--VIDEO-AREA-->
          </div><!--COL-->
        </div><!--ROW-->
      </div><!-- CONTAINER -->
    </div><!-- INNER -->
  </div>
</section>

<section id="fellowship-testimonials">
  <div class="lgx-inner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="testimonial">
            <div class="quoteLoop">
            {% for testimonial in site.data.fellowship-testimonials %}
            <blockquote class="quote">
              {{ testimonial.content }}
              <small>{{ testimonial.name }}</small>
            </blockquote>
            {% endfor %}
            </div>
          </div>
        </div>
      </div><!--ROW-->
    </div><!-- CONTAINER -->
  </div><!-- INNER -->
</section>

<section id="fellowship-approach">
  <div class="lgx-inner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-11 col-sm-offset-1">
          <div class="lgx-heading">
            <h2 class="heading-title">Our Approach</h2>
          </div>
        </div>
      </div><!--//.ROW-->
      <div class="row row-eq-height flex-img-center">
        <div class="col-xs-12 col-sm-4">
          <img data-src="/images/approach.png" class="lazyload" alt="Fellowship Program Approach">
        </div>
        <div class="col-xs-12 col-sm-8">
          <div class="lgx-heading">
            <h6 class="heading-subtitle">Our Fellowship program provides: </h6>
          </div>
          <ul>
            <li>Access to our network of over 85 mentors</li>
            <li>Web development, video, and graphic design services</li>
            <li>24/7 Access to Awesome Inc co-working space</li>
            <li>Access to pro bono legal and accounting services</li>
          </ul>
        </div>
      </div><!--.ROW-->
    </div><!-- .CONTAINER -->
  </div><!-- .INNER -->
  <div class="container">
    <div class="row">
      <div class="lgx-heading-area dotted-svg link-svg">
        <div class="lgx-heading">
          <h4 class="heading-title" style="line-height: inherit;">
            <span>
              <a class="lgx-btn" href="#fellowship-application" data-toggle="modal" data-target="#fellowship-application-modal">
                Apply Now
              </a>
            </span>
          </h4>
        </div>
      </div>
    </div><!--.ROW-->
  </div><!-- .CONTAINER -->
  {% comment %}{% include modal-form.html style='dotted' initiative='fellowship' link-text='Apply Now'%}{% endcomment %}
</section>

<!-- Sponsors Section -->
<section id="fellowship-sponsors">
  <div class="lgx-inner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="lgx-heading lgx-heading-white">
            <h2 class="heading-title">Fellowship Sponsors</h2>
          </div>
        </div>        
      </div><!--.ROW-->
      <div class="row row-eq-height flex-img-center">
        <div class="col-xs-6 col-sm-2">
          <a href="https://www.chase.com/" target="_blank">
            <img src="/assets/img/sponsors/chase-bank-grey-logo.png" alt="Chase Bank Sponsor"/>
          </a>
        </div>
        <div class="col-xs-6 col-sm-2">
          <a href="https://www.dinsmore.com/office-locations/lexington-ky/" target="_blank">
            <img src="/assets/img/sponsors/dinsmore-grey-logo.png" alt="Dinsmore Sponsor"/>
          </a>
        </div>
        <div class="col-xs-6 col-sm-2">
          <a href="https://www.thinkkentucky.com/" target="_blank">
            <img src="/assets/img/sponsors/think-kentucky-grey-logo.png" alt="Think KY Sponsor"/>
          </a>
        </div>
        <div class="col-xs-6 col-sm-2">
          <a href="https://www.commercelexington.com/" target="_blank">
            <img src="/assets/img/sponsors/commerce-lexington-grey-logo.png" alt="Commerce Lexington Sponsor"/>
          </a>
        </div>
      </div><!-- ROW -->
      <div class="row row-eq-height flex-img-center">
        <div class="col-xs-6 col-sm-2">
          <a href="https://www.fsnb.net/" target="_blank">
            <img src="/assets/img/sponsors/first-southern-natl-bank-grey-logo.png" alt="First Southern National Bank Sponsor"/>
          </a>
        </div>
        <div class="col-xs-6 col-sm-2">
          <a href="https://www.forchtgroup.com/" target="_blank">
            <img src="/assets/img/sponsors/forcht-grey-logo.png" alt="Forcht Bank Sponsor"/>
          </a>
        </div>
        <div class="col-xs-6 col-sm-2">
          <a href="http://boothenergy.zohosites.com/" target="_blank">
            <img src="/assets/img/sponsors/booth-energy-grey-logo.png" alt="Booth Energy Sponsor"/>
          </a>
        </div>
        <div class="col-xs-6 col-sm-2">
          <a href="https://harperindustries.com/" target="_blank">
            <img src="/assets/img/sponsors/harper-industries-grey-logo.png" alt="Harper Industries Sponsor"/>
          </a>
        </div>
      </div><!-- ROW -->
      <div class="row row-eq-height flex-img-center">
        <div class="col-xs-6 col-sm-2">
          <a href="https://www.marksburyfamilyfoundation.org/" target="_blank">
            <img src="/assets/img/sponsors/marksbury-family-foundation-grey-logo.png" alt="Marksbury Family Foundation Sponsor"/>
          </a>
        </div>
        <div class="col-xs-6 col-sm-2">
          <p>Lee Todd</p>
        </div>
        <div class="col-xs-6 col-sm-2">
          <p>Jim Host</p>
        </div>
        <div class="col-xs-6 col-sm-2">
          <p>Chris Young</p>
        </div>
      </div><!-- ROW -->
      <div class="row row-eq-height flex-img-center">
        <div class="col-xs-6 col-sm-2">
          <p>John Williams</p>
        </div>
        <div class="col-xs-6 col-sm-2">
          <p>Bruce Lunsford Foundation</p>
        </div>
        <div class="col-xs-6 col-sm-2">
          <p>Jim Patterson</p>
        </div>
        <div class="col-xs-6 col-sm-2">
          <p>Doug Cobb</p>
        </div>
      </div><!-- ROW -->
      <div class="row row-eq-height flex-img-center">
        <div class="col-xs-6 col-sm-2">
          <p>Joe Steier</p>
        </div>
        <div class="col-xs-6 col-sm-2">
          <p>Joe Craft</p>
        </div>
        <div class="col-xs-6 col-sm-2">
          <p>Chris Sullivan Foundation</p>
        </div>
        <div class="col-xs-6 col-sm-2">
          <p>Brian Luftman</p>
        </div>
      </div><!-- ROW -->
      <div class="row row-eq-height flex-img-center">
        <div class="col-xs-6 col-sm-2">
          <p>Ron Geary</p>
        </div>
        <div class="col-xs-6 col-sm-2">
          <p>Stephen Gray</p>
        </div>
        <div class="col-xs-6 col-sm-2">
          <p>Nate Morris</p>
        </div>
        <div class="col-xs-6 col-sm-2">
          <p>Junior Bridgeman</p>
        </div>
      </div><!-- ROW -->
      <div class="row row-eq-height flex-img-center">
        <div class="col-xs-6 col-sm-2">
          <p>Kent Oyler</p>
        </div>
      </div><!-- ROW -->
    </div><!-- .CONTAINER -->
  </div><!-- .INNER -->
</section>

