---
layout: default
page_id: home
---

<!--BANNER-->
<section>
  <div class="lgx-slider lgx-slider-content">
    <div class="lgx-banner-style">
      <div class="lgx-inner">
        <div id="lgx-main-slider" class="owl-carousel">
          <!-- SLIDER 1 -->
          <div class="lgx-item-common">
            <div class="col-sm-12g">
              <div class="slider-text-single">
                <figure>
                  <picture>
                    <source type="image/webp" srcset="images/hero-image-1.webp">
                    <img src="images/hero-image-1-min.jpg" alt="Start something awesome with awesome inc"/>
                  </picture>
                  <figcaption>
                    <div class="lgx-container">
                      <div class="lgx-hover-link">
                        <div class="lgx-vertical">
                          <div class="lgx-banner-info lgx-banner-info-white">

                            <h3 class="subtitle lgx-zoomIn-one">Become a Member and </h3>
                            <h2 class="title lgx-zoomIn-one">Get your best work done here</h2>
                            <div class="btn-area lgx-zoomIn-two">
                              <a class="lgx-btn lgx-btn-anim" href="#rent-workspace">Learn More</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </div> <!-- //.SLIDER TEXT SINGLE -->
            </div>
          </div><!--//.LGX ITEM COMMON // End slider 1-->

          <!-- SLIDER 2 -->
          <div class="lgx-item-common">
            <div class="col-sm-12g">
              <div class="slider-text-single">
                <figure>
                  <picture>
                    <source type="image/webp" srcset="images/hero-image-2.webp">
                    <img src="images/hero-image-2-min.jpg" alt="Start something awesome with awesome inc"/>
                  </picture>
                  <figcaption>
                    <div class="lgx-container">
                      <div class="lgx-hover-link">
                        <div class="lgx-vertical">
                          <div class="lgx-banner-info lgx-banner-info-white">

                            <h3 class="subtitle lgx-zoomIn-one">Join the bootcamp and </h3>
                            <h2 class="title lgx-zoomIn-one"> get a coding job in 12 weeks</h2>
                            <div class="btn-area lgx-zoomIn-two">
                              <a class="lgx-btn lgx-btn-anim" href="#learn-to-code">Learn To Code</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </figcaption>
                </figure>
              </div> <!-- //.SLIDER TEXT SINGLE -->
            </div>
          </div><!--//.LGX ITEM COMMON // End slider 2-->

          <!-- SLIDER 3 -->
          <div class="lgx-item-common">
              <div class="col-sm-12g">
                <div class="slider-text-single">
                  <figure>
                    <picture>
                      <source type="image/webp" srcset="images/hero-image-3.webp">
                      <img src="images/hero-image-3-min.jpg" alt="Start something awesome with awesome inc"/>
                    </picture>
                    <figcaption>
                      <div class="lgx-container">
                        <div class="lgx-hover-link">
                          <div class="lgx-vertical">
                            <div class="lgx-banner-info lgx-banner-info-white">
  
                              <h3 class="subtitle lgx-zoomIn-one">Grow your startup by</h3>
                              <h2 class="title lgx-zoomIn-one"> joining the fellowship program</h2>
                              <div class="btn-area lgx-zoomIn-two">
                                <a class="lgx-btn lgx-btn-anim" href="#startups">Learn More</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </figcaption>
                  </figure>
                </div> <!-- //.SLIDER TEXT SINGLE -->
              </div>
            </div><!--//.LGX ITEM COMMON // End slider 1-->

        </div><!-- //.OWL CAROUSEL -->
      </div><!-- //.INNER -->
    </div><!-- //.LGX-BANNER-STYLE -->
  </div><!-- //.LGX-SLIDER-CONTENT -->
  <a href="#what-we-do" class="view-more"><span></span></a>
</section>
<!--BANNER END-->

<!-- FOUR PANELS WITH INITIATIVES -->
<section id="what-we-do">
  <div id="lgx-welcome">
    <div class="lgx-inner lgx-panel">
      <div class="container">
        <div class="row">
          <div id="lgx-grid-wrapper" class="lgx-grid-wrapper"> <!--lgx-list-wrapper-->
          <div class="lgx-grid-item col-xs-6 col-sm-6 col-md-3 mob-no-padding">
            <a href="#learn-to-code">
              <div id="code" class="panel panel-default overlay">
                <div class="panel-body center">
                  <div class="col-xs-12 text-center icon"><img src="/images/icons/learn-to-code.png" class="ico center-block img-responsive"/></div>
                  <h4>Learn to Code</h4>
                  <p>Everybody can and should learn to code, start today</p>
                </div>
              </div>
            </a>
          </div>
          <div class="lgx-grid-item col-xs-6 col-sm-6 col-md-3 mob-no-padding">
            <div id="workspace" class="panel panel-default overlay">
              <a href="#rent-workspace">
                <div class="panel-body">
                  <div class="col-xs-12 text-center icon"><img src="/images/icons/rent-workspace.png" class="ico center-block img-responsive"/></div>
                  <h4>Rent Workspace</h4>
                  <p>Rent a desk or space for events, meetings, and more.</p>
                </div>
              </a>
            </div>
          </div>
          <div class="lgx-grid-item col-xs-6 col-sm-6 col-md-3 mob-no-padding">
            <a href="#startups">
              <div id="startup" class="panel panel-default overlay">
                <div class="panel-body">
                  <div class="col-xs-12 text-center icon"><img src="/images/icons/accelerate-your-startup.png" class="ico center-block img-responsive"/></div>
                  <h4>Accelerate your Startup</h4>
                  <p>Let us create custom software for your business.</p>
                </div>
              </div>
            </a>
          </div>
          <div class="lgx-grid-item col-xs-6 col-sm-6 col-md-3 mob-no-padding">
            <div id="software" class="panel panel-default overlay">
              <a href="#software-development">
                <div class="panel-body">
                  <div class="col-xs-12 text-center icon"><img src="/images/icons/software-development.png" class="ico center-block img-responsive"/></div>
                  <h4>Software Development</h4>
                  <p>Let us create custom software for your business</p>
                </div>
              </a>
            </div>
          </div>
        </div>
        </div> <!-- ROW -->
      </div> <!-- CONTAINER-FLUID -->
    </div> <!-- LGX-INNER LGX-PANEL -->
  </div> <!-- LGX-WELCOME -->
</section>


<!--ABOUT-->
<section>
  <div id="lgx-about" class="lgx-about lgx-about-bottom"> <!--lgx-about-bottom-->
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="lgx-about-area">
              <div class="lgx-heading">
                <h2 class="heading-title">Welcome to Awesome Inc</h2>
                <h4 class="heading-subtitle">Pursue your Definition of Awesome</h4>
              </div>
              <div class="lgx-about-content">
                <p class="text">
                  We exist to create and grow high tech startups. We do this by hosting community events, leading technology education courses, and offering a shared workspace environment. Click one of our initiatives above to learn more about Awesome Inc.
                </p>
                <a class="lgx-btn lgx-btn-anim lgx-btn-grey" href="/about">Learn More</a>
              </div>
            </div>
          </div>
        </div> <!--//.ROW-->
      </div> <!-- //.CONTAINER -->
    </div> <!-- //.INNER -->
  </div> 
</section>
<!--ABOUT END-->

<!--CORE VALUES-->
<section id="core-values">
  <div id="lgx-core-values" class="lgx-video-background">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="lgx-video-banner">
              <div class="lgx-heading-video-banner">
                <h2 class="title">Our Core Values</h2>
              </div>
              <div class="lgx-video-banner-info">
                <p class="text">Here at Awesome Inc we not only work by our core values, but live by them too.</p>
              </div>
              <div class="lgx-video-area">
                <figure>
                  <figcaption>
                    <div class="video-icon">
                      <div class="lgx-vertical">
                        <!-- <a id="myModalLabel" class="icon" href="#" data-toggle="modal" data-target="#lgx-modal">
                          <i class="fa fa-play" aria-hidden="true"></i>
                        </a>
                        <p id="watch-cv-video">Watch Video</p> -->
                        <!-- <a id="video-btn" class="lgx-btn lgx-btn-anim lgx-btn-grey" href="#" data-toggle="modal" data-target="#lgx-modal">Watch Video</a>
                        <a class="lgx-btn lgx-btn-anim lgx-btn-grey" href="{{ site.data.routes.culture-book }}" target="_blank" rel="noopener">View our culture book</a> -->
                        <a id="video-btn" href="#" data-toggle="modal" data-target="#lgx-modal">
                          <img src="images/Video_Button.png">
                        </a>
                        <a id="culture-book-btn" href="{{ site.data.routes.culture-book }}" target="_blank" rel="noopener">
                          <img src="images/CultureBook_Button.png">
                        </a>
                      </div>
                    </div>
                  </figcaption>
                </figure>
                <!-- Modal-->
                <div id="lgx-modal" class="modal fade lgx-modal">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      </div>
                      <div class="modal-body">
                        <iframe id="modalvideo" src="https://www.youtube.com/embed/3dylpY4W_xA" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                </div> <!-- //.Modal-->
              </div>
            </div>
          </div>
          <div class="col-md-5 text-center">
            <img src="images/SmallCoreValues.png">
          </div>
        </div>
      </div><!-- //.CONTAINER -->
    </div><!-- //.INNER -->
  </div>
</section>
<!--CORE VALUES END-->


<!--EVENTS-->
{% assign events = site.data.events.current | sort:'date' %}
{% for event in events reversed %}
  {% if event.feature == true %}
    {% assign feature_event = event %}
    {% assign rem_index = forloop.index | minus: events.size | plus: 1 %}
  {% endif %}
{% endfor %}
<section>
  <div id="lgx-events" class="lgx-events">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="lgx-heading">
              <h2 class="heading-title">Upcoming Events</h2>
              <h4 class="heading-subtitle">Join us and be a part of the startup community!</h4>
            </div>
          </div>
        </div>
        <!--//.ROW-->
        <div class="row">
          <div class="col-xs-12">
            <div class="lgx-events-area">
              <div class="row">
                <div class="col-md-6">
                  <div class="lgx-featured-event">
                    <figure>
                      <a href="{{ feature_event.eventbrite_url }}">
                        <img src="{{ feature_event.image_url }}" alt="featured event">
                      </a>
                      <figcaption>
                        <div class="figcaption">
                        </div>
                        <div class="event-info">
                          <div class="date">
                            <h4>{{ feature_event.date | date: '%-d'}}<span>{{ feature_event.date | date: '%b' }}</span></h4>
                          </div>
                          <div class="info-right">
                            <p>{{ feature_event.date | date: '%I:%M %P' }}</p>
                            <h4 class="location">{{ feature_event.location }}</h4>
                            <h3 class="title">
                              <a href="{{ site.data.routes.events }}">{{ feature_event.title }}</a>
                            </h3>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                </div>
                {% assign counter = 0 %}
                {% for event in events %}
                  {% if forloop.index == rem_index %}
                    {% continue %}
                  {% else %}
                    <div class="col-md-6">
                      <div class="lgx-single-event">
                        <div class="thumb">
                          <a href="{{ site.data.routes.events }}"><img src="{{ event.image_url }}" alt="event"></a>
                        </div>
                        <div class="event-info">
                          <a class="date" href="{{ site.data.routes.events }}">{{ event.date | date: '%B %-d, %Y' }}</a>
                          <h4 class="location">{{ event.location }}</h4>
                          <h3 class="title"><a href="{{ site.data.routes.events }}">{{ event.title }}</a></h3>
                        </div>
                      </div>
                    </div>
                    {% assign counter = counter | plus: 1 %}
                  {% endif %}
                  {% if counter == 3 %}
                    {% break %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <!--//.ROW-->
      </div>
      <!-- //.CONTAINER -->
    </div>
    <!-- //.INNER -->
  </div>
</section>
<!--EVENTS END-->


<!-- CODING COURSES -->
<section id="learn-to-code">
  <div id="lgx-courses" class="lgx-courses">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="lgx-heading lgx-heading-white">
              <h2 class="heading-title">Coding Courses</h2>
              <h4 class="heading-subtitle uppercase">Made for any level</h4>
            </div>
          </div>
        </div>
        <!--//.ROW-->

          <div class="row row-eq-height">
            <div id="lgx-grid-wrapper" class="lgx-grid-wrapper"> <!--lgx-list-wrapper-->

              <!-- BEGIN COURSE -->
              <div class="lgx-grid-item col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-0 col-md-4 design"> 
                <div class="lgx-single-course">
                  <div class="lgx-single-course-inner">
                    <figure>
                      <img src="/images/instructor-teaching-coding.jpg" alt="course">
                      <figcaption>
                        <div class="lgx-hover-link">
                          <div class="lgx-vertical">
                            <a href="{{ site.data.routes.club }}">
                              <i class="fa fa-book"></i>
                            </a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="course-info">
                      <div class="course-author">
                        <img src="/images/icons/coding-club.png" alt="course">
                        <div class="author-info">
                          <h4 class="title uppercase"><a href="{{ site.data.routes.club }}">Coding Club</a></h4>
                          <h5 class="subtitle uppercase">Beginner</h5>
                        </div>
                      </div>
                      <p>Coding Club is our program for students who want to learn a basic understanding of computer programming under the instruction of our fun and energetic team.</p>
                      <div class="course-bottom">
                        <ul class="list-inline">
                          <li><a href="{{ site.data.routes.club }}"><i class="fa fa-user-circle"></i>Ages 9-12</a></li>
                          <li><a href="{{ site.data.routes.club }}"><i class="fa fa-commenting"></i>Learn More</a></li>
                        </ul>

                      </div>
                    </div><!-- COURSE INFO -->
                  </div><!-- SINGLE COURSE INNER -->
                </div><!-- SINGLE COURSE -->
              </div><!--//ITEM-->
              <!-- END COURSE -->

              <!-- BEGIN COURSE -->
              <div class="lgx-grid-item col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-0 col-md-4 design"> 
                <div class="lgx-single-course">
                  <div class="lgx-single-course-inner">
                    <figure>
                      <img src="/images/girl-student-learning-to-code.jpg" alt="course">
                      <figcaption>
                        <div class="lgx-hover-link">
                          <div class="lgx-vertical">
                            <a href="{{ site.data.routes.league }}">
                              <i class="fa fa-book"></i>
                            </a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="course-info">
                      <div class="course-author">
                        <img src="/images/icons/coding-league.png" alt="course">
                        <div class="author-info">
                          <h4 class="title uppercase"><a href="{{ site.data.routes.league }}">Coding League</a></h4>
                          <h5 class="subtitle uppercase">Intermediate</h5>
                        </div>
                      </div>
                      <p>What happens when you've pushed the limits of block-based programming languages like Scratch? It's time to start using more powerful, professional-grade tools.</p>
                      <div class="course-bottom">
                        <ul class="list-inline">
                          <li><a href="{{ site.data.routes.league }}"><i class="fa fa-user-circle"></i>Ages 11-14</a></li>
                          <li><a href="{{ site.data.routes.league }}"><i class="fa fa-commenting"></i>Learn More</a></li>
                        </ul>

                      </div>
                    </div><!-- COURSE INFO -->
                  </div><!-- SINGLE COURSE INNER -->
                </div><!-- SINGLE COURSE -->
              </div><!--//ITEM-->
              <!-- END COURSE -->

              <!-- BEGIN COURSE -->
              <div class="lgx-grid-item col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-0 col-md-4 design"> 
                <div class="lgx-single-course">
                  <div class="lgx-single-course-inner">
                    <figure>
                      <img src="/images/student-learning-data-structures.jpg" alt="course">
                      <figcaption>
                        <div class="lgx-hover-link">
                          <div class="lgx-vertical">
                            <a href="{{ site.data.routes.academy }}">
                              <i class="fa fa-book"></i>
                            </a>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <div class="course-info">
                      <div class="course-author">
                        <img src="/images/icons/the-academy.png" alt="course">
                        <div class="author-info">
                          <h4 class="title uppercase"><a href="{{ site.data.routes.academy }}">The Academy</a></h4>
                          <h5 class="subtitle uppercase">Advanced</h5>
                        </div>
                      </div>
                      <p>The Academy is our premier training program for high school students who aspire to be software developers. Make your own Apps, Games, and Websites.</p>
                      <div class="course-bottom">
                        <ul class="list-inline">
                          <li><a href="{{ site.data.routes.academy }}"><i class="fa fa-user-circle"></i>Ages 13-18</a></li>
                          <li><a href="{{ site.data.routes.academy }}"><i class="fa fa-commenting"></i>Learn More</a></li>
                        </ul>

                      </div>
                    </div><!-- COURSE INFO -->
                  </div><!-- SINGLE COURSE INNER -->
                </div><!-- SINGLE COURSE -->
              </div><!--//ITEM-->
              <!-- END COURSE -->
            </div>
          </div><!--//. ROW-->

          <div class="row">
            <div class="col-xs-12">
              <div class="lgx-button-wrapper">
                <a class="lgx-btn lgx-btn-anim lgx-btn-grey-light" href="/learn">Learn More</a>
              </div>
            </div>
          </div><!--//. ROW-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END CODING COURSES -->

<section id="three-initiatives">
  <!-- STARTUPS -->
  <section id="startups">
    <div id="lgx-startups" class="lgx-startups">
      <div class="lgx-inner lgx-banner-info">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="lgx-heading lgx-heading">
                <h2 class="heading-title">Startups</h2>
                <h4 class="heading-subtitle uppercase">Join Our Program</h4>
              </div>
            </div>
          </div>
          <div class="row row-eq-height">
            <div class="col-xs-12 col-sm-4 thin-column">
              <div class="text-center icon"><a href="{{ site.data.routes.idea-form }}"><img class="circular bright-red-bg" src="/images/icons/startups-pitch.png" alt="Pitch your idea"></a></div>
              <h4 class="subtitle text-center">Pitch Your Idea</h4>
              <p class="text text-center">We offer outlets for your idea to be heard. Share your idea with us or learn more about events that promote entrepreneurship.</p>
            </div>
            <div class="col-xs-12 col-sm-4 thin-column">
              <div class="text-center icon"><a href="{{ site.data.routes.fellowship }}"><img class="circular bright-red-bg" src="/images/icons/accelerate-your-startup.png" alt="accelerate your startup"></a></div>
              <a href="{{ site.data.routes.fellowship }}"><h4 class="subtitle text-center">Accelerate Your Startup</h4></a>
              <p class="text text-center">Our <b>Fellowship Program</b> is mentor-driven, designed to accelerate your high-tech startup. Learn about the Fellowship Program as well as our other programs designed to foster your startup's growth.</p>
            </div>
            <div class="col-xs-12 col-sm-4 thin-column">
              <div class="text-center icon"><a href="https://www.entrepreneurhof.com/"><img class="circular bright-red-bg" src="/images/icons/startups-showcase.png" alt="Showcase entrepreneurship"></a></div>
              <a href="https://www.entrepreneurhof.com/"><h4 class="subtitle text-center">Showcasing Kentucky Entrepreneurs</h4></a>
              <p class="text text-center">Discover the impact that Entrepreneurship has made in the Commonwealth.</p>
            </div>
          </div> 
        </div> <!-- /container -->
      </div> <!-- /lgx-inner -->
      <svg class="shape" id="top-triangle" viewbox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0,100 101,0 101,101"></polygon> 
      </svg>
      <svg class="vert-line" id="top-line" viewbox="0 0 100 100" preserveAspectRatio="none">
        <line x1="3" y1="0" x2="3" y2="100"/>
      </svg>
    </div> <!-- lgx-startups -->
  </section>
  <!-- END STARTUPS -->
  
  <!-- WORKSPACE -->
  <section id="rent-workspace">
    <div id="lgx-workspace" class="lgx-workspace">
      <div class="lgx-inner">
        <div class="container">
          <div class="row">
            <div class="lgx-heading-area ">
              <div class="lgx-heading">
                <h2 class="heading-title">
                  <span>Workspace</span>
                </h2>
                <h4 class="heading-subtitle uppercase">Join our Workspace</h4>
              </div>
            </div>
          </div> <!-- row -->
          <div class="pinned-button">
            {% include modal-form.html initiative='tour' style='img-button' img-color='red' %}
          </div>
          <div id="desk-bg" class="row">
            <div class="col-sm-6" style="position: relative">
              <div class="card" data-aos="fade-down">
                <a href="{{ site.data.routes.workspace }}">
                  <h4>Functional Workspace</h4>
                  <p>An awesome space to work or host your next meeting.</p>
                </a>
              </div>
            </div>
            <div class="col-sm-6" style="position: relative">
              <div class="card push-down" data-aos="fade-up">
                <a href="{{ site.data.routes.workspace }}">
                  <h4>Membership Benefits</h4>
                  <p>Flexible membership options and features to support your business operations.</p>
                </a>
              </div>
            </div> 
          </div> <!-- desk bg -->
        </div> <!-- container -->
      </div> <!-- lgx inner -->
      <svg class="vert-line" id="bottom-line" viewbox="0 0 100 100" preserveAspectRatio="none">
        <line x1="5" y1="0" x2="5" y2="100"/>
      </svg>
      <svg class="shape" id="bottom-triangle" viewbox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0,0 101,0 0,101"></polygon> 
      </svg>
    </div>
  </section>
  <!-- END WORKSPACE -->
  
  
  <!-- SOFTWARE DEVELOPMENT -->
  <section id="software-development">
    <div id="lgx-software" class="lgx-software">
      <div class="lgx-inner">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="lgx-heading">
                <h2 class="heading-title">Software Development</h2>
                <h3 class="subtitle">Let us create custom software for your business</h3>
              </div>
            </div>
          </div> <!-- row -->
          <div class="row row-eq-height">
            <div class="col-xs-12 col-sm-4 thin-column">
              <svg class="vert-line border border-right" viewbox="0 0 100 100" preserveAspectRatio="none">
                <line x1="2" y1="0" x2="2" y2="100"/>
              </svg>
              <div class="text-center icon"><a href="https://www.apaxsoftware.com/"><img src="/images/icons/development-apps-websites.png" alt="app and web development"></a></div>
              <a href="https://www.apaxsoftware.com/"><h4 class="subtitle text-center">Mobile Apps + Websites</h4></a>
              <p class="text text-center">Our expert team of web developers build websites and mobile applications that are fast, secure, and easy to maintain.</p>
            </div>
            <div class="col-xs-12 col-sm-4 thin-column">
              <svg class="vert-line border border-right" viewbox="0 0 100 100" preserveAspectRatio="none">
                <line x1="2" y1="0" x2="2" y2="100"/>
              </svg>
              <div class="text-center icon"><a href="https://www.apaxsoftware.com/"><img src="/images/icons/development-consulting.png" alt="software development consulting"></a></div>
              <a href="https://www.apaxsoftware.com/"><h4 class="subtitle text-center">Software Consulting</h4></a>
              <p class="text text-center">We make clients part of our streamlined process by facilitating reviews and planning sessions during all parts of the development cycle.</p>
            </div>
            <div class="col-xs-12 col-sm-4 thin-column">
              <div class="text-center icon"><a href="https://www.apaxsoftware.com/"><img src="/images/icons/development-design.png" alt="software development consulting"></a></div>
              <a href="https://www.apaxsoftware.com/"><h4 class="subtitle text-center">Graphic Design</h4></a>
              <p class="text text-center">Our UI/UX design services transform your project, increasing user satisfaction, reducing development costs, and delivering a high ROI.</p>
            </div>
          </div> <!-- row -->
        </div> <!-- container -->
      </div> <!-- inner -->
    </div> 
  </section>
  <!-- END SOFTWARE DEVELOPMENT -->
</section>




<!--BLOG -->
<section>
  <div id="lgx-blog" class="lgx-blog">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="lgx-heading lgx-heading-white">
              <h2 class="heading-title">Blog</h2>
            </div>
          </div>
        </div><!--//.ROW-->
        <div class="row">
          <div class="col-sm-12">
            <div class="lgx-subscriber-area">
              <h4 class="title">Don’t miss any updates of our new templates and extensions and all the astonishing offers we bring for you.</h4>
              <div class="lgx-subscriber">
                <form name="contact" method="POST" data-netlify="true" class="subscribe-form" >
                  <div class="form-group">
                    <input name="email" type="email" id="subscribe" placeholder="Ex: yourname@gmail.com" class="form-control lgx-input-form form-control" />
                  </div>
                  <div class="form-group">
                    <button type="submit" name="lgx-submit" id="lgx-submit" class="lgx-submit the-submit-btn rippler rippler-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                  </div>
                </form>
              </div> <!--//.SUBSCRIBE-->
            </div>
          </div>
        </div><!--//.ROW-->
        </div>
      </div><!-- //.CONTAINER -->
    </div><!-- //.INNER -->
  </div>
</section>
<!--BLOG END-->

