---
title: Internships
layout: default
permalink: "/internships"
page_id: internships
---

<!-- Header Section -->
<section>
  <div id="internship-header">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-7">
            <div class="lgx-heading-area">
              <div class="lgx-heading">
                <h2 class="heading-title">Looking for an Internship?</h2>
                <h4 class="heading-subtitle">Does endless Double Stuf Oreos sound awesome to you? Do you want to join the coolest team in town? Apply to be a part of Team Alpha today!</h4>
              </div>
            </div>
          </div>
        </div><!--//.ROW-->
      </div><!-- //.CONTAINER -->
    </div><!-- //.INNER -->
  </div>
</section>

<!-- Why Section -->
<section>
  <div id="internship-why">
    <svg viewbox="0 0 100 100" preserveAspectRatio="none" id="top-angle">
      <polygon points="0,0 101,0 0,100"></polygon> 
    </svg>
    <svg viewbox="0 0 100 100" preserveAspectRatio="none" id="bottom-angle">
      <polygon points="101,0 0,100, 100,100"></polygon> 
    </svg>
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            {% include modal-form.html initiative='team-alpha' link-text='Apply Now' %}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-8">
            <div class="lgx-heading lgx-heading-white">
              <h2 class="heading-title">Why We're Awesome</h2>
            </div>
          </div>
        </div><!--//.ROW-->
        <div class="row">
          <div class="col-sm-12 col-md-8">
            <p>
              Team Alpha is a group of about 20 talented interns that learn, work, and have fun with each other to help make Awesome Inc, and our community, a better place to live and work. There are no age or time restrictions, we just require that you follow our <a href="/#core-values">core values</a>.
            </p>
            <p>
              Team Alpha's captain, Emily, is way more fun than any other boss you'll ever have. Our Video Team gets to hang out with millionaires, like the Dippin' Dots inventor. Our Development Team gets to work on sweet mobile apps and code websites, such as EntrepreneurHOF.com. The Events & Marketing Team help plan fun ways to build community, while pushing out creative marketing strategies. And the Graphic Design Team gets to create everything that all of our teams and initiatives use like flyers, social media images, and more!
            </p>
          </div>
        </div>
      </div><!-- //.CONTAINER -->
    </div><!-- //.INNER -->
  </div>
</section>

<section>
  <div id="internship-team">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="lgx-heading-area">
              <div class="lgx-heading">
                <h2 class="heading-title">Find the right team for you</h2>
              </div>
            </div>
          </div>
        </div><!--//.ROW-->
        <div class="row">
          <div class="col-sm-6 col-md-4 col-md-offset-2">
            <div class="img-banner">
              <div class="img-outline-offset-left">
                <img class="lazyload" data-src="/images/intern-video.jpg" alt="Video Internship"/>
                <a class="lgx-btn lgx-btn-grey" href="#" data-toggle="modal" data-target="#lgx-modal-video">Video</a>
              </div>
            </div>
            <!-- Video-->
            <div id="lgx-modal-video" class="modal fade lgx-modal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                  </div>
                  <div class="modal-body">
                    <iframe id="modalvideo" src="https://www.youtube.com/embed/Xhs6weqDvfg" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div> <!-- //.Video-->
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="img-banner">
              <div class="img-outline-offset-left">
                <img class="lazyload" data-src="/images/intern-develpment.jpg" alt="Development Internship"/>
                <a class="lgx-btn lgx-btn-grey" href="#" data-toggle="modal" data-target="#lgx-modal-dev">Development</a>
              </div>
            </div>
            <!-- Video-->
            <div id="lgx-modal-dev" class="modal fade lgx-modal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                  </div>
                  <div class="modal-body">
                    <iframe id="modalvideo" src="https://www.youtube.com/embed/sflZ2tFXMIY" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div> <!-- //.Video-->
          </div>
        </div><!--//.ROW-->
        <div class="row">
          <div class="col-sm-6 col-md-4 col-md-offset-2">
            <div class="img-banner">
              <div class="img-outline-offset-left">
                <img class="lazyload" data-src="/images/intern-events-marketing.jpg" alt="Events and Marketing Internship"/>
                <a class="lgx-btn lgx-btn-grey" href="#" data-toggle="modal" data-target="#lgx-modal-market">Events + Marketing</a>
              </div>
            </div>
            <!-- Video-->
            <div id="lgx-modal-market" class="modal fade lgx-modal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                  </div>
                  <div class="modal-body">
                    <iframe id="modalvideo" src="https://www.youtube.com/embed/kyp3acHFCZA" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div> <!-- //.Video-->
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="img-banner">
              <div class="img-outline-offset-left">
                <img class="lazyload" data-src="/images/intern-design.jpg" alt="Design Internship"/>
                <a class="lgx-btn lgx-btn-grey" href="#" data-toggle="modal" data-target="#lgx-modal-design">Design</a>
              </div>
            </div>
            <!-- Video-->
            <div id="lgx-modal-design" class="modal fade lgx-modal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                  </div>
                  <div class="modal-body">
                    <iframe id="modalvideo" src="https://www.youtube.com/embed/_t21lollr1c" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div> <!-- //.Video-->
          </div>
        </div><!--//.ROW-->
      </div><!-- //.CONTAINER -->
    </div><!-- //.INNER -->
    {% include modal-form.html initiative='team-alpha' link-text='Apply Now' style='dotted' %}
  </div>
</section>

<section>
  <div id="who-we-look-for">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <svg id="left-border" class="border mobile-hide" viewBox="0 0 1 100" preserveAspectRatio="none">
              <line x1="0.5" y1="0" x2="0.5" y2="100"/>
            </svg>
            <svg id="bottom-border" class="border mobile-hide" viewBox="0 0 100 1" preserveAspectRatio="none">
              <line x1="0" y1="0.5" x2="100" y2="0.5"/>
            </svg>
            <svg id="right-border" class="border mobile-hide" viewBox="0 0 100 1" preserveAspectRatio="none">
              <line x1="0" y1="0.5" x2="100" y2="0.5"/>
            </svg>
            <div class="lgx-heading-area border-svg">
              <div class="lgx-heading">
                <h2 class="heading-title"><span>Who we're looking for</span></h2>
                <p class="heading-subtitle">
                  We're looking for anyone who wants to have fun and follow Rule #4: "Always do something awesome over something not awesome." Our primary needs are for people interested in video, web development, and graphic design. We also need event coordinators, social media whizzes, marketing, and PR people, as well as writers for our blogs.
                </p>
              </div>
            </div>
          </div>
        </div><!--//.ROW-->
      </div><!-- //.CONTAINER -->
    </div><!-- //.INNER -->
  </div>
</section>

<section>
  <div id="why-join">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 hidden-xs">
            <img class="lazyload" data-src="images/icons/question.png"/>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-6">
            <div class="lgx-heading-area">
              <div class="lgx-heading">
                <h2 class="heading-title">Why Join?</h2>
                <div class="lgx-heading-content">
                  <p>
                    In addition to the free t-shirt, Team Alpha provides you with an opportunity to improve your skills, portfolio and network. Our goal is to assure you the best experience by helping you achieve your goals whether that is getting into your dream school or working for your favorite company. Also, if you're good enough, you can get a sweet nickname like Melo, Cool, Fresh, Rush, and Nerf did.
                  </p>
                </div>
              </div><!--LGX-HEADING-->
            </div><!--LGX HEADING AREA-->
          </div>
        </div><!--//.ROW-->
        <div class="row text-center">
          {% include modal-form.html initiative='team-alpha' link-text='Apply Now' %}
        </div>
      </div><!-- //.CONTAINER -->
    </div><!-- //.INNER -->
  </div>
</section>

<section>
  <div id="our-team">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <a href="/team-alpha">
              <div class="center-block">
                <div class="img-outline-offset-left">                
                  <img class="teamalpha lazyload" data-src="images/teamalpha/emilywehrle-wall.jpg"/>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="/team-alpha">
              <div class="center-block">
                <div class="img-outline-offset-left">
                  <img class="teamalpha lazyload" data-src="images/teamalpha/kyleraney-wall.jpg"/>
                </div>
              </div>
            </a>
          </div>           
          <div class="col-xs-6 col-md-3">
            <a href="/team-alpha">
              <div class="center-block">
                <div class="img-outline-offset-left">
                  <img class="teamalpha lazyload" data-src="images/teamalpha/jacquelinebenson-wall.jpg"/>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="/team-alpha">
              <div class="center-block">
                <div class="img-outline-offset-left">    
                  <img class="teamalpha lazyload" data-src="images/teamalpha/rossladenburger-wall.jpg"/>
                </div>
              </div>
            </a>
          </div>            
        </div><!--//.ROW-->
      </div><!-- //.CONTAINER -->
    </div><!-- //.INNER -->
  </div>
</section>