---
title: Internships
layout: default
permalink: "/internships"
page_id: internships
---

<!-- Header Section -->
<section>
  <div id="internship-header">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-7">
            <div class="lgx-heading-area">
              <div class="lgx-heading">
                <h2 class="heading-title">Looking for an Internship?</h2>
                <h4 class="heading-subtitle">If you’re looking to build your skillset with real projects while building the tech & startup community in Lexington, we’d love to chat. Did we mention we eat a *lot* of Oreos.</h4>
              </div>
            </div>
          </div>
        </div><!--.ROW-->
      </div><!-- .CONTAINER -->
    </div><!-- .INNER -->
  </div>
</section>

<!-- Why Section -->
<section>
  <div id="internship-why">
    <svg viewbox="0 0 100 100" preserveAspectRatio="none" id="top-angle">
      <polygon points="0,0 101,0 0,100"></polygon> 
    </svg>
    <svg viewbox="0 0 100 100" preserveAspectRatio="none" id="bottom-angle">
      <polygon points="101,0 0,100, 100,100"></polygon> 
    </svg>
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            {% include modal-form.html initiative='team-alpha' link-text='Apply Now' %}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-8">
            <div class="lgx-heading lgx-heading-white">
              <h2 class="heading-title">About Team Alpha</h2>
            </div>
          </div>
        </div><!--//.ROW-->
        <div class="row">
          <div class="col-sm-12 col-md-8">
            <p>
              Our interns, or Team Alpha as we prefer, are integral parts in helping us make Lexington a better place to live and work. We want you to bring your passion, curiosity, determination, and healthy disregard of the fear of failure. Together, we can grow the tech and startup ecosystem and we promise not to take ourselves too seriously while we’re at it.
            </p>
          </div>
        </div>
      </div><!-- .CONTAINER -->
    </div><!-- .INNER -->
  </div>
</section>

<section>
  <div id="internship-team">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="lgx-heading-area">
              <div class="lgx-heading">
                <h2 class="heading-title">Find the right team for you</h2>
              </div>
            </div>
          </div>
        </div><!--.ROW-->
        <div class="row">
          <div class="col-sm-6 col-md-4 col-md-offset-2">
            <div class="img-banner">
              <div class="img-outline-offset-left">
                <img class="lazyload" data-src="/images/intern-video.jpg" alt="Video Internship"/>
                <a class="lgx-btn lgx-btn-grey" href="#" data-toggle="modal" data-target="#lgx-modal-video">Video</a>
             </div>
            </div>
            <!-- Video-->
            <body>

<div class="container">
  <!-- Modal -->
  <div class="modal fade modal-black" id="lgx-modal-video" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">X</button>
        </div>
        <div class="modal-body">
         <iframe width="565" height="450"  src="https://www.youtube.com/watch?v=YKbZWgiRKk" allowfullscreen></iframe>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

</body>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="img-banner">
              <div class="img-outline-offset-left">
                <img class="lazyload" data-src="/images/intern-develpment.jpg" alt="Development Internship"/>
                <a class="lgx-btn lgx-btn-grey" href="#" data-toggle="modal" data-target="#lgx-modal-dev">Development</a>
              </div>
            </div>
            <!-- Video-->
            <body>
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="lgx-modal-dev" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">X</button>
        </div>
        <div class="modal-body">
         <iframe width="565" height="450" src="https://www.youtube.com/embed/sflZ2tFXMIY" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

</body>
          </div>
        </div><!--.ROW-->
        <div class="row">
          <div class="col-sm-6 col-md-4 col-md-offset-2">
            <div class="img-banner">
              <div class="img-outline-offset-left">
                <img class="lazyload" data-src="/images/intern-events-marketing.jpg" alt="Events and Marketing Internship"/>
                <a class="lgx-btn lgx-btn-grey" href="#" data-toggle="modal" data-target="#lgx-modal-market">Events + Marketing</a>
              </div>
            </div>
            <!-- Video-->
            <body>

<div class="container">
  <!-- Modal -->
  <div class="modal fade modal-black" id="lgx-modal-market" role="dialog">
    <div class="modal-dialog">
   
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">X</button>
        </div>
        <div class="modal-body">
         <iframe width="565" height="450"  src="https://www.youtube.com/embed/kyp3acHFCZA" allowfullscreen></iframe>
        </div>
      </div>

    </div>
  </div>
 
</div>

</body>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="img-banner">
              <div class="img-outline-offset-left">
                <img class="lazyload" data-src="/images/intern-design.jpg" alt="Design Internship"/>
                <a class="lgx-btn lgx-btn-grey" href="#" data-toggle="modal" data-target="#lgx-modal-design">Design</a>
              </div>
            </div>
            <!-- Video-->
            <body>

<div class="container">
  <!-- Modal -->
  <div class="modal fade modal-black" id="lgx-modal-design" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">X</button>
        </div>
        <div class="modal-body">
         <iframe width="565" height="450"  src="https://www.youtube.com/embed/_t21lollr1c" allowfullscreen></iframe>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
          </div>
        </div><!--//.ROW-->
      </div><!-- //.CONTAINER -->
    </div><!-- //.INNER -->
    {% include modal-form.html initiative='team-alpha' link-text='Apply Now' style='dotted' %}
  </div>
</section>

<section>
  <div id="who-we-look-for">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="text-center">
              <a class="lgx-btn lgx-btn-grey" href="https://youtu.be/OCG3FIviexc">
                <span>Watch Video</span>
              </a> 
            </div>
          </div> <!-- col -->
        </div><!-- row -->
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <svg id="left-border" class="border mobile-hide" viewBox="0 0 1 100" preserveAspectRatio="none">
              <line x1="0.5" y1="0" x2="0.5" y2="100"/>
            </svg>
            <svg id="bottom-border" class="border mobile-hide" viewBox="0 0 100 1" preserveAspectRatio="none">
              <line x1="0" y1="0.5" x2="100" y2="0.5"/>
            </svg>
            <svg id="right-border" class="border mobile-hide" viewBox="0 0 100 1" preserveAspectRatio="none">
              <line x1="0" y1="0.5" x2="100" y2="0.5"/>
            </svg>
            <div class="lgx-heading-area border-svg">
              <div class="lgx-heading">
                <h2 class="heading-title"><span>Who we're looking for</span></h2>
                <p class="heading-subtitle">
                  We’re looking for interns to join any of our teams for a 20ish week internship in Lexington, KY. Interns produce compelling videos to tell stories that matter, create web applications that improve processes and efficiency, build community by bringing people together through our communication channels, and design visual graphics that keep all of the above creative and cohesive.
                </p>
              </div>
            </div>
          </div>
        </div><!--.ROW-->
      </div><!-- .CONTAINER -->
    </div><!-- .INNER -->
  </div>
</section>

<section>
  <div id="why-join">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 hidden-xs">
            <img class="lazyload" data-src="images/icons/question.png"/>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-6">
            <div class="lgx-heading-area">
              <div class="lgx-heading">
                <h2 class="heading-title">Why Join?</h2>
                <div class="lgx-heading-content">
                  <p>
                    In addition to the free t-shirt, we’ll provide you with an opportunity to improve your skills, portfolio and network. Our goal is to assure you the best experience by helping you achieve your goals whether that is getting into your dream school or working for your favorite company.
                  </p>
                </div>
              </div><!--LGX-HEADING-->
            </div><!--LGX HEADING AREA-->
          </div>
        </div><!--//.ROW-->
        <div class="row text-center">
          {% include modal-form.html initiative='team-alpha' link-text='Apply Now' %}
        </div>
      </div><!-- //.CONTAINER -->
    </div><!-- //.INNER -->
  </div>
</section>

<section>
  <div id="our-team">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <a href="/team-alpha">
              <div class="center-block">
                <div class="img-outline-offset-left">                
                  <img class="teamalpha lazyload" data-src="images/teamalpha/emilywehrle-wall.jpg"/>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="/team-alpha">
              <div class="center-block">
                <div class="img-outline-offset-left">
                  <img class="teamalpha lazyload" data-src="images/teamalpha/kyleraney-wall.jpg"/>
                </div>
              </div>
            </a>
          </div>           
          <div class="col-xs-6 col-md-3">
            <a href="/team-alpha">
              <div class="center-block">
                <div class="img-outline-offset-left">
                  <img class="teamalpha lazyload" data-src="images/teamalpha/jacquelinebenson-wall.jpg"/>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <a href="/team-alpha">
              <div class="center-block">
                <div class="img-outline-offset-left">    
                  <img class="teamalpha lazyload" data-src="images/teamalpha/garrettfahrbach-wall.jpg"/>
                </div>
              </div>
            </a>
          </div>            
        </div><!--//.ROW-->
      </div><!-- //.CONTAINER -->
    <div class="container mx-auto">
        <div class="row text-center">
            <a class="lgx-btn lgx-btn-anim lgx-btn-red" href="/team-alpha" id="meet-team">Meet the Team</a>
        </div>
    </div>
    </div><!-- //.INNER -->
  </div>
</section>
