---
title: Mentors
layout: default
permalink: "mentors/"
redirect_from:
 - "/fellowship/mentors"
---

<!--MENTORS-->
<section>
  <div id="lgx-mentors" class="lgx-mentors">
    <div class="lgx-inner">
      <h1>
        Mentors
      </h1>
      <div class="container" id="mentors">
        <div class="row">
          {% for mentor in site.data.mentors-list %}
          <div class="col-md-5ths col-sm-5ths col-xs-6" align="center">
            <div class="lgx-single-item"> <!--lgx-team-circle-->
              <figure>
                <img src="{{ mentor.image | default: '/images/logos/ainc-logo-triangle-layer-red.png' }}" alt="{{ mentor.lastname }}" width="135" height="135"/>
                <figcaption align="left">
                  <h3 class="item-name">
                    {% if mentor.website %}
                    <a href="{{ mentor.website }}">{{ mentor.firstname }} {{mentor.lastname}}</a>
                    {% else %}
                    {{ mentor.firstname }} {{ mentor.lastname }}
                    {% endif %}
                  </h3>
                  <p>{{ mentor.company }}</p>
                  <div class="item-bottom">
                    <!--<p>{{ mentor.website_text }}</p>-->
                    <ul class="list-inline social-group">
                        {% if mentor.website %}
                        <li><a href="{{ mentor.website }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        {% endif %}
                    </ul>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
          {% endfor %}
        </div><!-- //.ROW -->
      </div><!-- //.CONTAINER -->
    </div><!-- //.INNER -->
  </div>
</section>
<!--MENTORS END-->