---
title: Fellowship Portfolio
layout: sub
permalink: "/fellowship/portfolio"
---

<div class="container">
  <ul class="breadcrumb">
    <li><a href="/"><i class="icon-home6"></i>Home</a></li>
    <li><a href="{{ site.data.routes.fellowship }}"><i class="icon-home6"></i>Fellowship</a></li>
    <li class="active">Portfolio</li>
  </ul>
</div>



<!--PORTFOLIO-->
<section>
  <div id="lgx-portfolio" class="lgx-portfolio">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          {% for team in site.fellowship_portfolio %}
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="lgx-single-team"> <!--lgx-team-circle-->
              <figure>
                <a href="{% if team.website %}{{ team.website }}{% else %}#{% endif %}"><img src="{% if team.logo %}{{ team.logo }}{% else %}images/teamalpha/placeholder-wall.jpg{% endif %}" alt="{{ team.name }} logo"/></a>
                <figcaption>
                  <h3 class="team-name">
                    <a href="{% if team.website %}{{ team.website }}{% else %}#{% endif %}">{{ team.company }}</a>
                    <span class="pull-right">{{ team.date | date: "%Y" }}</span>
                  </h3>
                  <p class="text">{{ team.content }}</p>
                  <div class="team-bottom">
                    <ul class="list-inline social-group">
                      {% if team.facebook %}<li><a href="{{ team.facebook }}"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>{% endif %}
                      {% if team.linkedin %}<li><a href="{{ team.linkedin }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>{% endif %}
                    </ul>
                    {% if team.website %}
                      <a class="link" href="{{ team.website }}"><i class="fa  fa-long-arrow-right" aria-hidden="true"></i></a>
                    {% endif %}
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
          {% endfor %}
        </div><!-- //.ROW -->
      </div><!-- //.CONTAINER -->
    </div><!-- //.INNER -->
  </div>
</section>
<!--PORTFOLIO END-->

<p><a class="lgx-btn" href="{{ site.data.routes.fellowship-apply }}">Apply Now</a></p>
<p><a class="lgx-btn" href="{{ site.data.routes.mentors }}">Mentors</a></p>
<p><a class="lgx-btn" href="{{ site.data.routes.fellowship-perks }}">Perks</a></p>

