---
title: Fellowship Portfolio
layout: sub
permalink: "/fellowship/portfolio"
redirect_from:
 - "/portfolio"
---

<div class="container">
  <ul class="breadcrumb">
    <li><a href="/"><i class="icon-home6"></i>Home</a></li>
    <li><a href="{{ site.data.routes.fellowship }}"><i class="icon-home6"></i>Fellowship</a></li>
    <li class="active">Portfolio</li>
  </ul>
</div>

<p><a class="lgx-btn" href="{{ site.data.routes.fellowship-apply }}">Apply Now</a></p>
<!-- <p><a class="lgx-btn" href="{{ site.data.routes.mentors }}">Mentors</a></p> -->
<p><a class="lgx-btn" href="{{ site.data.routes.fellowship-perks }}">Perks</a></p>

<!--PORTFOLIO-->
<section>
  <div id="lgx-portfolio" class="lgx-portfolio">
    <div class="lgx-inner">
      <div class="container">
        {% assign teams = site.fellowship_portfolio | sort: "date" | reverse %}
        
        {% for team in teams %}
        {% assign check = forloop.index | modulo: 3 %}
        {% if check == 1 or forloop.index == 1 %}
        <div class="row">
        {% endif %}
          
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="lgx-single-team"> <!--lgx-team-circle-->
              <figure>
                  <span class="vert-align-helper"></span>
                  <img 
                    {% if team.logo %}
                      src="{{ team.logo }}" 
                    {% else %}
                      src="/images/teamalpha/placeholder-wall.jpg"
                    {% endif %}
                    alt="{{ team.name }} logo"
                  />
                <figcaption>
                  <h3 class="team-name">
                    <a href="{% if team.website %}{{ team.website }}{% else %}#{% endif %}">{{ team.company }}</a>
                    <span class="pull-right">{{ team.date | date: "%Y" }}</span>
                  </h3>
                  <div class="text">
                    {{ team.content }}
                  </div>
                  <div class="team-bottom">
                    <ul class="list-inline social-group">
                      {% if team.facebook %}<li><a href="{{ team.facebook }}"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>{% endif %}
                      {% if team.linkedin %}<li><a href="{{ team.linkedin }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>{% endif %}
                    </ul>
                    {% if team.website %}
                      <a class="link" href="{{ team.website }}"><i class="fa  fa-long-arrow-right" aria-hidden="true"></i></a>
                    {% endif %}
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
        {% if forloop.last == true or check == 0 and forloop.index != 1 %}
        </div><!-- .ROW -->
        {% endif %}
        {% endfor %}
      </div><!-- .CONTAINER -->
    </div><!-- .INNER -->
  </div>
</section>
<!--PORTFOLIO END-->

<p><a class="lgx-btn" href="{{ site.data.routes.fellowship-apply }}">Apply Now</a></p>
<!-- <p><a class="lgx-btn" href="{{ site.data.routes.mentors }}">Mentors</a></p> -->
<p><a class="lgx-btn" href="{{ site.data.routes.fellowship-perks }}">Perks</a></p>

