---
title: Week of Code Summer Camp
permalink: "/weekofcodetest"
breadcrumb: "/learn/youth/week-of-code/"
layout: course
description: Lexington's &#35;1 Summer Coding Camp
cover: "/img/Awesome-Inc-Week-Of-Code.jpg"
applications: 
redirect_from:
- "/camp/"
- "/summer/"
- "/lexcamp/"
age_group: not_youth
team: aincu
---

{% include woc-buttons-sponsorship.html %}

<h2 id="2020-summer-camps">2020 Summer Camps</h2>
<h3 id="ages-9-16-beginner-intermediate">Ages: 9-16 | Beginner - Intermediate</h3>
<p><em>No experience required</em></p>

<p>Every parent today wants their kids to learn how to interact with technology in a healthy way, make friends, and be prepared for a 21st-century world, including getting into college and finding a job they love and at which they will succeed. Week of Code Summer Camp does all of that.</p>
<h3 id="prepare-your-child-for-a-21st-century-world">Prepare Your Child For a 21st Century World</h3>
<p>At Week of Code, you learn by doing - it&#39;s hands-on, at your pace, and balanced with fun, off-computer activities. You&#39;ll design and develop your very own website, mobile app, and video game in one week. Work with industry-standard hardware and software, complete a final project of your choice, build a portfolio, and bring your new tech knowledge and skills into the real world.</p>
<div class="embed-responsive embed-responsive-16by9"><iframe width="560" height="315" src="https://www.youtube.com/embed/daWr1oOWd-Y" style="border-width:0;" allowfullscreen></iframe></div>

<h3 id="unsure-of-your-summer-plans-make-changes-with-no-fees-up-to-30-days-before-your-start-date-">Unsure of your summer plans? Make changes with no fees up to 30 days before your start date.</h3>
{% include woc-buttons.html %}
<p>In addition to programming time inside, campers will interact with our upbeat team for unplugged activities and games. More than just coding - Week of Code boosts creativity, logical thinking skills, and brain power. The camp is kept small to ensure everyone gets focused attention.</p>
<p><img src="/images/aincu/week-of-code-relay.jpg" style="max-width:100%;" alt="Week of Code Relay"></p>
<h3 id="in-this-course-your-student-will-">In this course, your student will:</h3>
<ul>
<li>Create a video game, website, and a mobile app in one week</li>
<li>Build a foundation of HTML, CSS, JavaScript, Android, C#, Unity 3D</li>
<li>Think like a computer with logic and gates</li>
<li>Analyze how programs work and how code functions</li>
<li>Develop computational thinking skills</li>
</ul>
<h3 id="your-student-will-take-home-">Your student will take home:</h3>
<ul>
<li>Project files and portfolio</li>
</ul>
{% include woc-buttons.html %}
<!--Eventbrite generated ticket form widget-->
<div id="eventbrite-widget-container"></div>

<div>
  <div>
  <h1 style="font-weight:bold;">FAQs</h1>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default"> <!-- QUESTION 1 -->
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <h3>Where is the best place to park near Awesome Inc?</h3>
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p>Free Parking is available for drop-off/pickup. The best location is the parking lot to the east side of our building, in spaces 1-19. See <a href="https://www.awesomeinc.org/parking/" target="_blank">parking map</a> for more details.</p>
          </div>
        </div>
      </div>
      <div class="panel panel-default"> <!-- QUESTION 2 -->
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h3>Do students need their own computer for this course?</h3>
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <p>Yes, each student will need to provide his/her own laptop for the course. Either Microsoft Windows-based PC&#39;s, or Apple Mac OS X computers will work, but iPads and Chromebooks will not work for this course. We recommend a laptop made within the past 3-4 years. Computers should be free from viruses/malware. We have a limited number of <a href="https://squareup.com/market/awesome-inc/laptop-rental" target="_blank">rental laptops available for $25/day.</a></p>
          </div>
        </div>
      </div>
      <div class="panel panel-default"> <!-- QUESTION 3 -->
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h3>Are scholarships available for this course?</h3>
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <p>Yes, a very limited number of partial scholarships are available. You can apply <a href="https://docs.google.com/forms/d/e/1FAIpQLSdBhgRCir2i1Vx8fznceeQtPMaWpD2XDbof8EyLf7HrYv-TQg/viewform" target="_blank">here.</a></p>
          </div>
        </div>
      </div>
    </div> <!-- panel-group -->
  </div>
</div> <!-- /container -->
<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script>
    var exampleCallback = function() {
        console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
        // Required
        widgetType: 'checkout',
        eventId: '96754263607',
        iframeContainerId: 'eventbrite-widget-container',

        // Optional
        iframeContainerHeight: 506,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
        onOrderComplete: exampleCallback  // Method called when an order has successfully completed
    });
</script>

