---
title: Workspace
layout: default
permalink: "/workspace"
page_id: workspace
---

<section>
  <div id="header-workspace">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-4 col-md-4 col-md-offset-6">
            <div class="lgx-heading-area">
              <div class="lgx-heading lgx-heading-white">
                <h2 class="heading-title">Workspace</h2>
                <h4 class="heading-subtitle"><i>Get your best work done here.</i></h4>
              </div>
            </div>
          </div>
        </div><!--//.ROW-->
      </div><!-- //.CONTAINER -->
    </div><!-- //.INNER -->
  </div>
</section>

<section>
  <div id="spotlight-adult">
    <div id="workspace-clip">
      <svg viewbox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0,100 51,101 50,0"></polygon> 
        <!-- middle value is 51 because of bleeding on smaller devices -->
        <polygon points="100,100 50,100 50,0"></polygon>
      </svg>
    </div>
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-md-4" id="see-space-div">
            <h3>See the Space</h3>
            
          </div>
          <div class="col-xs-6 col-md-4">
            <div class="lgx-video-area">
              <div class="video-thumbnail">
                <a class="icon" data-toggle="modal" data-target="#see-space-video-modal" tab-index="-1">
                  <img class="opaque" src="/images/banners/awesome-inc-space-banner.jpg">
                  <i class="fa fa-play " aria-hidden="true"></i>
                </a>
              </div>  
              <img src="/images/icons/arrow.png" id="video-arrow">
              {% include modal-form.html initiative='tour' style='img-button' %}
              <!-- Video Modal-->
              <div id="see-space-video-modal" class="modal fade lgx-modal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body" data-embed="0YgGYadr7rk">
                      <iframe id="modalvideo" src="https://www.youtube.com/embed/" allowfullscreen></iframe>
                    </div>
                </div>
              </div> <!-- //.Modal-->
            </div><!--//.VIDEO-AREA-->
            
          </div><!--//.COL-->
        </div><!--//.ROW-->
      </div><!-- //.CONTAINER -->
    </div><!-- //.INNER -->
  </div><!-- //.SPOTLIGHT --> 
</section>

<section>
  <div id="become-a-member">
    <div class="lgx-inner">
      <div class="container">
        <div class="row row-eq-height">
          <svg id="left-border" class="border mobile-hide" viewBox="0 0 1 100" preserveAspectRatio="none">
            <line x1="0.5" y1="0" x2="0.5" y2="100"/>
          </svg>
          <svg id="bottom-border" class="border mobile-hide" viewBox="0 0 100 1" preserveAspectRatio="none">
            <line x1="0" y1="0.5" x2="100" y2="0.5"/>
          </svg>
          <svg id="right-border" class="border mobile-hide" viewBox="0 0 100 1" preserveAspectRatio="none">
            <line x1="0" y1="0.5" x2="100" y2="0.5"/>
          </svg>
          <div class="lgx-heading-area border-svg">
            <div class="lgx-heading">
              <h2 class="heading-title">
                <span>Become a Member</span>
              </h2>
            </div>
          </div><!-- lgx-heading -->
          <div class="col-sm-4">
            <div class="member-feature-img">
              <img src="images/icons/virtual.png"/>
            </div>
            <h3>Virtual Member</h3>
            <h6>Main Street Mailing Address</h6>
            <h6>4 Hours Prof. Conf. Room per Month</h6>
            <div class="abs-btn"><a class="lgx-btn" href="#" data-toggle="modal" data-target="#member-form-modal">$75/Month</a></div>
          </div>
          <div class="col-sm-4">
            <div class="member-feature-img">
              <img src="images/icons/full-time.png" id="member-feature"/>
            </div>
            <h3>Open Desk Member</h3>
            <h6>24/7 Access to Our Space</h6>
            <h6>10 Hours Prof. Conf. Room per Month</h6>
            <div class="abs-btn"><a class="lgx-btn" href="#" data-toggle="modal" data-target="#member-form-modal">$250/Month</a></div>
          </div>
          <div class="col-sm-4">
            <div class="member-feature-img">
              <img src="images/icons/day-pass.png"/>
            </div>
            <h3>Private Office</h3>
            <h6>Space to suit your team</h6>
            <h6>Up To 20 Conference Room Hours Per Month</h6>
            <div class="abs-btn long-text"><a class="lgx-btn" href="#" data-toggle="modal" data-target="#member-form-modal"><span>Starting at</span> $400/Month</a></div>
          </div>
        </div><!--//.ROW-->
      </div><!-- //.CONTAINER -->
    </div><!-- //.INNER -->
    {% include modal-form.html initiative='member-form' style='no-button' %}
  </div> 
</section>


<section>
  <div id="member-amenities">
    <div class="lgx-inner">
      <div class="container">
        <div class="row">
          <div class="lgx-heading-area">
            <div class="lgx-heading">
              <h2 class="heading-title">
                Membership Amenities
              </h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <!-- Amenity -->
            <div class="col-sm-6">
              <div class="inline-block amenity">
                <img src="images/icons/wifi.png" class="img-responsive inline-block"/>
                <p class="inline-block">Secure Wi-Fi, Gigabit Internet</p>
              </div>
            </div>
            <!-- Amenity End -->
            <!-- Amenity -->
            <div class="col-sm-6">
              <div class="inline-block amenity">
                <img src="images/icons/mailing.png" class="img-responsive inline-block"/>
                <p class="inline-block">Downtown Mailing Address</p>
              </div>
            </div>
            <!-- Amenity End -->
            <!-- Amenity -->
            <div class="col-sm-6">
              <div class="inline-block amenity">
                <img src="images/icons/conference.png" class="img-responsive inline-block"/>
                <p class="inline-block">Conference + Meeting Rooms</p>
              </div>
            </div>
            <!-- Amenity End -->
            <!-- Amenity -->
            <div class="col-sm-6">
              <div class="inline-block amenity">
                <img src="images/icons/events-hosted.png" class="img-responsive inline-block"/>
                <p class="inline-block">Networking Events</p>
              </div>
            </div>
            <!-- Amenity End -->
            <!-- Amenity -->
            <div class="col-sm-6">
              <div class="inline-block amenity">
                <img src="images/icons/printer.png" class="img-responsive inline-block"/>
                <p class="inline-block">Print + Copy</p>
              </div>
            </div>
            <!-- Amenity End -->
            <!-- Amenity -->
            <div class="col-sm-6">
              <div class="inline-block amenity">
                <img src="images/icons/ping-pong.png" class="img-responsive inline-block"/>
                <p class="inline-block">Breakroom + Kitchen</p>
              </div>
            </div>
            <!-- Amenity End -->
            <!-- Amenity -->
            <div class="col-sm-6">
              <div class="inline-block amenity">
                <img src="images/icons/innovation.png" class="img-responsive inline-block"/>
                <p class="inline-block">Innovative Environment</p>
              </div>
            </div>
            <!-- Amenity End -->
            <!-- Amenity -->
            <div class="col-sm-6">
              <div class="inline-block amenity">
                <img src="images/icons/mentor.png" class="img-responsive inline-block"/>
                <p class="inline-block">Mentorship</p>
              </div>
            </div>
            <!-- Amenity End -->
            <!-- Amenity -->
            <div class="col-sm-6">
              <div class="inline-block amenity">
                <img src="images/icons/locker.png" class="img-responsive inline-block"/>
                <p class="inline-block">Storage Lockers</p>
              </div>
            </div>
            <!-- Amenity End -->
          </div>
        </div><!--//.ROW-->
      </div><!-- //.CONTAINER -->
    </div><!-- //.INNER -->
    {% include modal-form.html style='dotted' initiative='tour' link-text='Schedule a Tour'%}
  </div> 
</section>