---
title: Coding Courses for Youth
layout: default
description: Awesome Inc U helps people learn to code so they can make their apps, games, and websites, and launch new careers in tech.
permalink: "/learn/youth"
redirect_from:
  - "/youth"
  - "/coding-club-level-1"
  - "/coding-club-level-2"
  - "/coding-club-level-3"
page_id: youth
team: aincu
---

<section id="header">
  <div class="lgx-inner">
    <div class="container">
      <div class="row">
          <div class="lgx-heading-area"> <!-- Header -->
            <div class="lgx-heading lgx-heading-white">
              <h2 class="heading-title">Youth</h2>
              <h3 class="heading-subtitle">Coding Courses<br>Ages 9 - 16</h3>
              <!-- <div class="relative-parent mobile-hide"> -->
              <div class="relative-parent tablet-hide" id="phone-image">
                <img class="absolute-child" src="/assets/img/aincu/youth/header-phone.png" />
              </div>
              <!-- </div> -->
                <div class="col-xs-8 col-sm-7">
                  <div class="sub-text">
                    <h4>The coding club offers students an oppurtunity to learn how to code from professional software developers and to do it with like-minded peers.</h4>
                    <p>We inspire kids by introducing them to the awesome power of coding! Our students experience the joy of building their own games and apps in an engaging and safe space, whether in-person or online. And you'll love it too, knowing your kids are developing a practical skill, building a creative portfolio, and making great friends along the way.</p>
                  </div>
                </div>
                <div class="relative-parent" id="abs-form" style="z-index: 99;">
                  <div class="panel panel-default absolute-child mobile-hide">
                    <div class="panel-heading">
                      <div class="panel-title">Download our program guide for more info</div>
                    </div>
                    <div class="panel-body">
                      <div class="form-group">
                        <!-- Change or deletion of the name attributes in the input tag will lead to empty values on record submission-->
                        <form
                          action="https://forms.zohopublic.com/virtualoffice9155/form/YouthProgramGuide/formperma/R7u651FVYVwtxnDViBIckJawdMEeJeCdnAgddE6o9x0/htmlRecords/submit"
                          name="form"
                          id="form"
                          class="validate"
                          method="POST"
                          accept-charset="UTF-8"
                          enctype="multipart/form-data"
                        >
                          <input type="hidden" name="zf_referrer_name" value="" /<!-- To Track referrals , place the referrer name within the " " in the above hidden input field -->
                          <input
                            type="hidden"
                            name="zf_redirect_url"
                            value="https://www.awesomeinc.org/confirmation/youth"
                          /><!-- To redirect to a specific page after record submission , place the respective url within the " " in the above hidden input field -->
                          <input
                            type="hidden"
                            name="zc_gad"
                            value=""
                          /><!-- If GCLID is enabled in Zoho CRM Integration, click details of AdWords Ads will be pushed to Zoho CRM -->
                          <div class="row">
                            <div class="col-xs-6">
                              <!--Name-->
                              <input
                                class="form-control"
                                placeholder="First Name"
                                type="text"
                                maxlength="255"
                                name="Name_First"
                                fieldType="7"
                              />
                            </div>
                          
                            <div class="col-xs-6">
                              <input
                                class="form-control"
                                placeholder="Last Name"
                                type="text"
                                maxlength="255"
                                name="Name_Last"
                                fieldType="7"
                              />
                            </div>
                          </div>
                          <input
                            class="form-control"
                            placeholder="Phone Number"
                            type="text"
                            maxlength="255"
                            name="Number"
                            fieldType="7"
                          />
                          <!--Email-->
                          <input
                            class="form-control"
                            placeholder="Email Address"
                            type="text"
                            maxlength="255"
                            name="Email"
                            value=""
                            fieldType="9"
                          />
              
                          <input
                            type="hidden"
                            id="Checkbox_1"
                            name="Checkbox"
                            checked
                            value="Coding&#x20;Club&#x20;"
                          />
                          <div>
                            <button type="submit" class="btn btn-danger btn-large lgx-btn" style="z-index: 1">
                              Download
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- lgx-inner -->
</section>

<section>
  <div class="lgx-inner">
    <div class="container">
      <div class="mobile-only">
        <p class="text-center">{% include modal-form.html button-class='lgx-btn lgx-btn-sm' initiative='youth-program-guide' link-text='Program Guide' %}</p>
      </div>
      <div class="row">
        <div id="why-code" class="col-xs-10 col-sm-8 col-sm-offset-6 col-lg-7 col-lg-offset-5">
          <div class= "lgx-heading">
          <h4 class="heading-title">Why Should My Child Learn to Code?</h4>
          </div>
          <p>Technology is all around us. Whether you are an app developer or an English professor, you will utilize technology in your daily work. Awesome Inc exists to take your child's screen time and turn it into career-skill time. Our courses increase communication, public speaking, organization, and social skills in a fun learning environment.</p>
        </div>
      </div> <!-- row -->
    </div> <!-- container-->
  </div> <!-- lgx-inner -->
</section>

<section id="coding-is-fun">
  <div class="lgx-inner">
    <div class="container">
      <div class="row">
        <div class="col-xs-8 col-sm-5 col-sm-offset-2">
          <div class = "lgx-heading">
          <h4 class="heading-title">Coding Should be Fun!</h4>
          </div>
          <p>Your kids will love learning to code while building video games, mobile apps, and websites!</p>
          <a href="#join" class="lgx-btn lgx-btn-sm">Join the Club</a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <img src="/assets/img/aincu/youth/coding-fun.png" />
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- lgx-inner -->
</section>

<section id="engaged-creative">
  <div class="lgx-inner">
    <div class="container">
      <div class="row" id="kids-engaged">
        <div class="col-xs-12 col-sm-6">
          <img src="/assets/img/aincu/youth/laptop.png" />
        </div>
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
          <div class="lgx-heading-white">
            <h3 class="heading-title ">KEEP YOUR KIDS ENGAGED</h3>
          </div>
          <p>Your kids will have the support of our instructors - professional coders just a step, or a click away!</p>
          <p class="text-left">{% include modal-form.html button-class='lgx-btn lgx-btn-sm' initiative='youth-program-guide' link-text='Meet the Team' %}</p>
        </div>
      </div> <!-- row -->
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1" id="coding-creative">
          <div class="lgx-heading">
            <h3 class="heading-title">Coders are creative</h3>
          </div>
          <p>Coding is like a choose-your-own-adventure for kids who love technology! They’ll have a blast developing their skills as they move through the specially designed pathways our team has created.</p>
          <a href="#join" class="lgx-btn lgx-btn-sm">Join the Club</a>
        </div>
        <div class="col-xs-12 col-sm-4" id="coding-adventure-image">
          <img src="/assets/img/aincu/youth/creative.png" />
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- lgx-inner -->
  
</section>

<section id="schedule">
  <div class="lgx-inner">
    <div class="container">
      <div class="row">
        <div class="col-xs-8 col-sm-6 col-sm-offset-1">
          <div class = "lgx-heading">
          <h4 class="heading-title">Schedule</h4>
          </div>
          <p>Students can sign up for two 90-minute long sessions each week. Our hours are Tuesday and Thursday, 4pm-7pm.</p>
          <!-- <p><small><b>Note: </b>The Coding Club runs from August - May, taking a break during the summer. You can still sign up to reserve a spot if you are applying during the summer.</small></p> -->
          <a href="#join" class="lgx-btn lgx-btn-sm">Join the Club</a>
        </div>
        <div class="col-xs-12 col-sm-5">
          <img src="/assets/img/aincu/youth/Youth_schedule.png" />
        </div>
          <div class="col-xs-12 col-sm-4 col-sm-offset-2">
            <img src="/assets/img/aincu/youth/Youth_Schedule_Tuesday.png" />
          </div>
          <div class="col-xs-12 col-sm-4">
            <img src="/assets/img/aincu/youth/Youth_Schedule_thurssday.png" />
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- lgx-inner -->
</section>

<section id="camps">
  <div class="lgx-inner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-1">
          <div class="lgx-heading">
          <h3 class="heading-title">Coding Club Camps</h3>
          </div>
          <ul>
            <li>Immersive environment</li>
            <li>Builds confidence</li>
            <li>Find new friends with similar interests</li>
            <li>From coding to outdoor activities and hilarious games</li>
          </ul>
          <a href="/weekofcode" class="lgx-btn lgx-btn-sm">Find a Camp</a>
        </div> <!-- col -->
        <div class="col-xs-12 col-sm-4">
          <!-- <div class="relative-parent"> -->
            <!-- <div class="absolute-child"> -->
              <img src="/assets/img/aincu/youth/camps.png" />
            <!-- </div> -->
          <!-- </div> -->
        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- lgx-inner -->
</section>

<section id="join">
  <div class="lgx-inner">
    <div class="row">
      <div class="lgx-heading-area"> <!-- Header -->
        <div class="lgx-heading">
          <h2 class="heading-title">Coding Club Memberships</h2>
          <br>
          <p><small><b>Note: </b>The Coding Club runs from August - May, taking a break during the summer. You can still sign up to reserve a spot if you are applying during the summer.</small></p>
        </div> <!-- lgx heading -->
      </div> <!-- heading area -->
    </div> <!-- row -->
  </div>
  <div class="lgx-inner">
    <div class="row">
      <div class="pricing-table">

        <div class="col-lg-3 col-xs-12">
          <div class="pricing-option">
            <h3>1 Month Plan</h3>
            <img src="/assets/img/aincu/youth/youth-1-month.png" id="one-month-icon">
            <span>
              <small>$</small>
              <span>120</span>
            </span>
            <p class="billing">Billed Monthly</p>
            <a href="https://subscriptions.zoho.com/subscribe/03ecd1f5f1714d3cb3ee018041d15410a7726ba08b65d6ccad482bf477cf719e/coding-club-membership">Join The Club</a>
          </div>
        </div>

        <div class="col-lg-3 col-xs-12">
          <div class="pricing-option">
            <h3>3 Month Plan</h3>
            <img src="/assets/img/aincu/youth/youth-3-month.png" id="three-month-icon">
            <span>
              <small>$</small>
              <span>329</span>
            </span>
            <p class="billing">Billed Quarterly</p>
            <a href="https://subscriptions.zoho.com/subscribe/03ecd1f5f1714d3cb3ee018041d15410a7726ba08b65d6ccad482bf477cf719e/3-month">Join The Club</a>
          </div>
        </div>

        <div class="col-lg-3 col-xs-12">
          <div class="pricing-option most-popular">
            <div class="most-popular-area mobile-hide">Most Popular</div>
            <h3>6 Month Plan</h3>
            <img src="/assets/img/aincu/youth/youth-6-month.png" id="six-month-icon">
            <span>
              <small>$</small>
              <span>600</span>
            </span>
            <p class="billing">Billed Bi-Yearly</p>
            <a href="https://subscriptions.zoho.com/subscribe/03ecd1f5f1714d3cb3ee018041d15410a7726ba08b65d6ccad482bf477cf719e/6-month">Join The Club</a>
            <hr>
            <p class="free-months">This plan gives you 1 free month</p>
          </div>
        </div>

        <div class="col-lg-3 col-xs-12">
          <div class="pricing-option">
            <h3>12 Month Plan</h3>
            <img src="/assets/img/aincu/youth/youth-12-month.png" id="twelve-month-icon">
            <span>
              <small>$</small>
              <span>1080</span>
            </span>
            <p class="billing">Billed every 12 months</p>
            <a href="https://subscriptions.zoho.com/subscribe/03ecd1f5f1714d3cb3ee018041d15410a7726ba08b65d6ccad482bf477cf719e/12-month">Join The Club</a>
            <hr>
            <p class="free-months">This plan gives you 3 free months</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="questions">
  <div class="lgx-inner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="lgx-heading lgx-heading-white">
            <h2 class="heading-title">Still have questions?</h2>
            <a class="lgx-btn lgx-btn-small-text" href="#" data-toggle="modal" data-target="#lgx-modal">See our FAQs</a>
            <div id="codingclub-faq-modal" class="modal fade lgx-modal" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h2>Coding Club FAQ</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  </div>
                  <div class="modal-body">
                    {% include coding-club-faq.html %}
                  </div> <!-- modal body-->
                </div> <!-- modal content-->
              </div> <!-- modal dialog-->
            </div> <!-- bootcamp faq modal-->
          </div> <!-- lgx-heading -->
        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- lgx-inner-->
</section>
