<div class="faq" id="accordion">
  <div class="card">
    <div class="card-header" id="faqHeading-1">
      <div class="mb-0">
        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true"
          data-aria-controls="faqCollapse-1">
          <span class="badge">1</span>What is a Developer Bootcamp?
        </h5>
      </div>
    </div>
    <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
      <div class="card-body">
        <p>Employers around the country are experiencing a shortage of well-qualified software developers, and Kentucky is no different. While there are several possible responses to this need, many regions have benefited from intensive training programs called Developer Bootcamps. The general model is a 3-month program, in batches of 10-20 students, with a curriculum for full-stack web development jobs. Bootcamps are taught by experienced software developers (10+ years industry experience), with a focus on quickly moving from basic skills to project experience. High job placement rates (>80% within 180 days of graduation) are the target for these programs. Successful programs are highly selective of their applicants, typically targeting college graduates and experienced professionals in their 20s, 30s, and 40s looking to make a career change.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="faqHeading-2">
      <div class="mb-0">
        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2" data-aria-expanded="false"
          data-aria-controls="faqCollapse-2">
          <span class="badge">2</span> Who should apply?
        </h5>
      </div>
    </div>
    <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
      <div class="card-body">
        <p>Our ideal applicants are professional men and women who are looking to transition into a career in software development. This program is not for everyone. Like all Awesome Inc initiatives, we've built this program on the foundation of our Core Values. CV #2 (Be Excellent) is a big part of this program. We expect that many of our candidates will have deep experience in a related field, such as graphic design, math/finance, or project management. Some applicants will have prior programming experience, maybe a class back in high school or college, but many will not.</p>
        <p>Most of our applicants reside in Kentucky, and desire to live and work in the region after Bootcamp. Since the 12-week in-person phase of our program is full-time (8am - 5pm, five days per week), our candidates must be willing to sacrifice other commitments (such as outside employment) to focus on learning for that duration.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="faqHeading-3">
      <div class="mb-0">
        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3" data-aria-expanded="false"
          data-aria-controls="faqCollapse-3">
          <span class="badge">3</span>What is the cost of the Bootcamp?
        </h5>
      </div>
    </div>
    <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
      <div class="card-body">
        <p>Tuition for the Bootcamp is $11,500. Financing and flexible payment plans are available. Once accepted, a $500 deposit is due to confirm your spot in the program. If the only thing keeping you from participating in the program is finances, please contact us and we'll do our best to work with you to find a solution.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="faqHeading-4">
      <div class="mb-0">
        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4" data-aria-expanded="false"
          data-aria-controls="faqCollapse-4">
          <span class="badge">4</span> Are scholarships available?
        </h5>
      </div>
    </div>
    <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
      <div class="card-body">
        <p>Yes. Through employer partners such as APAX Software, partial scholarships are available. Once you've applied for the Bootcamp, please fill out the scholarship application for more information.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="faqHeading-5">
      <div class="mb-0">
        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-5" data-aria-expanded="false"
          data-aria-controls="faqCollapse-5">
          <span class="badge">5</span> When is the next class?
        </h5>
      </div>
    </div>
    <div id="faqCollapse-5" class="collapse" aria-labelledby="faqHeading-5" data-parent="#accordion">
      <div class="card-body">
        {% assign bootcamp = site.courses | where: "course-category", "bootcamp" %}
        {% for class in bootcamp limit: 1 %}
          {% if class.season == "Summer" %}
            {% capture season_short %}{{ class.season.first | slice: 0,1 }}{{ class.application-date | date: "%Y" | slice: 2,3 }}{% endcapture %}
          {% else %}
            {% capture season_short %}{{ class.season.first | slice: 0 }}{{ class.application-date | date: "%Y" | slice: 2,3 }}{% endcapture %}
          {% endif %}
          <p>Our next Bootcamp cohort ({{ class.season.first }} {{ class.prework-date | date: "%Y" }}, i.e. {{ season_short }}) has in-person classes from {{ class.program-begin-date | date: "%A, %B %d" }} - {{ class.program-end-date | date: "%A, %B %d" }}. The application deadline for the {{ season_short }} cohort is {{ class.application-date | date: "%A, %B %d" }}.</p>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="faqHeading-6">
      <div class="mb-0">
        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-6" data-aria-expanded="false"
          data-aria-controls="faqCollapse-6">
          <span class="badge">6</span> What will I learn?
        </h5>
      </div>
    </div>
    <div id="faqCollapse-6" class="collapse" aria-labelledby="faqHeading-6" data-parent="#accordion">
      <div class="card-body">
        <p>Our curriculum provides what we and our employer partners see as necessary skills for a junior-level software developer. First, we'll help you learn how to learn (seriously, there are some lifehacks you'll wish you had during college chemistry class). Then we will start with programming and computer science basics, dive into the building blocks of web pages (HTML, CSS, JS), then get into the server side of web applications (databases, SQL, Python/Node.js/Ruby/PHP, web frameworks, AWS), all with plenty of exposure to modern development systems and tools (Git, GitHub, Agile, TDD, UI/UX design). Through all of this, our focus is on making real, working software projects. We can print off a certificate for you at the end if you're the sentimental type, but this experience is really about making things, working with a team, building your project portfolio, and networking with the local developers and companies who we hope will be your future co-workers and employers.</p>
        <p>As software development is a rapidly-changing field, we update some our specific technology offerings for each cohort. A few past offerings:
          <ul>
            <li>Spring 2021: JavaScript, PHP, React, MySQL, Laravel, Codeanywhere</li>
            <li>Fall 2020: JavaScript, PHP, React, MySQL, Laravel, Google Cloud</li>
            <li>Spring 2020: JavaScript, PHP, React, MySQL, Laravel, Google Cloud</li>
            <li>Fall 2019: JavaScript, PHP, React, MySQL, Laravel, Google Cloud</li>
            <li>Spring 2019: JavaScript, PHP, VueJS, MySQL, Laravel, Heroku</li>
            <li>Fall 2018: JavaScript, PHP, VueJS, PostgreSQL, Laravel, Heroku</li>
            <li>Summer 2018: JavaScript, PHP, VueJS, PostgreSQL, Laravel, Heroku</li>
            <li>Fall 2017: JavaScript, PHP, VueJS, PostgreSQL, Laravel, Heroku</li>
            <li>Summer 2017: JavaScript, PHP, AngularJS, PostgreSQL, Laravel, Heroku</li>
            <li>Fall 2016: JavaScript, Python, AngularJS, PostgreSQL, Django, AWS</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="faqHeading-7">
      <div class="mb-0">
        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-7" data-aria-expanded="false"
          data-aria-controls="faqCollapse-7">
          <span class="badge">7</span> What is Prework?
        </h5>
      </div>
    </div>
    <div id="faqCollapse-7" class="collapse" aria-labelledby="faqHeading-7" data-parent="#accordion">
      <div class="card-body">
        <p>Prework is like a summer reading assignment for Bootcamp. It's what our accepted students work on independently prior to working with our instructional team.</p>
        <p>Prework helps to prepare students for Onboarding, the first four weeks of lessons which are delivered remotely. This helps us to hit the ground running on week one of the intensive Bootcamp phase, while minimizing the time our students spend out of full-time work. Our students start with different prior experiences, so we want to make sure everyone is starting at (nearly) the same spot. And we want that spot to be somewhere beyond absolute zero. Our program is an intense 16 weeks, but without the prework, we couldn't fit in all that you'll need.</p>
        <p>The Intro to Web Development is a part-time, evening course intended to cover most of the Prework and Onboarding content, with the added benefits of an in-person instructor and a slower pace (nine weeks instead of four). For someone who wants to explore coding before committing to Bootcamp, or who wants to get a head start on Bootcamp content, the <a href="/intro-to-web-development">Intro to Web Development</a> is a great opportunity.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="faqHeading-8">
      <div class="mb-0">
        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-8" data-aria-expanded="false"
          data-aria-controls="faqCollapse-8">
          <span class="badge">8</span> Do I need a laptop?
        </h5>
      </div>
    </div>
    <div id="faqCollapse-8" class="collapse" aria-labelledby="faqHeading-8" data-parent="#accordion">
      <div class="card-body">
        <p>Yes, students are required to furnish their own laptop computer for the Bootcamp program. The minimum requirements are:</p>
        <ul>
        <li>Operating System: the latest version of macOS (recommended), Windows, or Ubuntu</li>
        <li>Processor: Intel Core i5 or faster (recommended: <a href="https://browser.geekbench.com/mac-benchmarks">Geekbench score</a> >600)</li>
        <li>RAM: 8 GB</li>
      </ul>
      </div>
    </div>
  </div>
</div>