<section id="companies">
  <div class="lgx-inner">
    <div class="container">
        <div class="lgx-heading">
          <h2 class="heading-title">Companies that have hired our graduates</h2>
        </div> 
      <div class="row row-eq-height flex-img-center">
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/company-logos/apaxsoftware-logo.png" alt="APAX Software Logo" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/company-logos/ableengine-logo.png" alt="Able Engine logo" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/company-logos/cabemtechnologies-logo.png" alt="Cabem Technologies logo" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/company-logos/infosys-logo.png" alt="Infosys logo" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/company-logos/ireportsource-logo.png" alt="iReportSource logo" class="img-responsive" />
        </div>
      </div><!-- row -->
      <div class="row row-eq-height flex-img-center">
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/company-logos/medmyne-logo.png" alt="Medmyne logo" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/company-logos/nymblsystems-logo.png" alt="Nymbl Systems logo" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/company-logos/prospecttrax-logo.png" alt="Prospect Trax logo" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/company-logos/scheduleit-logo.png" alt="ScheduleIt logo" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/company-logos/vetdata-logo.png" alt="Vetdata Logo" class="img-responsive" />
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- lgx-inner-->
</section>