<section id="companies">
  <div class="lgx-inner">
    <div class="container container--thin">
        <div class="lgx-heading">
          <h2 class="heading-title">Companies that have hired our graduates</h2>
        </div> 
      <div class="row row-eq-height flex-img-center">
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/company-logos/apaxsoftware-logo.png" alt="APAX Software Logo" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/company-logos/bigassfans-logo.png" alt="Big Ass Fans logo" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/company-logos/blueframe-logo.png" alt="BlueFrame Technology logo" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/company-logos/cabemtechnologies-logo.png" alt="Cabem Technologies logo" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/company-logos/infosys-logo.png" alt="Infosys logo" class="img-responsive" />
        </div>
      </div><!-- row -->
      <div class="row row-eq-height flex-img-center">
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/company-logos/lightwell-logo.png" alt="Lightwell Inc. logo" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/company-logos/nymblsystems-logo.png" alt="Nymbl Systems logo" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/company-logos/prospecttrax-logo.png" alt="Prospect Trax logo" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/company-logos/silverfern-logo.png" alt="Silver Fern Group logo" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/company-logos/vetdata-logo.png" alt="Vetdata Logo" class="img-responsive" />
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- lgx-inner-->
</section>