<div id="zf-widget-root-id"></div>
<script
  type="text/javascript"
  src="https://js.zohostatic.com/books/zfwidgets/assets/js/zf-widget.js"
></script>
<script>
  var pricingTableComponentOptions = {
    id: "zf-widget-root-id",
    product_id:
      "2-7f6a56060c08624be8f24c684dfcc27d92386536260dc750fdcd67704bd325b9e49e4aefddc7a43158bcad6fd428a6fd03ecd1f5f1714d3c318fde6c950d2d25",
    template: "elegant",
    most_popular_plan: "6-month",
    is_group_by_frequency: false,
    group_options: [],
    plans: [
      { plan_code: "coding-club-membership" },
      { plan_code: "3-month" },
      { plan_code: "6-month" },
      { plan_code: "12-month" },
    ],
    theme: { color: "#c12029", theme_color_light: "" },
    button_text: "Join the Club",
    product_url: "https://subscriptions.zoho.com",
    price_caption: "",
    language_code: "en",
    open_inSameTab: false,
  };
  ZFWidget.init("zf-pricing-table", pricingTableComponentOptions);
</script>


