<div id="zf-widget-root-id"></div> 
<script type="text/javascript" src='https://js.zohostatic.com/books/zfwidgets/assets/js/zf-widget.js'>
</script> 
<script> 
    var pricingTableComponentOptions = 
        { 
            id: 'zf-widget-root-id', 
            product_id: '2-a0b41ce4e8e252b94bd3638ed5f68af9e71144a0e9f8889db2c52fb1142ec3d4da69e006c8c36e0a58bcad6fd428a6fd19050cf22b4be9df51a3966a84dd3eb8',
            template: 'elegant_pro', 
            most_popular_plan: '', 
            is_group_by_frequency: false, 
            group_options: [ ], 
            plans: [ 
                { plan_code: 'coding-club-membership' }, 
                { plan_code: '3-month' }, 
                { plan_code: '6-month' }, 
            ], 
            theme: { color: '#c12029', theme_color_light: ''},
            button_text: 'Join', 
            product_url: 'https://subscriptions.zoho.com', 
            price_caption: '', 
            language_code: 'en', 
            open_inSameTab: false 
        }; 
        ZFWidget.init('zf-pricing-table', pricingTableComponentOptions); 
</script>