<!--Eventbrite generated ticket form widget-->
<div id="eventbrite-widget-container"></div>

<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script>
    var exampleCallback = function() {
        console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
        // Required
        widgetType: 'checkout',
        eventId: '{{ page.eventbrite_eid }}',
        iframeContainerId: 'eventbrite-widget-container',

        // Optional
        iframeContainerHeight: 506,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
        onOrderComplete: exampleCallback  // Method called when an order has successfully completed
    });
</script>