<section class="faq-section">
  <div class="container">
    <div class="row">
      <!-- ***** FAQ Start ***** -->
      <div class="col-lg-10 col-lg-offset-1">
        <div class="faq" id="accordion">
          <div class="card">
            <div class="card-header" id="faqHeading-1">
              <div class="mb-0">
                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true"
                  data-aria-controls="faqCollapse-1">
                  <span class="badge">1</span>How old do you have to be in the Coding Club?
                </h5>
              </div>
            </div>
            <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
              <div class="card-body">
                <p>
                  The Coding Club is designed for students ages 9-17. Please inquire if your student doesn't fit that age range but you still want him/her to participate - <a href="mailto:learn@awesomeinc.org">learn@awesomeinc.org</a>.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-2">
              <div class="mb-0">
                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2" data-aria-expanded="false"
                  data-aria-controls="faqCollapse-2">
                  <span class="badge">2</span>Does the student need to bring a computer?
                </h5>
              </div>
            </div>
            <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
              <div class="card-body">
                <p>
                  Yes. Each student will need to provide his/her own laptop for the course. Microsoft Windows-based PC's, Apple macOS computers, or Google Chromebooks will work, but iPads will not work for this course. We recommend a laptop made within the past 3-4 years. Computers should be free from viruses/malware. We have a very limited number of rental laptops available for $25/day, which can be <a href="https://squareup.com/market/awesome-inc/laptop-rental/">reserved online</a>.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-3">
              <div class="mb-0">
                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3" data-aria-expanded="false"
                  data-aria-controls="faqCollapse-3">
                  <span class="badge">3</span>Does the student need to have programming experience?
                </h5>
              </div>
            </div>
            <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
              <div class="card-body">
                <p>
                  No prior programming experience is required, but students should be comfortable typing and using a web browser!
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-4">
              <div class="mb-0">
                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4" data-aria-expanded="false"
                  data-aria-controls="faqCollapse-4">
                  <span class="badge">4</span> When can my student come to Coding Club?
                </h5>
              </div>
            </div>
            <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
              <div class="card-body">
                <p>
                  Starting Sept 15, the Coding Club is open on Tuesday and Thursday from 4pm-8pm. 
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-5">
              <div class="mb-0">
                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-5" data-aria-expanded="false"
                  data-aria-controls="faqCollapse-5">
                  <span class="badge">5</span> How often can my student attend Coding Club?
                </h5>
              </div>
            </div>
            <div id="faqCollapse-5" class="collapse" aria-labelledby="faqHeading-5" data-parent="#accordion">
              <div class="card-body">
                <p> 
                  Your student can attend twice a week. Our Coding Coaches will be available to students all throughout the week if your student has questions while working outside of class time.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-6">
              <div class="mb-0">
                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-6" data-aria-expanded="false"
                  data-aria-controls="faqCollapse-6">
                  <span class="badge">6</span> Where do I park?
                </h5>
              </div>
            </div>
            <div id="faqCollapse-6" class="collapse" aria-labelledby="faqHeading-6" data-parent="#accordion">
              <div class="card-body">
                <p>See <a href="https://www.awesomeinc.org/parking/">map for parking options</a>.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-7">
              <div class="mb-0">
                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-7" data-aria-expanded="false"
                  data-aria-controls="faqCollapse-7">
                  <span class="badge">7</span> What is Awesome Inc U?
                </h5>
              </div>
            </div>
            <div id="faqCollapse-7" class="collapse" aria-labelledby="faqHeading-7" data-parent="#accordion">
              <div class="card-body">
                <p>
                  Awesome Inc U is devoted to teaching coding skills. It’s never too early or too late to learn how to code. You don’t have to be a genius to learn to code, you just need to be determined. Check out what some of our <a href="https://www.youtube.com/watch?v=kSqzDzU-Bxo">past students have to say!</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- row -->
  </div><!-- container -->
</section>