<div class="alert alert-primary alert-danger" role="alert">
    Due to COVID-19, some of the events and classes at Awesome Inc are making necessary changes, please contact us here with questions: <a href="mailto:contact@awesomeinc.org">contact@awesomeinc.org</a>
    <!-- <a href="#" target="_blank" class="btn btn-primary">Click here</a> -->
    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"> -->
        <!-- <span aria-hidden="true">x</span> -->
    <!-- </button> -->
</div>