<div class="form-group">
  <form action='https://forms.zohopublic.com/virtualoffice9155/form/CoworkingMemberForm/formperma/qc2Yk3yQhgxWIMamN-IqeI1IwpyQFpWW30J9dBk8qL8/htmlRecords/submit' name='form' id='form' method='POST' accept-charset='UTF-8' enctype='multipart/form-data'>
    <input type="hidden" name="zf_referrer_name" value=""><!-- To Track referrals , place the referrer name within the " " in the above hidden input field -->
    <input type="hidden" name="zf_redirect_url" value=""><!-- To redirect to a specific page after record submission , place the respective url within the " " in the above hidden input field -->
    <input type="hidden" name="zc_gad" value=""><!-- If GCLID is enabled in Zoho CRM Integration, click details of AdWords Ads will be pushed to Zoho CRM -->
    <div class="form-group">
      <label for="First Name">First Name</label>
      <input type="text" fieldType=7 maxlength="255" name="Name_First" placeholder="First Name" class="form-control input-lg" required>
    </div>
    <div class="form-group">
      <label for="Last Name">Last Name</label>
      <input type="text" fieldType=7 maxlength="255" name="Name_Last" placeholder="Last Name" class="form-control input-lg" required>
    </div>
    <div class="form-group">
      <label for="Email">Email Address</label>
      <input type="text" fieldType=9 maxlength="255" name="Email" placeholder="Last Name" class="form-control input-lg" required>
    </div>
    <div class="form-group">
      <label for="Phone Number">Phone Number</label>
      <input type="text" placeholder="(123) 456-7890" compname="PhoneNumber" name="PhoneNumber_countrycode" phoneFormat="1" isCountryCodeEnabled=false maxlength="20" value="" fieldType=11 id="international_PhoneNumber_countrycode" class="form-control input-lg" />
    </div>
    <div class="form-group">
      <label for="Company Name">Company Name (if applicable)</label>
      <textarea name="MultiLine" maxlength="50000" class="form-control input-lg"></textarea>
    </div>
    <div class="form-group">
      <label for="Company Website">Company Website (if applicable)</label>
      <input type="text" maxlength="2083" name="Website" placeholder="Website URL" class="form-control input-lg">
    </div>
    <div class="form-group">
      <label for="Company Website">How long has your business existed?</label>
      <input type="text" maxlength="255" name="SingleLine" placeholder="# of years" class="form-control input-lg">
    </div>
    <div class="form-group">
      <label for="Company Website">What service are you interested in at Awesome Inc?</label>
      <select name="MultipleChoice" class="form-control">
        <option value="Day Pass">Day Pass</option>
        <option value="Full-time Membership">Full-time Membership</option>
        <option value="VirtualMembership">Virtual Membership</option>
        <option value="Private Office Space">Private Office Space</option>
      </select>
    </div>
    <div class="form-group">
      <label for="People">How many people are in your company?</label>
      <input type="text" maxlength="20" name="Number" class="form-control input-lg" required>
    </div>
    <div class="form-group">
      <label for="How long?">How long do you plan on occupying space at Awesome Inc (there is no requirement for more than one month)?</label>
      <select name="MultipleChoice1" class="form-control">
        <option value="1-3 months">1-3 months</option>
        <option value="3-6 months">3-6 months</option>
        <option value="6-12 months">6-12 months</option>
        <option value="1 year">1 year</option>
      </select>
      <p>Choose which option is closest to your estimated time of occupancy.</p>
    </div>
    <div class="form-group">
      <label for="Goal">Please provide a brief bio of yourself and your business goals/objectives</label>
      <textarea name="MultiLine1" maxlength="50000" class="form-control input-lg"></textarea>
    </div>
    <div class="form-group">
      <label for="Goal">How did you hear about Awesome Inc?</label>
      <textarea name="MultiLine1" maxlength="50000" class="form-control input-lg"></textarea>
    </div>
    <button type="submit" class ="btn btn-danger btn-large lgx-btn" id ="hide">Send</button>
  </form>
</div>