<!-- Content that appears in the footer. NOTE: javascript files are loaded in js-importer.html  -->

<div id="lgx-footer" class="lgx-footer">
        <div class="lgx-footer-middle"> <!--lgx-footer-middle-white-->
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="lgx-footer-single">
                            <a class="logo" href="index.html"><img src="/images/logos/ainc-logo-text-triangle-layer-red.png" alt="Logo" class="img-responsive"></a>
                            <div class="contact-info">
                                <address>348 E Main St, Lexington, KY</address>
                                <p><a href="mailto:info@awesomeinc.org"><i class="fa fas fa-envelope"></i>info@awesomeinc.org</a></p>
                                <p><a href="tel:8599604600"><i class="fa fas fa-phone"></i>859.960.4600</a></p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-2">
                        <div class="lgx-footer-single">
                            <h2 class="title">Quicklinks</h2>
                            <ul class="list-unstyled">
                                <li><a href="{{ site.data.routes.careers }}">Careers</a></li>
                                <li><a href="{{ site.data.routes.core-values }}">Core Values</a></li>
                                <li><a href="{{ site.data.routes.blog }}">Our Blog</a></li>
                                <li><a href="{{ site.data.routes.events }}">Programs & Events</a></li>
                                <li><a href="{{ site.data.routes.press }}">Press</a></li>
                                <li><a href="{{ site.data.routes.contact }}">Contact Us</a></li>
                                <li><a href="{{ site.data.routes.internships }}">Internships</a></li>
                                <li><a href="{{ site.data.routes.tour }}">Schedule a Tour</a></li>
                                <li><a href="{{ site.data.routes.rent }}">Rent Space</a></li>
                                <li><a href="{{ site.data.routes.parking }}">Parking</a></li>
                                <li><a href="{{ site.data.routes.map }}">Map</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-2">
                        <div class="lgx-footer-single">
                            <h2 class="title">Courses</h2>
                            <ul class="list-unstyled">
                                <li><a href="{{ site.data.routes.code.bootcamp }}">Bootcamp</a></li>
                                <li><a href="{{ site.data.routes.code.club }}">Coding Club</a></li>
                                <li><a href="{{ site.data.routes.code.league }}">Coding League</a></li>
                                <li><a href="#">The Academy</a></li>
                                <li><a href="#">Week of Code</a></li>
                                <li><a href="#">Intro to Web Development</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 visible-md-block visible-lg-block">
                        <div class="lgx-footer-single">
                            <h2 class="title">Instagram Feed</h2>
                            <div id="instafeed">
                            </div>
                        </div>
                    </div>
                </div> <!-- /CONTAINER -->
                <div class="lgx-footer-bottom">
                    <div class="lgx-copyright">
                        <ul class="list-inline">
                            <li><a href="{{ site.data.routes.about }}">About</a></li>
                            <li><a href="{{ site.data.routes.careers }}">Careers</a></li>
                            <li><a href="{{ site.data.routes.privacy }}">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <ul class="list-inline lgx-social-footer">
                        <li><a href="{{ site.data.routes.twitter }}"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="{{ site.data.routes.facebook }}"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="{{ site.data.routes.gplus }}"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="{{ site.data.routes.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="{{ site.data.routes.instagram }}"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="{{ site.data.routes.youtube }}"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                </div>

            </div>
            <!-- //.CONTAINER -->
        </div>
        <!-- //.footer Middle -->
    </div>