<div class="form-group">
  <form method="POST"  action="https://formspree.io/maggie.collofello@gmail.com">
    <input type="hidden" name="_cc" value="ek.andrews11@gmail.com">
    <input class="form-control" type="email" id="CustInfo" name="_replyto" placeholder="Your email" /><br>
    <input class="form-control" type="text" id="CustInfo" name="name" placeholder="Your name"><br>
    <textarea class="form-control" name="message" id="CustInfo" rows="5" placeholder="Your message"></textarea><br>
    <input type="text" name="_gotcha" style="display:none">
    <input type="hidden" name="_next" value="https://awesomeinc.org"/>
    <button type="submit" class ="btn btn-danger btn-large lgx-btn" id ="hide">Send</button>
  </form>
</div>