<!-- Used for meta-data and importing stylesheets. NOTE: This is imported at the top, any files that can be waited to load, should be added to the /_includes/footer.html file -->

{% if page.title %}
  {% assign meta_title = page.title | append: " | Awesome Inc" %}
{% else %}
  {% assign meta_title = "Awesome Inc" %}
{% endif %}

{% if page.description %}
  {% assign meta_description = page.description %}
{% else %}
  {% assign meta_description = "Awesome Inc exists to create and grow high-tech startups by hosting community events, leading technology education courses, and offering a shared workspace." %}
{% endif %}

{% if page.meta_image %}
  {% assign meta_image = page.meta_image %}
{% else %}
  {% assign meta_image = "/images/logos/ainc-logo-text-triangle-layer-red.png" %}
{% endif %}



<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
{% if page.canonical %}
<link rel="canonical" href="{{ page.canonical }}">
{% else %}
<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
{% endif %}

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<!-- The above 3 meta tags *must* come first in the head -->
<!-- SITE TITLE -->
<title>{{ meta_title }}</title>
<meta name="description" content="{{ meta_description | truncate: 160 | escape }}">
<meta name="keywords" content="{{ site.keywords }}" />
<meta name="author" content="Awesome Inc" />


<meta property="og:title" content="{{ meta_title }}" />
<meta property="og:site_name" content="Awesome Inc" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.url | append: page.url }}" />
<meta property="og:description" content="{{ meta_description }}" />
<meta property="og:image" content="{{ site.url | append: meta_image }}" />

<!-- twitter card starts from here, if you don't need remove this section -->



<meta 
  name="twitter:card" 
  content="{{ meta_description }}" />
<meta name="twitter:site" content="@awesome_inc" />
<meta name="twitter:creator" content="@awesome_inc" />
<meta name="twitter:url" content="https://twitter.com/awesome_inc" />
<meta name="twitter:title" content="{{ meta_description }}" />
<!-- maximum 140 char -->
<meta name="twitter:description" content="{{ meta_description }}" />
<!-- maximum 140 char -->
<meta name="twitter:image" content="images/twitter-image.jpg" />
<!-- when you post this page url in twitter , this image will be shown -->
<!-- twitter card ends from here -->
<!-- Google Classroom site verification -->
<meta name="google-site-verification" content="t5kZCmHFQBzBOM2r3cJJFARlbui3jX4MGAeRivO2KPw" />

<!--  FAVICON AND TOUCH ICONS -->
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
<!-- this icon shows in browser toolbar -->
<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
<!-- this icon shows in browser toolbar -->
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-chrome-192x192.png">
<link rel="android-chrome" sizes="384x384" href="/images/favicon/android-chrome-384x384.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
<link rel="manifest" href="/images/favicon/site.webmanifest">

<!-- FONT AWESOME -->
<link rel="stylesheet" href="/assets/css/font-awesome.min.css" media="all" />

<!-- FONT AWESOME -->
<!-- <link rel="stylesheet" href="assets/libs/maginificpopup/magnific-popup.css" media="all"/> -->
<!-- OWL CAROUSEL CSS -->
<link rel="stylesheet" href="/assets/libs/owlcarousel/owl.carousel.min.css" media="all" />
<link rel="stylesheet" href="/assets/libs/owlcarousel/owl.theme.default.min.css" media="all" />

<!-- GOOGLE FONT -->
<!--<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,900%7cLato:400,700,900"/>-->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900%7cUbuntu:300,300i,400,500,700" />
<!-- Exo -->
<link href="//fonts.googleapis.com/css?family=Lato:300,700|Exo:300,800" rel="stylesheet" type="text/css">
<!-- Open Sans -->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,800" />

<link rel="stylesheet" href="/assets/libs/animate/animate.css" media="all" />

<!-- Animate on Scroll -->
<link rel="stylesheet" type="text/css" href="/assets/libs/aos/aos.css">

<!-- MODERNIZER CSS  -->
<script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>


<!-- Netlify Identity Widget -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<!-- Mailchimp -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WVS8Q79');</script>
  <!-- End Google Tag Manager -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2X6W47GSDL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2X6W47GSDL');
</script>
