<!-- Loaded at the end for optimal load times -->
<!-- JQUERY  -->
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>

<!-- JQUERY ISOTOPE, alumni page-->
<script src="/assets/js/vendor/isotope.pkgd.js"></script>
<script src="/assets/js/vendor/jquery.imagesloaded.min.js"></script>
<script src="/assets/js/isotope-custom.js"></script>

<!-- BOOTSTRAP JS  -->
<script src="/assets/libs/bootstrap/js/bootstrap.min.js"></script>



<script src="/assets/libs/jquery.smooth-scroll.js"></script>

<!-- SKILLS SCRIPT  -->
<script src="/assets/libs/jquery.validate.js"></script>

<!-- CUSTOM GOOGLE MAP -->
<script src="/assets/libs/gmap/jquery.googlemap.js"></script>

<!-- adding magnific popup js library -->
<script src="/assets/libs/maginificpopup/jquery.magnific-popup.min.js"></script>

<!-- Owl Carousel  -->
<script src="/assets/libs/owlcarousel/owl.carousel.min.js"></script>


<!-- COUNTDOWN   -->
<script src="/assets/libs/countdown.js"></script>

<!-- Counter JS -->
<script src="/assets/libs/waypoints.min.js"></script>
<script src="/assets/libs/counterup/jquery.counterup.min.js"></script>

<!-- PORTFOLIO FILTER   -->
<script src="/assets/libs/isotope/isotope.pkgd.min.js"></script>

<!-- SMOTH SCROLL -->
<script src="/assets/libs/jquery.smooth-scroll.min.js"></script>
<script src="/assets/libs/jquery.easing.min.js"></script>

<!-- type js -->
<script src="/assets/libs/typed/typed.min.js"></script>

<!-- instafeed js -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script>-->
<script src="/assets/libs/instafeed.min.js"></script>

<!-- CUSTOM SCRIPT (From theme) -->
<script src="/assets/js/custom.script.js"></script>


<!-- Animate on scroll -->
<script src="/assets/libs/aos/aos.js"></script>
<script>
    AOS.init();
</script>

<!-- CUSTOM SCRIPT (From Ainc) -->
<script src="/assets/js/custom.js"></script>

<!-- CUSTOM SCRIPT for bootcamp page (From Ainc) -->
<script src="/assets/js/bootcamp-testimonials.js"></script>

<!-- Lazy image load script-->
<script src="/assets/js/lazy-load-images.js" async></script>

<!-- CUSTOM SCRIPT for youtube -->
<!-- https://webdesign.tutsplus.com/tutorials/how-to-lazy-load-embedded-youtube-videos--cms-26743 -->
<script src="/assets/js/custom.youtube.js"></script>


<!-- Instagram API-->
<script src="/assets/js/new-instagram.js"></script>
<script> window.fbAsyncInit=function(){FB.init({appId:'787477404979745',cookie:true,xfbml:true,version:'v3.3'});FB.AppEvents.logPageView();};(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return;} js=d.createElement(s);js.id=id;js.src="https://connect.facebook.net/en_US/sdk.js";fjs.parentNode.insertBefore(js,fjs);}(document,'script','facebook-jssdk'));</script>

<!-- Zoho integrations -->
 <!-- Zoho CRM / Google Ads -->
<script type="text/javascript" src='https://crm.zoho.com/crm/javascript/zcga.js'></script>
 <!-- Zoho CRM / Google Ads -->
<script type="text/javascript" src='https://forms.zoho.com/js/zf_gclid.js'></script>