<!-- Loaded at the end for optimal load times -->
<!-- JQUERY  -->
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>

<!-- JQUERY ISOTOPE, alumni page-->
<script src="/assets/js/vendor/jquery.isotope.min.js"></script>
<script src="/assets/js/vendor/jquery.imagesloaded.min.js"></script>
<script src="/assets/js/isotope-custom.js"></script>

<!-- BOOTSTRAP JS  -->
<script src="/assets/libs/bootstrap/js/bootstrap.min.js"></script>



<script src="/assets/libs/jquery.smooth-scroll.js"></script>

<!-- SKILLS SCRIPT  -->
<script src="/assets/libs/jquery.validate.js"></script>

<!-- if load google maps then load this api, change api key as it may expire for limit cross as this is provided with any theme -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQvRGGtL6OrpP5xVMxq_0NgiMiRhm3ycI"></script>

<!-- CUSTOM GOOGLE MAP -->
<script src="/assets/libs/gmap/jquery.googlemap.js"></script>

<!-- adding magnific popup js library -->
<script src="/assets/libs/maginificpopup/jquery.magnific-popup.min.js"></script>

<!-- Owl Carousel  -->
<script src="/assets/libs/owlcarousel/owl.carousel.min.js"></script>


<!-- COUNTDOWN   -->
<script src="/assets/libs/countdown.js"></script>

<!-- Counter JS -->
<script src="/assets/libs/waypoints.min.js"></script>
<script src="/assets/libs/counterup/jquery.counterup.min.js"></script>

<!-- PORTFOLIO FILTER   -->
<script src="/assets/libs/isotope/isotope.pkgd.min.js"></script>

<!-- SMOTH SCROLL -->
<script src="/assets/libs/jquery.smooth-scroll.min.js"></script>
<script src="/assets/libs/jquery.easing.min.js"></script>

<!-- type js -->
<script src="/assets/libs/typed/typed.min.js"></script>

<!-- instafeed js -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script>-->
<script src="/assets/libs/instafeed.min.js"></script>

<!-- CUSTOM SCRIPT (From theme) -->
<script src="/assets/js/custom.script.js"></script>


<!-- Animate on scroll -->
<script src="/assets/libs/aos/aos.js"></script>
<script>
    AOS.init();
</script>

<!-- CUSTOM SCRIPT (From Ainc) -->
<script src="/assets/js/custom.js"></script>


<!-- Lazy image load script-->
<script src="/assets/js/lazy-load-images.js" async></script>


