<!-- Check what type of button -->
{% if include.style == 'dotted' %}
<div class="container">
  <div class="row">
    <div class="lgx-heading-area dotted-svg link-svg">
      <div class="lgx-heading">
        <h4 class="heading-title" style="line-height: inherit;">
          <span>
            <a
              class="lgx-btn"
              href="#{{ include.initiative }}"
              data-toggle="modal"
              data-target="#{{ include.initiative }}-modal"
              >{{ include.link-text }}</a
            >
          </span>
        </h4>
      </div>
    </div>
  </div>
  <!--.ROW-->
</div>
<!-- .CONTAINER -->
{% elsif include.style == 'img-button' %}
<a
  href="#{{ include.initiative }}"
  data-toggle="modal"
  data-target="#{{ include.initiative }}-modal"
>
  <img
    src="/images/icons/schedule-a-tour-button-{{ include.img-color | default: 'white' }}.png"
    id="{{ include.initiative }}-button"
    alt="{{ include.initiative }} button"
  />
</a>
{% elsif include.style == 'small' %}
<a
  class="lgx-btn lgx-btn-sm"
  href="#{{ include.initiative }}"
  data-toggle="modal"
  data-target="#{{ include.initiative }}-modal"
  >{{ include.link-text }}</a
>
{% elsif include.style == 'no-button' %}
<!-- Show nothing -->
{% elsif include.style == 'subtle' %}
<a
  class="lgx-btn lgx-btn-grey-light"
  href="#{{ include.initiative }}"
  data-toggle="modal"
  data-target="#{{ include.initiative }}-modal"
  >{{ include.link-text }}</a
>
{% else %}
<a
  class="{% if include.button-class %}{{include.button-class}}{%else%}lgx-btn{%endif%}"
  href="#{{ include.initiative }}"
  data-toggle="modal"
  data-target="#{{ include.initiative }}-modal"
>
  {{ include.link-text }}
</a>
{% endif %}

<div
  id="{{ include.initiative }}-modal"
  class="modal fade lgx-modal"
  tabindex="-1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          ×
        </button>
      </div>
      <div class="modal-body">
        {% if include.initiative == 'fellowship' %}
        <iframe
          src="https://docs.google.com/spreadsheet/viewform?formkey=dGViS0pDM2VUZlFub1BuLUJkc1RjcFE6MA"
        ></iframe>
        <p>
          On a mobile device?
          <a
            href="https://docs.google.com/spreadsheet/viewform?formkey=dGViS0pDM2VUZlFub1BuLUJkc1RjcFE6MA"
            target="_blank"
            >Click here for form</a
          >
        </p>
        {% elsif include.initiative == 'team-alpha' %}
        <iframe
          src="https://docs.google.com/spreadsheet/viewform?formkey=dDNLRTI0MmcyYWtDSDZNNGZOVERfNUE6MQ"
        ></iframe>
        <p>
          On a mobile device?
          <a
            href="https://docs.google.com/spreadsheet/viewform?formkey=dDNLRTI0MmcyYWtDSDZNNGZOVERfNUE6MQ"
            target="_blank"
            >Click here for form</a
          >
        </p>
        {% elsif include.initiative == 'member-form' %} {% include
        coworking-form.html %}
        <p>
          On a mobile device?
          <a
            href="https://docs.google.com/spreadsheet/viewform?formkey=dGh0eWtpRkczSEZ0aXBhazV6S0JwV3c6MQ"
            target="_blank"
            >Click here for form</a
          >
        </p>
        {% elsif include.initiative == 'tour' %}
        <iframe 
          frameborder="0" 
          style="height:800px;width:99%;border:none;" 
          src='https://forms.zohopublic.com/virtualoffice9155/form/BasicSignup/formperma/jheJ3kZTxSJkztL3SEy-4jweu_3XvBNxr7KoJJXJbsc'>
        </iframe>
        {% elsif include.initiative == 'newsletter' %}
        <!-- Change or deletion of the name attributes in the input tag will lead to empty values on record submission-->
        <form
          action="https://forms.zohopublic.com/virtualoffice9155/form/OnlineNewsletterSignup/formperma/63TqTON16miWuaZIxR3_tTM4HEyMqE9N_KJOPjJPEUA/htmlRecords/submit"
          name="form"
          id="form"
          class="validate"
          method="POST"
          accept-charset="UTF-8"
          enctype="multipart/form-data"
        >
          <input type="hidden" name="zf_referrer_name" value="" /><!-- To Track referrals , place the referrer name within the " " in the above hidden input field -->
          <input
            type="hidden"
            name="zf_redirect_url"
            value="https://www.awesomeinc.org/confirmation/newsletter"
          /><!-- To redirect to a specific page after record submission , place the respective url within the " " in the above hidden input field -->
          <input
            type="hidden"
            name="zc_gad"
            value=""
          /><!-- If GCLID is enabled in Zoho CRM Integration, click details of AdWords Ads will be pushed to Zoho CRM -->
          <!--Name-->
          <label for="First Name">First Name</label>
          <input
            class="form-control"
            placeholder="John"
            type="text"
            maxlength="255"
            name="Name_First"
            fieldType="7"
          /><br />
          <label for="Last Name">Last Name</label>
          <input
            class="form-control"
            placeholder="Hancock"
            type="text"
            maxlength="255"
            name="Name_Last"
            fieldType="7"
          /><br />
          <!--Email-->
          <label for="Email Address">Email Address</label>
          <input
            class="form-control"
            placeholder="john@123.com"
            type="text"
            maxlength="255"
            name="Email"
            value=""
            fieldType="9"
          />
          <br>
          <!-- Phone -->
          <label for="Company">Phone</label>
          <input
            class="form-control"
            placeholder="(123) 456-7890"
            type="text"
            compname="PhoneNumber"
            maxlength="20"
            name="PhoneNumber_countrycode"
            phoneFormat="1"
            isCountryCodeEnabled=false
            value=""
            fieldType="11"
            id="international_PhoneNumber_countrycode"
          />
          <br>
          <!-- Checkbox -->
          <div class="form-check" style="text-align: left;">
            I'm interested in...
            <br>
            <input
                type="checkbox"
                id="Checkbox_1"
                class="form-check-input"
                name="Checkbox"
                value="startups&#x20;&amp;&#x20;entrepreneurship"
              />
              <label class="form-check-label" for="Checkbox_1">
                Startups&#x20;&amp;&#x20;Entrepreneurship
              </label>
            <br>
            <input
                type="checkbox"
                id="Checkbox_2"
                class="form-check-input"
                name="Checkbox"
                value="I&#x27;m&#x20;in&#x20;the&#x20;corporate&#x20;world&#x20;and&#x20;want&#x20;to&#x20;be&#x20;more&#x20;innovative&#x21;"
              />
              <label class="form-check-label" for="Checkbox_2">
                I&#x27;m&#x20;in&#x20;the&#x20;corporate&#x20;world&#x20;and&#x20;want&#x20;to&#x20;be&#x20;more&#x20;innovative&#x21;
              </label>
            <br>
            <input
                type="checkbox"
                id="Checkbox_3"
                class="form-check-input"
                name="Checkbox"
                value="coworking"
              />
              <label class="form-check-label" for="Checkbox_3">
                Coworking
              </label>
            <br>
            <input
                type="checkbox"
                id="Checkbox_4"
                class="form-check-input"
                name="Checkbox"
                value="adult&#x20;coding&#x20;"
              />
              <label class="form-check-label" for="Checkbox_4">
                Adult Coding
              </label>
            <br>
            <input
                type="checkbox"
                id="Checkbox_5"
                class="form-check-input"
                name="Checkbox"
                value="youth&#x20;coding&#x20;"
              />
              <label class="form-check-label" for="Checkbox_5">
                Youth Coding
              </label>
            <br>
            <input
                type="checkbox"
                id="Checkbox_6"
                class="form-check-input"
                name="Checkbox"
                value="other&#x20;adult&#x20;coding&#x20;"
              />
              <label class="form-check-label" for="Checkbox_6">
                Other Adult Classes
              </label>
            <br>
            <input
                type="checkbox"
                id="Checkbox_7"
                class="form-check-input"
                name="Checkbox"
                value="custom&#x20;software&#x20;needs"
              />
              <label class="form-check-label" for="Checkbox_7">
                Custom software needs
              </label>
            <br>
          </div>
          <button type="submit" class="btn btn-danger btn-large lgx-btn">
            Submit
          </button>
          </form>
        {% elsif include.initiative == 'bootcamp-program-guide' %}
        <div class="form-group">
          <!-- Change or deletion of the name attributes in the input tag will lead to empty values on record submission-->
          <form
            action="https://forms.zohopublic.com/virtualoffice9155/form/EmailSubscription/formperma/DpCKAlyxEJ-dLzdhzYuvhtQ8sCUVAbu4fE3JEMuAPqI/htmlRecords/submit"
            name="form"
            id="form"
            class="validate"
            method="POST"
            accept-charset="UTF-8"
            enctype="multipart/form-data"
          >
            <input type="hidden" name="zf_referrer_name" value="" /<!-- To Track referrals , place the referrer name within the " " in the above hidden input field -->
            <input
              type="hidden"
              name="zf_redirect_url"
              value="https://www.awesomeinc.org/confirmation/bootcamp-download"
            /><!-- To redirect to a specific page after record submission , place the respective url within the " " in the above hidden input field -->
            <input
              type="hidden"
              name="zc_gad"
              value=""
            /><!-- If GCLID is enabled in Zoho CRM Integration, click details of AdWords Ads will be pushed to Zoho CRM -->
            <h2>Bootcamp Program Guide</h2>
            <!--Name-->
            <input
              class="form-control"
              placeholder="First Name"
              type="text"
              maxlength="255"
              name="Name_First"
              fieldType="7"
            /><br />
            <input
              class="form-control"
              placeholder="Last Name"
              type="text"
              maxlength="255"
              name="Name_Last"
              fieldType="7"
            /><br />
            <!--Email-->
            <input
              class="form-control"
              placeholder="Email Address"
              type="text"
              maxlength="255"
              name="Email"
              value=""
              fieldType="9"
            />
            <p>No spam. Just Oreos.</p>
            <br />

            <input
              type="hidden"
              id="Checkbox_1"
              name="Checkbox"
              checked
              value="Web&#x20;Developer&#x20;Bootcamp"
            />
            <div>
              <button type="submit" class="btn btn-danger btn-large lgx-btn">
                Submit
              </button>
            </div>
          </form>
        </div>
        {% elsif include.initiative == 'youth-program-guide' %}
        <div class="form-group">
          <!-- Change or deletion of the name attributes in the input tag will lead to empty values on record submission-->
          <form
            action="https://forms.zohopublic.com/virtualoffice9155/form/YouthProgramGuide/formperma/R7u651FVYVwtxnDViBIckJawdMEeJeCdnAgddE6o9x0/htmlRecords/submit"
            name="form"
            id="form"
            class="validate"
            method="POST"
            accept-charset="UTF-8"
            enctype="multipart/form-data"
          >
            <input type="hidden" name="zf_referrer_name" value="" /<!-- To Track referrals , place the referrer name within the " " in the above hidden input field -->
            <input
              type="hidden"
              name="zf_redirect_url"
              value="https://www.awesomeinc.org/confirmation/youth"
            /><!-- To redirect to a specific page after record submission , place the respective url within the " " in the above hidden input field -->
            <input
              type="hidden"
              name="zc_gad"
              value=""
            /><!-- If GCLID is enabled in Zoho CRM Integration, click details of AdWords Ads will be pushed to Zoho CRM -->
            <h2>Coding Club Program Guide</h2>
            <!--Name-->
            <input
              class="form-control"
              placeholder="First Name"
              type="text"
              maxlength="255"
              name="Name_First"
              fieldType="7"
            /><br />
            <input
              class="form-control"
              placeholder="Last Name"
              type="text"
              maxlength="255"
              name="Name_Last"
              fieldType="7"
            /><br />
            <input
              class="form-control"
              placeholder="Phone Number"
              type="text"
              maxlength="255"
              name="Number"
              fieldType="7"
            /><br />
            <!--Email-->
            <input
              class="form-control"
              placeholder="Email Address"
              type="text"
              maxlength="255"
              name="Email"
              value=""
              fieldType="9"
            />
            <p>No spam. Just Oreos.</p>
            <br />

            <input
              type="hidden"
              id="Checkbox_1"
              name="Checkbox"
              checked
              value="Coding&#x20;Club&#x20;"
            />
            <div>
              <button type="submit" class="btn btn-danger btn-large lgx-btn">
                Submit
              </button>
            </div>
          </form>
        </div>
        {% elsif include.initiative == 'fellowship-application' %}
        <div class="form-group">
            <h2>Awesome Fellowship Application</h2>
            <iframe frameborder="0" style="height:80vh;width:99%;border:none;" src='https://forms.zohopublic.com/virtualoffice9155/form/AwesomeFellowshipApplication/formperma/r12Y7iQP0rWYHU33MvoA15j6wO4YlTVP02EuWMwJol8'></iframe>
        {% endif %}
      </div>
      <!-- modal body -->
    </div>
    <!-- modal content -->
  </div>
  <!-- modal dialog -->
</div>
<!-- //.Modal-->
