<!-- Main navigational bar for pages -->

<div id="lgx-header" class="lgx-header"> <!--lgx-header-container lgx-header-container-white lgx-header-container-brand lgx-header-singlemenu-->
  
  <div class="lgx-header-bottom lgx-header-bottom-fixed-black lgx-header-bottom-scrol-black"> <!--lgx-header-bottom-black lgx-header-bottom-brand--><!--lgx-header-bottom-fixed lgx-header-bottom-fixed-black lgx-header-bottom-fixed-brand lgx-header-bottom-fixed-transparent--><!--lgx-header-bottom-scrol-black lgx-header-bottom-scrol-brand-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <nav class="navbar navbar-default lgx-navbar navbar-static-top">
            <div class="container">
              <nav class="navbar navbar-default lgx-navbar lgx-navbar-search">
                <div class="lgxcontainer">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <!-- <a href="#toggle-search" class="hidden-lg hidden-md hidden-sm lgx-search-mobile search-animate"><span class="glyphicon glyphicon-search"></span></a> -->
                    <div class="lgx-logo">
                      <a href="/" class="lgx-scroll">
                        <img src="/images/logos/ainc-logo-horizontal-white-text.png" alt="Awesome Inc Logo" class="img-responsive inline-block"/>
                      </a>
                    </div>
                  </div>
                  <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav lgx-nav">
                      <li>
                        <div class="mobile-toggle ">
                          <a href="{{ site.data.routes.learn }}" role="button" aria-haspopup="true" aria-expanded="false">Learn To Code <span class="caret"></span></a>
                          <button class="plus navbar-toggle" data-toggle="collapse" data-target=".dropdown-submenu1">+</button>
                        </div>
                        <ul class="dropdown-menu">
                          <li><a href="{{ site.data.routes.youth }}">Youth Courses</a></li>
                          <li><a href="{{ site.data.routes.woc }}">Kids Camps</a></li>
                          <li><a href="{{ site.data.routes.adults }}">Adult Courses</a></li>
                          <li><a href="{{ site.data.routes.bootcamp }}">Bootcamp</a></li>
                        </ul>
                        <!-- <div class="collapse navbar-collapse"> -->
                          <ul class="dropdown-submenu1 collapse">
                            <li><a href="{{ site.data.routes.youth }}">Youth Courses</a></li>
                            <li><a href="{{ site.data.routes.woc }}">Kids Camps</a></li>
                            <li><a href="{{ site.data.routes.adults }}">Adult Courses</a></li>
                            <li><a href="{{ site.data.routes.bootcamp }}">Bootcamp</a></li>
                          </ul>
                        <!-- </div> -->
                        </li>
                      <li>
                        <div class="mobile-toggle ">
                          <a href="{{ site.data.routes.fellowship }}" role="button" aria-haspopup="true" aria-expanded="false">Startups <span class="caret"></span></a>
                          <button class="plus navbar-toggle" data-toggle="collapse" data-target=".dropdown-submenu2">+</button>
                        </div>
                        <ul class="dropdown-menu">
                          <li><a href="{{ site.data.routes.workspace }}">Workspace</a></li>
                          <li><a href="{{ site.data.routes.idea-form }}">I have an idea</a></li>
                          <li><a href="{{ site.data.routes.fellowship }}">Startup Accelerator</a></li>
                          <li><a href="{{ site.data.routes.five-across }}">5 Across</a></li>
                          <li><a href="{{ site.data.routes.venture-labs }}">Innovation Incubated</a></li>
                          <li><a href="{{ site.data.routes.yearbook }}" target="_blank">Community Yearbook</a></li>
                        </ul>
                        <ul class="dropdown-submenu2 collapse">
                          <li><a href="{{ site.data.routes.workspace }}">Workspace</a></li>
                          <li><a href="{{ site.data.routes.idea-form }}">I have an idea</a></li>
                          <li><a href="{{ site.data.routes.fellowship }}">Startup Accelerator</a></li>
                          <li><a href="{{ site.data.routes.five-across }}">5 Across</a></li>
                          <li><a href="{{ site.data.routes.venture-labs }}">Innovation Incubated</a></li>
                          <li><a href="{{ site.data.routes.yearbook }}" target="_blank">Community Yearbook</a></li>
                        </ul>
                      </li>
                      <li>
                        <div class="mobile-toggle ">
                          <a href="{{ site.data.routes.workspace }}" role="button" aria-haspopup="true" aria-expanded="false">Workspace <span class="caret"></span></a>
                          <button class="plus navbar-toggle" data-toggle="collapse" data-target=".dropdown-submenu3">+</button>
                        </div>
                        <ul class="dropdown-menu">
                          <li><a href="https://calendly.com/awesometour/30min?">Schedule a Tour</a></li>
                          <li><a href="{{ site.data.routes.rent-options }}">Office Space</a></li>
                          <li><a href="{{ site.data.routes.events }}">Events</a></li>
                        </ul>
                        <ul class="dropdown-submenu3 collapse">
                          <li><a href="https://calendly.com/awesometour/30min?">Schedule a Tour</a></li>
                          <li><a href="{{ site.data.routes.rent-options }}">Office Space</a></li>
                          <li><a href="{{ site.data.routes.events }}">Events</a></li>
                        </ul>
                      </li>
                      <li>
                        <div class="mobile-toggle ">
                          <a href="{{ site.data.routes.apax }}" role="button" aria-haspopup="true" aria-expanded="false">Web & App Development<span class="caret"></span></a>
                          <button class="plus navbar-toggle" data-toggle="collapse" data-target=".dropdown-submenu4">+</button>
                        </div>
                        <ul class="dropdown-menu">
                          <li><a href="https://www.apaxsoftware.com/">APAX Software </a></li>
                        </ul>
                        <ul class="dropdown-submenu4 collapse">
                          <li><a href="https://www.apaxsoftware.com/">APAX Software </a></li>
                        </ul>
                      </li>
                      <li>
                        <div class="mobile-toggle ">
                          <a href="{{ site.data.routes.about }}" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">Be Awesome <span class="caret"></span></a>
                          <button class="plus navbar-toggle" data-toggle="collapse" data-target=".dropdown-submenu5">+</button>
                        </div>
                        <ul class="dropdown-menu">
                          <li><a href="{{ site.data.routes.about }}">About</a></li>
                          <li><a href="{{ site.data.routes.core-values }}">Core Values</a></li>
                          <li><a href="{{ site.data.routes.blog }}">Blog</a></li>
                          <li><a href="{{ site.data.routes.press }}">Press</a></li>
                          <li><a href="{{ site.data.routes.careers }}">Careers</a></li>
                          <li><a href="{{ site.data.routes.internships }}">Internships</a></li>
                          <li><a href="{{ site.data.routes.events }}">Events</a></li>
                        </ul>
                        <ul class="dropdown-submenu5 collapse">
                          <li><a href="{{ site.data.routes.about }}">About</a></li>
                          <li><a href="{{ site.data.routes.core-values }}">Core Values</a></li>
                          <li><a href="{{ site.data.routes.blog }}">Blog</a></li>
                          <li><a href="{{ site.data.routes.press }}">Press</a></li>
                          <li><a href="{{ site.data.routes.careers }}">Careers</a></li>
                          <li><a href="{{ site.data.routes.internships }}">Internships</a></li>
                          <li><a href="{{ site.data.routes.events }}">Events</a></li>
                        </ul>
                      </li>
                      {% if page.url == "/bootcamp" %}
                        <a class="lgx-btn lgx-btn-small-text sticky-button absolute-child" href="/bootcamp/apply">Apply Now</a> 
                      {% endif %}
                    </ul>
                  </div>
                  <!--/.nav-collapse -->
                </div>
              </nav>
            </div><!-- /.container -->
          </nav>
        </div><!-- COL-XS-12 -->
      </div><!--//.ROW-->
    </div><!-- //.CONTAINER -->
  </div><!-- //.INNER-->
</div>
{% if page.url == "/bootcamp" %}
  <a class="lgx-btn lgx-btn-small-text sticky-button absolute-child mobile-only lgx-btn-sm" href="/bootcamp/apply">Apply Now</a> 
{% endif %}
