<div class="alert alert-primary alert-danger" role="alert">
    Sign up <a style="text-decoration: underline" href="https://www.eventbrite.com/e/december-5-across-finals-pitch-competition-tickets-128793367429">here</a> for 5 Across Finals - December 2 
    <!-- <a href="#" target="_blank" class="btn btn-primary">Click here</a> -->
    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"> -->
        <!-- <span aria-hidden="true">x</span> -->
    <!-- </button> -->
</div>
