<div class="alert alert-primary alert-danger" role="alert">
    Sign up <a style="text-decoration: underline" href="https://www.eventbrite.com/e/july-5-across-pitch-competition-tickets-111046739788">here</a> for Lexington Entrepreneurship Day - July 29
    <!-- <a href="#" target="_blank" class="btn btn-primary">Click here</a> -->
    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"> -->
        <!-- <span aria-hidden="true">x</span> -->
    <!-- </button> -->
</div>