<div class="alert alert-primary alert-danger" role="alert">
    Sign up <a style="text-decoration: underline" href="https://www.eventbrite.com/e/226103029247?utm_source=website&utm_medium=website&utm_campaign=5a-website-february2022">here</a> for 5 Across - February 23, 2022
    <!-- <a href="#" target="_blank" class="btn btn-primary">Click here</a> -->
    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"> -->
        <!-- <span aria-hidden="true">x</span> -->
    <!-- </button> -->
</div>
