<div id="crmWebToEntityForm">
  <form action='https://forms.zohopublic.com/virtualoffice9155/form/MicroSchoolApplication/formperma/-fV_fHGsjJO6hg2LWAZ7TTl8dcctf5PHpvgZHNXlNcI/htmlRecords/submit' name='form' id='form' method='POST' accept-charset='UTF-8' enctype='multipart/form-data'>

 <!-- Do not remove this code. -->
  <input type="hidden" name="zf_referrer_name" value=""><!-- To Track referrals , place the referrer name within the " " in the above hidden input field -->
  <input type="hidden" name="zf_redirect_url" value=""><!-- To redirect to a specific page after record submission , place the respective url within the " " in the above hidden input field -->
  <input type="hidden" name="zc_gad" value=""><!-- If GCLID is enabled in Zoho CRM Integration, click details of AdWords Ads will be pushed to Zoho CRM -->

  
  <div class="form-group">
    <label for="First Name">Parent First Name</label>
    <input type="text" fieldType=7 maxlength="255" name="Name_First" placeholder="First Name" class="form-control input-lg" required>
  </div>
  <div class="form-group">
    <label for="Last Name">Parent Last Name</label>
    <input type="text" fieldType=7 maxlength="255" name="Name_Last" placeholder="Last Name" class="form-control input-lg" required>
  </div>
  <div class="form-group">
      <label for="Email">Parent Email</label>
      <input type="email" fieldType=9 maxlength="100" name="Email" placeholder="Email Address" class="form-control input-lg" required>
  </div>
  <div class="form-group">
    <label for="Phone">Parent Phone</label>
    <input type="text" compname="PhoneNumber" placeholder="(123) 456-7890" name="PhoneNumber_countrycode" phoneFormat="1" isCountryCodeEnabled=false maxlength="20" value="" fieldType=11 id="international_PhoneNumber_countrycode" class="form-control input-lg" required />
  </div>
  <div class="form-group">
    <label for="First Name">Student First Name</label>
    <input type="text" fieldType=7 maxlength="255" name="Name1_First" placeholder="First Name" class="form-control input-lg" required>
  </div>
  <div class="form-group">
    <label for="First Name">Student Last Name</label>
    <input type="text" fieldType=7 maxlength="255" name="Name1_Last" placeholder="Last Name" class="form-control input-lg" required>
  </div>
  <div class="form-group">
    <label for="First Name">Student School</label>
    <input type="text" fieldType=1 maxlength="255" name="SingleLine1" placeholder="School" class="form-control input-lg" required>
  </div>
  <div class="form-group">
    <label for="First Name">Student Grade</label>
    <input type="text" fieldType=1 maxlength="255" name="SingleLine1" placeholder="Grade" class="form-control input-lg" required>
  </div>
  <div class="form-group">
    <label for="First Name">Student Age</label>
    <input type="text" fieldType=1 maxlength="255" name="SingleLine1" placeholder="Age" class="form-control input-lg" required>
  </div>
  <div class="form-group">
    <label for="Lead Source">How did you find out about the Micro School?</label>
    <select class="form-control input-lg" name="Radio" required>
      <option value="-Select-">-Select-</option>
      <option value="Advertisement">Advertisement</option>
      <option value="News&#x20;Article">News Article</option>
      <option value="Signage&#x20;&#x2f;&#x20;Building">Signage &#x2f; Building</option>
      <option value="Google&#x20;Search">Google Search</option>
      <option value="Referral&#x20;&#x2f;&#x20;Word&#x20;of&#x20;Mouth">Referral &#x2f; Word of Mouth</option>
      <option value="Event">Event</option>
      <option value="Facebook">Facebook</option>
      <option value="Other">Other</option>
    </select>
  </div>
  <div style="display:none;">
    Course
    <select name="LEADCF4">
    <option selected value="Coding Club">Coding Club</option>
    </select>
  </div>
  <input type="submit" value="Submit" class="btn btn-default" >
</form>
</div>