<!-- Nav bar for login, FAQ, social media, etc.  -->
<div class="header-top"> <!--header-top-white header-top-brand-->
    <div class="header-top-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact">
                        <ul class="list-inline">
                            <li><span class="question-text">Questions?</span> <i class="fa fa-phone" aria-hidden="true"></i> +123 125 145 </li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i> username@domain.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-menu">
                        <ul class="list-inline">
                            <li class="login-register"><a href="#">Login/Register</a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!--//.header-top-->