
<div class="row" style="padding-bottom:20px; padding-top: 10px;">
    <div class="col-md-7">
        <div style="display:inline-block;">
            <br>
            <div style="display:inline-block; padding-right:15px; padding-bottom:15px;">
                <a class="btn btn-primary " style="margin-left:5px; font-weight: 600;" href="https://www.eventbrite.com/e/week-of-code-summer-camp-at-awesome-inc-2019-tickets-57128751634" target="_blank">June 10-13 &raquo;</a>
            </div>
            <div style="display:inline-block; padding-right:15px; padding-bottom:15px;">
                <a class="btn btn-primary " style="margin-left:5px; font-weight: 600;" href="https://www.eventbrite.com/e/week-of-code-summer-camp-at-awesome-inc-2019-tickets-57128752637" target="_blank">June 17-20 &raquo;</a>
            </div>
            <div style="display:inline-block; padding-right:15px; padding-bottom:15px;">
                <a class="btn btn-primary " style="margin-left:5px; font-weight: 600;" href="https://www.eventbrite.com/e/week-of-code-summer-camp-at-awesome-inc-2019-tickets-57128753640" target="_blank">July 8-11 &raquo;</a>
            </div>
            <div style="display:inline-block; padding-right:15px; padding-bottom:15px;">
                <a class="btn btn-primary " style="margin-left:5px; font-weight: 600;" href="https://www.eventbrite.com/e/week-of-code-summer-camp-at-awesome-inc-2019-tickets-57128754643" target="_blank">July 15-18 &raquo;</a>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <h3>Scholarships sponsored by:</h3>
        <a href="https://goo.gl/forms/IXUBNXm0ZC7pMUXG3">
            <img src="/img/verizon-mailchimp.png" style="width: 60%; margin-top: 10px; position: absolute;"/>
        </a>
    </div>
</div>
