
<div class="row" style="padding-bottom:20px; padding-top: 10px;">
    <div class="col-md-7">
        {% include woc-buttons.html %}
    </div>
    <div class="col-md-5">
        <h3>Scholarships sponsored by:</h3>
        <a href="https://goo.gl/forms/IXUBNXm0ZC7pMUXG3">
            <img src="/images/aincu/verizon-mailchimp.png" style="width: 60%; margin-top: 10px;"/>
        </a>
        <a class="lgx-btn" style="margin-top: 30px; margin-left: 10px; font-weight: 600;" href="https://goo.gl/forms/IXUBNXm0ZC7pMUXG" target="_blank">
            Apply Now &raquo;
        </a>
    </div>
</div>
