---
title: 5 Across
tag: 5across
layout: recurring_event
redirect_from: 
  - '/5_across'
  - '/5-across'
  - '/5across'
  - 'events/5_across'
  - 'events/5-across'
subtitle: A Pitch Competition for Kentucky Entrepreneurs
logo_path: '/assets/img/5-across/5-across-logo.png' 
---

<div class="row"> 
  <div class="lgx-heading">
    <h2 class="heading-title text-left">Upcoming Events</h2>
  </div>
  {% assign events = site.events | sort: "date" | where: "tags", "5across" | where_exp: "event", "event.date > site.time" | limit: 6 %}
  {% if events.size == 0 %}
  <h5>No upcoming events, check back later.</h5>
  {% else %}
    {% for event in events %}
      {% if event.eventbrite_id or feature_event.eventbrite_id == '' %}
        {% assign event_url = "https://www.eventbrite.com/e/" | append: event.eventbrite_id %}
      {% elsif event.event_url %}
        {% assign event_url = event.event_url %}
      {% else %}
        {% assign event_url = "#" %}
      {% endif %}
      
      <div class="col-xs-12 col-sm-6">
        <div class="lgx-events-area">
          <div class="lgx-single-event">
            <div class="thumb">
              <a target="_blank" href="{{ event_url }}">
                <img
                  {% if event.image %}
                    src="{{ event.image }}" 
                  {% else %}
                    src="/images/icons/innovation.png" 
                  {% endif %} 
                alt="{{ event.title }}">
              </a>
            </div>
            <div class="event-info">
              <a target="_blank" class="date" href="{{ event_url }}">
                {{ event.date | date: '%B %-d, %Y'}}
              </a>
              <h4 class="location">{{ event.location }}</h4>
              <h3 class="title">
                <a target="_blank" class="date" href="{{ event_url }}">
                  {{ event.title }}
                </a>
              </h3>
            </div>
          </div>  <!-- single event -->
        </div> <!-- events-area -->
      </div>  <!-- col -->
    {% endfor %}
  {% endif %}
  <hr>
</div> <!-- row -->


<div class="row"> 
  <div class="lgx-heading">
    <div class="lgx-heading-area">
      <h2 class="heading-title text-left">5 Across Videos</h2>
    </div>
  </div>
  <a class="lgx-btn" target="_blank" href="https://www.youtube.com/playlist?list=PL_YvoQ-KM3YEp17nBfSyGkgG319Qdrx9U">
    5 Across Playlist
  </a>
  <hr>
</div> <!-- row -->


<div class="row">
  <div class="lgx-heading">
    <h2 class="heading-title text-left">Related Events</h2>
  </div>
  {% assign related_events = site.events | sort: "date" | limit: 6 | where_exp: "event", "event.date > site.time" %}

  {% if related_events.size == 0 %}
    <h5>No related events, check back later.</h5>
  {% else %}
    {% for event in related_events %}
      {% if event.eventbrite_id or feature_event.eventbrite_id == '' %}
        {% assign event_url = "https://www.eventbrite.com/e/" | append: event.eventbrite_id %}
      {% elsif event.event_url %}
        {% assign event_url = event.event_url %}
      {% else %}
        {% assign event_url = "#" %}
      {% endif %}

      <div class="col-xs-12 col-sm-6">
        <div class="lgx-events-area">
          <div class="lgx-single-event">
            <div class="thumb">
              <a target="_blank" href="{{ event_url }}">
                <img
                  {% if event.image %}
                    src="{{ event.image }}" 
                  {% else %}
                    src="/images/icons/innovation.png" 
                  {% endif %} 
                alt="{{ event.title }}">
              </a>
            </div>
            <div class="event-info">
              <a target="_blank" class="date" href="{{ event_url }}">
                {{ event.date | date: '%B %-d, %Y'}}
              </a>
              <h4 class="location">{{ event.location }}</h4>
              <h3 class="title">
                <a target="_blank" class="date" href="{{ event_url }}">
                  {{ event.title }}
                </a>
              </h3>
            </div>
          </div>  <!-- single event -->
        </div> <!-- events-area -->
      </div>  <!-- col -->
    {% endfor %}
  {% endif %}
</div> <!-- row -->

<hr>


<div class="row"> 
  <div class="lgx-heading">
    <h2 class="heading-title text-left">Recent Blog Posts</h2>
  </div>
  {% assign recent_blogs = site.blog | sort: 'date' %}
  {% for post in recent_blogs limit: 3 %}

  <div class="col-xs-6 col-sm-4">
    <div class="lgx-blog-single">
      <figure>
        <img class="object-fit-cover" src="{{ post.header_img | default: '/images/logos/ainc-logo-triangle-layer-red.png' }}" alt="{{ post.author | default:'Awesome Inc' }}" title="{{ post.author | default:'Awesome Inc' }}"/>
        <figcaption>
          <div class="figcaption">
            <div class="lgx-hover-link">
              <div class="lgx-vertical">
                <a href="{{ post.url }}"><i class="fa fa-book"></i></a>
              </div>
            </div>
          </div>
          <div class="author">
            <div class="author-info">
              <img src="{{ post.author_img | default: '/images/icons/innovation.png' }}" alt="author">
              <div class="author-info">
                <h4 class="title"><a href="{{ post.url }}">{{ post.author | default: "Awesome Inc"}}</a></h4>
                <h5 class="subtitle">{{ post.date | date: "%b %d, %Y" }}</h5>
              </div>
            </div>
          </div>
        </figcaption>
      </figure>
      <div class="text-area">
        <h3 class="title"><a href="{{ post.url }}">{{ post.title | truncate: 70 }}</a></h3>
        <p class="text">{% if post.description %}{{ post.description | truncate: 100, "..." }}{% else %}{{ post.content | truncate: 100, "..." }}{% endif %}</p>
        <div class="hits-area">
          <span class="date"></span>
        </div>
        <div class="text-bottom">
          <a class="date" href="{{ post.url }}">Read More</a>
          <a class="link" href="{{ post.url }}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div> <!--blog-single-->
  </div> <!-- col -->
  {% endfor %}
  <hr>
</div> <!-- row -->
  
