---
title: Web Developer Bootcamp
description: Become A Professional Web Developer
image: /images/uploads/codelogo.png
logo: "/images/logos/aincu-bootcamp-logo.png"
layout: default
permalink: /bootcamp
page_id: bootcamp
team: aincu
breadcrumb: /learn/adults/bootcamp
level:
  - Advanced
  - Intermediate
course-category: bootcamp
course_topics: 'CS and Programming Fundamentals, Full-Stack Web Development, Tech Job Skills'
technologies:
  - HTML
  - CSS
  - JavaScript
  - PHP
  - SQL
  - Laravel
  - React
  - Git
  - Agile
  - Cloud
class_day:
  - Mon-Fri
season:
  - Spring
application-date: 2021-12-10
prework-date: 2021-08-23
program-begin-date: 2021-09-20
program-end-date: 2021-12-10
time: 8am - 5pm
age_group: adult
open: true
hide: false
rel_path: /bootcamp
page_id: bootcamp
team: aincu
---
<section id="bootcamp-header">
  <div class="lgx-inner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <div class="lgx-heading-area">
            <div class="lgx-heading">
              <h2 class="heading-title">A 16 week, Full-Time, Job-Guaranteed Program designed for individuals looking to make a career change.</h2>
              <a class="lgx-btn lgx-btn-small-text" href="/bootcamp/apply">Apply Now</a> 
              {% include modal-form.html button-class='lgx-btn lgx-btn-small-text lgx-btn-grey-light' initiative='bootcamp-program-guide' link-text='Download Program Guide' %}
            </div>
          </div>
        </div>
      </div><!-- ROW-->
    </div><!-- CONTAINER -->
  </div><!-- INNER -->
  <svg id="bootcamp-clip" viewbox="0 0 100 100" preserveAspectRatio="none">
    <polygon points="0,0 100,100 0,100"></polygon> 
  </svg>
</section>


<section id="answer-honestly">
  <div id="answer-div">
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-md-4">
          <div class="relative-parent">
            <div class="absolute-child">
              <h3>Answer Honestly...</h3>
              <p><i>(your answer is safe with us, we promise.)</i></p>
            </div>
          </div>
        </div><!--COL-->
      </div><!--ROW-->
      <div class="row">
        <div class="col-sm-5ths">
          <div class="shield-panel">
            <div class="shield-text">
              <h6>Do you ever think of changing careers?</h6>
            </div>
          </div>
        </div>
        <div class="col-sm-5ths">
          <div class="shield-panel">
            <div class="shield-text">
              <h6>Are you looking for a more meaningful career?</h6>
            </div>
          </div>
        </div>
        <div class="col-sm-5ths">
          <div class="shield-panel">
            <div class="shield-text">
              <h6>Do you enjoy learning new ideas and solving problems?</h6>
            </div>
          </div>
        </div>
        <div class="col-sm-5ths">
          <div class="shield-panel">
            <div class="shield-text">
              <h6>Do you want to gain a skill set that will set you up for success no matter your location?</h6>
            </div>
          </div>
        </div>
        <div class="col-sm-5ths">
          <div class="shield-panel">
            <div class="shield-text">
              <h6>Are you looking to explore a different life path?</h6>
            </div>
          </div>
        </div>
      </div><!--row-->
      <div class="row">
        <div id="answer-yes">
          <p class="fancy-text">Yes!</p>
          <p><b>If you answered yes to any of these, our Web Developer Bootcamp could be your next move.</b></p>
          <p>The Web Developer Bootcamp is a 16-week, intensive training program for aspiring software developers.</p>
          <p>{% include modal-form.html button-class='lgx-btn lgx-btn-small-text' initiative='bootcamp-program-guide' link-text='Download Program Guide' %}</p>
        </div>
      </div><!-- row -->
    </div><!-- CONTAINER -->
  </div> <!-- answer -->
</section>
  
<section id="alumni-testimonials">
  <div class="lgx-inner">
    <div class="container">
      <div class="row">
        <div class="lgx-heading-area">
          <div class="lgx-heading lgx-heading-white">
            <h2 class="heading-title">
              Hear from our Alumni
            </h2>
          </div>
        </div><!-- lgx-heading -->
      </div> <!--row -->
      <div class="row row-eq-height">
        <div class="col-xs-12 col-sm-4 col-md-2 col-md-offset-2">
          <div id="bootcamp-grads-images">
            <img src="/assets/img/bootcamp/david.jpg" data-testimonial="1" alt="Bootcamp Graduate 1"/>
            <img src="/assets/img/bootcamp/melo.jpg" class="active" data-testimonial="2" alt="Bootcamp Graduate 2"/>
            <img src="/assets/img/bootcamp/brett.jpg" data-testimonial="3" alt="Bootcamp Graduate 3"/>
          </div>
        </div><!-- col -->
        <div class="col-xs-12 col-sm-8 col-md-7">
          <div class="testimonial-window" id="bootcamp-grads-content">
            <div class="testimonial-window-text" data-testimonial="1">
              <h6>David Vanderhaar</h6>
              <p>David worked part-time at Starbucks, and applied for the Bootcamp on a whim (and with a little encouragement from his wife). In addition to working full-time as a software developer, he also teaches classes helping kids learn to code.</p>
            </div>
            <div class="testimonial-window-text active" data-testimonial="2">
              <h6>Melanie Stoeckle</h6>
              <p>Melanie came to Bootcamp with previous experience in graphic design. She landed a job as a developer within a week of graduating from the program. Eventually, she earned the freedom through her employer to work remotely, and now travels the world - her office is wherever there's a wifi connection.</p>
            </div>
            <div class="testimonial-window-text" data-testimonial="3">
              <h6>Brett Fraley</h6>
              <p>Brett made the switch from factory worker to software developer. "I worked in lots of different types of factories for years and my body was just getting run down at such a young age. I knew I needed something else. There's no way I could have afforded time or money for a four-year degree."</p>
            </div>
          </div>
        </div><!-- col -->
      </div> <!-- row -->
      <div class="row">
        <p id="more-alumni">
          <a class="lgx-btn" href="/alumni">More Alumni</a>
        </p>
      </div>
    </div> <!-- container -->
  </div><!-- lgx-inner -->
</section>

<section id="motivational-quote">
  <div class="lgx-inner">
    <div class="container">
      <div class="row">
        <p>"You don't have to feel trapped. Earn your freedom, work when & where you want. Earn a living in just 40 hours a week."</p>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- lgx-inner-->
</section>

<section id="why-awesome-inc-header">
  <svg viewbox="0 0 100 100" id="awesomeinc-clip" preserveAspectRatio="none">
    <polygon points="100,0 0,100 100,100"></polygon> 
  </svg>
</section>

<section id="why-awesome-inc">
  <div class="lgx-inner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-4">
          <div class="relative-parent">
            <div class="absolute-child">
              <div class="lgx-heading">
                <h2 class="heading-title">
                  Why Awesome Inc?
                </h2>
              </div>
            </div> <!-- absolute-child -->
            <div id="why-sub-text">
              <p>Awesome Inc exists to grow the tech and startup community in central KY. We do that by offering a startup accelerator, a coworking space, a sister software company called APAX, and running Awesome Inc U - our coding school.</p>
              <p>We do a lot, and we do it all to create an ecosystem where people like you can thrive.</p>
              <!-- Calendly link widget begin -->
              <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
              <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
              <p class="center-text-mobile"><a class="lgx-btn" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/ainc/visit-awesome-inc'});return false;">Schedule a Visit</a></p>
              <!-- Calendly link widget end -->
            </div>
          </div> <!-- relative-parent -->
        </div>
      </div> <!-- row -->
      <div id="instructor-row" class="row row-eq-height flex-img-center relative-parent">
        <img id="arrow-img" class="mobile-tablet-hide absolute-child" src="/assets/img/bootcamp/down-arrow.png" alt="Arrow pointing to Awesome Inc bootcamp instructor"/>
        <div class="col-md-4">
          <img src="/assets/img/bootcamp/justin.jpg" alt="Bootcamp Instructor, Justin Hall"/>
        </div>
        <div class="col-md-8">
          <div id="meet-instructor-block">
            <p class="mobile-hide fancy-text">meet justin</p>
            <p>This is Justin, an artist turned developer who runs our training program. He's been on this journey himself. He found Awesome Inc and is now helping us create opportunies for others.</p>
            <p class="center-text-mobile"><a class="lgx-btn lgx-btn-small-text" href="/bootcamp/apply">Apply Now</a></p>
          </div>
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- lgx-inner-->
</section>

<section id="job">
  <div class="lgx-inner">
    <div class="container">
      <div class="row">
        <img src="/assets/img/bootcamp/job-guaranteed.png" class="center-block" alt="Graduates will land a job, guaranteed" />
        <p class="center-text">We only succeed when you succeed. We guarantee that all students who complete the 16-week Bootcamp program and uphold the job search requirements will receive a job offer within six months of their graduation date, or we'll refund your tuition. See our Student Agreement for details.</p>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- lgx-inner-->
</section>

<section id="stats">
  <div class="lgx-inner">
    <div class="container">
      <div class="row row-eq-height">
        <div class="col-xs-12 col-md-4">
          <img class="center-block" src="/assets/img/bootcamp/graduation.png" alt="Bootcamp Graduation Rate" />
          <h5 class="center-text">90%</h5>
          <h4 class="center-text">Graduation Rate</h4>
          <p class="center-text"><i>2016-2020</i></p>
          <br> <!-- Compensate for "Average" in last col -->
        </div>
        <div class="col-xs-12 col-md-4">
          <img class="center-block" src="/assets/img/bootcamp/job-placement.png" alt="Bootcamp Job Placement Rate" />
          <h5 class="center-text">86%</h5>
          <h4 class="center-text">Job Placement Rate</h4>
          <p class="center-text"><i>Within 180 days</i></p>
          <br> <!-- Compensate for "Average" in last col -->
        </div>
        <div class="col-xs-12 col-md-4">
          <img class="center-block" src="/assets/img/bootcamp/salary.png" alt="Programming Starting Salary" />
          <h5 class="center-text">$45k</h5>
          <h4 class="center-text">Starting Salary</h4>
          <p class="center-text"><i>Average</i></p>
        </div>
      </div> <!-- row -->
      <br>
      <p class="text-center">{% include modal-form.html button-class='lgx-btn lgx-btn-small-text lgx-btn-grey' initiative='bootcamp-program-guide' link-text='Download Program Guide' %}</p>
    </div> <!-- container -->
  </div> <!-- lgx-inner-->
</section>

{% include bootcamp-employers.html %}

<section id="languages">
  <div class="lgx-inner">
    <div class="container">
      <h5>With over 500 hours of hands-on training, you'll gain experience while building 10+ projects using</h5>
      <div class="row row-eq-height flex-img-center">
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/languages/html.png" alt="HTML Programming language" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/languages/css.png" alt="CSS Programming Language" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/languages/git.png" alt="Git Source Control" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/languages/javascript.png" alt="javascript Programming language" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/languages/agile.png" alt="Agile Development" class="img-responsive" />
        </div>
      </div> <!-- row -->
      <div class="row">
        <div class="col-xs-12">
          <p>With over 500 hours of hands-on training, you'll gain experience while building 10+ projects using HTML, CSS, JavaScript, web frameworks, GitHub, Agile, and more.</p>
          <p>Once admitted, students gain access to our self-paced Prework content. As Bootcamp begins, students start remotely with a 4-week, part-time Onboarding phase with daily "standup" video calls. After that, we kick into high gear for 12 weeks of full-time, in-person training. We've designed the Bootcamp to feel less like school, and more like your first 3 months on the job. By the conclusion of the combined 16-week program, our alumni are ready to interview with regional and national employers for the opportunity to earn a full-time position at a competitive junior developer's salary.</p>
        </div>
      </div>
    </div> <!-- container -->
  </div> <!-- lgx-inner-->
</section>

<section id="apply">
  <div class="lgx-inner">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 relative-parent">
          <img src="/assets/img/bootcamp/online-application.png" class="center-block-mobile" alt="Online Application" />
          <img src="/assets/img/bootcamp/arrow-steps.png" class="absolute-child" alt="Arrow to the right"/>
        </div>
        <div class="col-sm-3 relative-parent">
          <img src="/assets/img/bootcamp/basic-challenge.png" class="center-block-mobile" alt="Basic challenge" />
          <img src="/assets/img/bootcamp/arrow-steps.png" class="absolute-child" alt="Arrow to the right"/>
        </div>
        <div class="col-sm-3 relative-parent">
          <img src="/assets/img/bootcamp/in-person-interview.png" class="center-block-mobile" alt="In-person interview" />
          <img src="/assets/img/bootcamp/arrow-steps.png" class="absolute-child" alt="Arrow to the right"/>
        </div>
        <div class="col-sm-3 relative-parent">
          <img src="/assets/img/bootcamp/fio-challenge.png" class="center-block-mobile" alt="FIO Challenge" />
        </div>
      </div> <!-- row -->
      <div class="row">
        <div class="col-xs-12">
          <p>This process helps us to find top-quality applicants for the Bootcamp. We continue to be surprised and inspired by the variety of different educational and professional backgrounds from which our students come to Bootcamp. Contrary to stereotypes about software developers, there’s not just one archetype that’s a good fit for this career. Our goal throughout the application process is to find people who, in their own unique way, are ready to dive into a software development career through the accelerated learning environment we provide. For more on this, check out our blog post <a href="https://www.awesomeinc.org/blog/what-we-look-for-bootcamp-student">What We Look For In A Bootcamp Student</a>.</p>
        </div>
      </div>
      <div class="row button-row">
        <div class="col-xs-12 inline-block center-text">
          <a class="lgx-btn lgx-btn-small-text" href="/bootcamp/apply">Apply Now</a> 
          <a class="lgx-btn" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/ainc/visit-awesome-inc'});return false;">Schedule a Visit</a>
          {% include modal-form.html button-class='lgx-btn lgx-btn-small-text' initiative='bootcamp-program-guide' link-text='Download Program Guide' %}
        </div>
      </div>
    </div> <!-- container -->
  </div> <!-- lgx-inner-->
</section>

<section id="timeline">
  <div class="lgx-inner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 aside">
          <div class="lgx-heading">
            <h2 class="heading-title">The Timeline</h2>
          </div>      
          <div class="aside-content">
            <p>This is a realistic timeline of what a Web Developer Bootcamp student can expect from applying to the program to becoming a proud alumni.</p>
            <img src="/assets/img/bootcamp/timeline.png" alt="Awesome Inc U Bootcamp Timeline" />
          </div>
        </div> <!-- aside -->
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- lgx-inner-->
</section>

<section id="cost">
  <div class="lgx-inner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="lgx-heading">
            <h2 class="heading-title">The Cost</h2>
          </div>
          <div class="col-xs-12 col-sm-5">
            <div class="lgx-heading">
              <h4 class="heading-subtitle">Income Share Agreement</h4>
            </div>      
            <div class="aside-content">
              <p>
                Students pay no tuition up-front in exchange for sharing a small percentage of their
                income when employed. Unlike traditional loans, this payment has a repayment cap and set payment window, that,
                when reached, terminates the students’ repayment requirements. The ISA can be paid off early if desired.
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-offset-1">
            <div class="lgx-heading">
              <h4 class="heading-subtitle">Up-Front Payment</h4>
            </div>      
            <div class="aside-content">
              <p>
                Students who choose to pay tuition up front are offered a discounted tuition rate of $13,500.
              </p>
            </div>
          </div>
        </div><!-- col -->
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- lgx-inner-->
</section>

<section id="still-unsure">
  <div class="lgx-inner">
    <div class="container">
      <div class="row">
        <div class="vcenter">
          <div class="lgx-heading">
            <h2 class="heading-title">Still unsure? Here's everyone who took this same leap and hasn't looked back!</h2>
            <a class="lgx-btn lgx-btn-small-text" href="/alumni">Meet Alumni</a>
          </div>
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- lgx-inner-->
</section>

<section id="questions">
  <div class="lgx-inner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="lgx-heading lgx-heading-white">
            <h2 class="heading-title">Still have questions?</h2>
            <a class="lgx-btn lgx-btn-small-text" href="#bootcamp-faq-modal" data-toggle="modal" data-target="#bootcamp-faq-modal">See our FAQs</a>
            <div id="bootcamp-faq-modal" class="modal fade lgx-modal" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h2>Bootcamp FAQ</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  </div>
                  <div class="modal-body">
                    {% include bootcamp-faq.html %}
                  </div> <!-- modal body-->
                </div> <!-- modal content-->
              </div> <!-- modal dialog-->
            </div> <!-- bootcamp faq modal-->
          </div> <!-- lgx-heading -->
        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- lgx-inner-->
</section>
