---
title: Web Developer Bootcamp
description: Become A Professional Web Developer
image: /images/uploads/codelogo.png
logo: "/images/logos/aincu-bootcamp-logo.png"
layout: default
permalink: /bootcamp
team: aincu
breadcrumb: /learn/adults/bootcamp
level:
  - Advanced
  - Intermediate
course-category: bootcamp
course_topics: 'CS and Programming Fundamentals, Full-Stack Web Development, Tech Job Skills'
course_format: "Full-Time<br>4 weeks remote<br>12 weeks in-person"
technologies:
  - HTML
  - CSS
  - JavaScript
  - Python
  - SQL
  - Django
  - React
  - Git
  - Agile
  - Cloud
class_day:
  - Mon-Fri
season:
  - Spring
application-date: 2023-07-14
prework-date: 2023-08-21
program-begin-date: 2024-03-11
program-end-date: 2024-06-28
time: 8am - 5pm
age_group: adult
open: true
hide: false
rel_path: /bootcamp
page_id: bootcamp
team: aincu
---

<section id="bootcamp-header">
  <div class="lgx-inner">
    <div class="container">
      <div class="row" style="display: flex; justify-content: space-between; margin-left: 20px;">
        <div class="col-xs-12 col-sm-8">
          <div class="lgx-heading-area">
            <div class="lgx-heading" style="display: flex; flex-direction: column; align-content: flex-end; flex-wrap: wrap;">
              <nav class="fixed-side-nav">
                <ul class="nav nav-pills nav-stacked">
                  <li role="presentation"><a href="#bootcamp-upcoming-dates" class="fixed-side-nav__item text-uppercase">Program Dates</a></li>
                  <li role="presentation"><a href="#alumni-testimonials" class="fixed-side-nav__item text-uppercase">Hear From Our Alumni</a></li>
                  <li role="presentation"><a href="#why-awesome-inc-header" class="fixed-side-nav__item text-uppercase">Why Awesome Inc?</a></li>
                  <li role="presentation"><a href="#job" class="fixed-side-nav__item text-uppercase">Job Guarantee</a></li>
                  <li role="presentation"><a href="#companies" class="fixed-side-nav__item text-uppercase">Hiring Partners</a></li>
                  <li role="presentation"><a href="#languages" class="fixed-side-nav__item text-uppercase">Our Tech Stack</a></li>
                  <li role="presentation"><a href="#timeline" class="fixed-side-nav__item text-uppercase">Application Timeline</a></li>
                  <li role="presentation"><a href="#cost" class="fixed-side-nav__item text-uppercase">The Cost</a></li>
                  <li role="presentation"><a href="#still-unsure" class="fixed-side-nav__item text-uppercase">FAQs</a></li>
                  <!-- <li role="presentation"><a href="/bootcamp/apply" class="fixed-side-nav__item text-uppercase apply-now">Apply Now</a></li> -->
                </ul>
              </nav>
              <div style="display: flex; flex-direction: column; align-items: flex-end;">
                <h1 class="heading-title cta-title" style="color: white; text-align: end;">Launch Your<br/>Tech Career</h1>
                <h2 class="heading-title cta-subtitle" style="color: white; text-align: end;">A 16 week immersive Bootcamp where you'll learn Full Stack coding skills to land a tech job... or your money back.</h2>
                <div class="" style="align-self: end;">
                  <p id="get-started">
                    <a class="lgx-btn get-started-btn" href="/bootcamp/apply">Get Started</a>
                  </p>

                </div>
                <p class="button-blurb" style=" color: white; text-align: end;">Start your application in less than 30 seconds</p>

              </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- ROW-->
    </div><!-- CONTAINER -->
  </div><!-- INNER -->
</section>

<section id="bootcamp-upcoming-dates">
  <div class="lgx-inner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="lgx-heading-area">
            <div class="lgx-heading">
                <h2 class="heading-title">Upcoming Program Dates</h2>
                <h3 style="margin-bottom: 0px;">Final Application Deadline</h3>
                <h3 id="countdown" style="margin: 0px;"></h3>
                <h4 style="margin-top: 0px;"><i>Guarantees open spots for next class</i></h4>
                <!-- Display the countdown timer in an element -->
                
                <script>
                  // Set the date we're counting down to
                  var countDownDate = new Date("Jan 19, 2024 00:00:00").getTime();

                  // Update the count down every 1 second
                  var x = setInterval(function() {

                    // Get today's date and time
                    var now = new Date().getTime();

                    // Find the distance between now and the count down date
                    var distance = countDownDate - now;

                    // Time calculations for days, hours, minutes and seconds
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                    // Display the result in the element with id="demo"
                    document.getElementById("countdown").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

                    // If the count down is finished, write some text
                    if (distance < 0) {
                      clearInterval(x);
                      document.getElementById("countdown").innerHTML = "CLOSED";
                    }
                  }, 1000);
                </script>
            </div>
          </div>
        </div><!-- COL -->
      </div><!-- ROW-->
      <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-4 border--right">
          <div class="center-block date--big ">
            {% assign bootcamp = site.courses | where: "course-category", "bootcamp-old" %}
            {% for course in bootcamp limit: 1 %}
              <p><strong>{{ course.program-begin-date | date: "%b %d, %Y" }}</strong><br/>TO<br/> <strong>{{ course.program-end-date | date: "%B %d, %Y" }}</strong></p>
              <!-- <td><a href="{{ site.data.routes.bootcamp }}" class="btn btn-default center" role="button">Details &amp; Application</a></td> -->
              <!-- <a class="lgx-button" disabled>Applications Closed</a> -->
            {% endfor %}
          </div>
          <div class="program-button-container">
            <a class="lgx-btn lgx-btn-small-text lgx-btn-grey" disabled>Applications Closed</a>
          </div>

        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="center-block date--big open">
            {% assign bootcamp = site.courses | where: "course-category", "bootcamp" %}
            {% for course in bootcamp limit: 1 %}
              <p><strong>{{ course.program-begin-date | date: "%b %d, %Y" }}</strong><br/>TO<br/> <strong>{{ course.program-end-date | date: "%B %d, %Y" }}</strong></p>
              <!-- <td><a href="{{ site.data.routes.bootcamp }}" class="btn btn-default center" role="button">Details &amp; Application</a></td> -->
            {% endfor %}
          </div>
          <div class="program-button-container">
            <a class="lgx-btn" href="/bootcamp/apply" target="_blank">Apply Now</a>
          </div>
        </div>
      </div>
    </div><!-- CONTAINER -->
  </div><!-- INNER -->
</section>

<section id="two-buttons">
  <div id="two-buttons-div">
    <div class="container container--thin">
      <div class="row">
        <div class="col-sm-6 col-xs-12 border-right-white" style="padding-left: 0px;">
          <div id="left">
            <img src="/assets/img/bootcamp/QuestionCircle.svg" alt="Question Circle" class="center-block" />
            <h3 class="text-center">Have a few questions?</h3>
            <div class="text-center" style="margin-top: 30px;">
              {% include modal-form.html button-class='lgx-btn lgx-btn-smaller-text' initiative='bootcamp-program-guide' link-text='Download Program Guide' %}
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-xs-12">
          <div id="right">
            <img src="/assets/img/bootcamp/MoneyCircle.svg" alt="Money Circle" class="center-block" />
            <h3 class="text-center">Pay nothing until you land a job!</h3>
            <div class="text-center" style="margin-top: 30px;">
              <a class="lgx-btn lgx-btn-smaller-text" href="#cost">See how here</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section id="answer-honestly">
  <div id="answer-div">
    <div class="container container--thin">
      <div class="row py-5">
              <h3 class="text-center">Answer honestly...</h3>
              <p class="text-center"><i>(your answer is safe with us, we promise.)</i></p>
      </div><!--ROW-->
      <div id="shields" class="row">
        <div class="col-sm-5ths">
          <div class="shield-panel">
            <div class="shield-text">
              <h6>Do you ever think of changing careers?</h6>
            </div>
          </div>
        </div>
        <div class="col-sm-5ths">
          <div class="shield-panel">
            <div class="shield-text">
              <h6>Are you looking for a more meaningful career?</h6>
            </div>
          </div>
        </div>
        <div class="col-sm-5ths">
          <div class="shield-panel">
            <div class="shield-text">
              <h6>Do you enjoy learning new ideas and solving problems?</h6>
            </div>
          </div>
        </div>
        <div class="col-sm-5ths">
          <div class="shield-panel">
            <div class="shield-text">
              <h6>Do you want to gain a skill set that will set you up for success no matter your location?</h6>
            </div>
          </div>
        </div>
        <div class="col-sm-5ths">
          <div class="shield-panel">
            <div class="shield-text">
              <h6>Are you looking to explore a different life path?</h6>
            </div>
          </div>
        </div>
      </div><!--row-->
      <div class="row">
        <div id="answer-yes">
          <p class="fancy-text">Yes!</p>
          <p class="bold"><b>If you answered yes to any of these, our Web Developer Bootcamp could be your next move.</b></p>
          <p>The Web Developer Bootcamp is a 16-week, intensive training program for aspiring software developers.</p>
          <p class="button">{% include modal-form.html button-class='lgx-btn lgx-btn-small-text' initiative='bootcamp-program-guide' link-text='Download Program Guide' %}</p>
        </div>
      </div><!-- row -->
    </div><!-- CONTAINER -->
  </div> <!-- answer -->
</section>
  
<section id="alumni-testimonials">
  <div class="lgx-inner">
    <div class="container">
      <div class="row">
        <div class="lgx-heading-area">
          <div class="lgx-heading lgx-heading-white">
            <h2 class="heading-title">
              Hear from our Alumni
            </h2>
          </div>
        </div><!-- lgx-heading -->
      </div> <!--row -->
      <div class="row row-eq-height">
        <div class="col-xs-12 col-sm-4 col-md-2 col-md-offset-2">
          <div id="bootcamp-grads-images">
            <img src="/assets/img/bootcamp/david.jpg" data-testimonial="1" alt="Bootcamp Graduate 1"/>
            <img src="/assets/img/bootcamp/melo.jpg" class="active" data-testimonial="2" alt="Bootcamp Graduate 2"/>
            <img src="/assets/img/bootcamp/brett.jpg" data-testimonial="3" alt="Bootcamp Graduate 3"/>
          </div>
        </div><!-- col -->
        <div class="col-xs-12 col-sm-8 col-md-7">
          <div class="testimonial-window" id="bootcamp-grads-content">
            <div class="testimonial-window-text" data-testimonial="1">
              <h6>David Vanderhaar</h6>
              <p>David worked part-time at Starbucks, and applied for the Bootcamp on a whim (and with a little encouragement from his wife). In addition to working full-time as a software developer, he also teaches classes helping kids learn to code.</p>
            </div>
            <div class="testimonial-window-text active" data-testimonial="2">
              <h6>Melanie Stoeckle</h6>
              <p>Melanie came to Bootcamp with previous experience in graphic design. She landed a job as a developer within a week of graduating from the program. Eventually, she earned the freedom through her employer to work remotely, and now travels the world - her office is wherever there's a wifi connection.</p>
            </div>
            <div class="testimonial-window-text" data-testimonial="3">
              <h6>Brett Fraley</h6>
              <p>Brett made the switch from factory worker to software developer. "I worked in lots of different types of factories for years and my body was just getting run down at such a young age. I knew I needed something else. There's no way I could have afforded time or money for a four-year degree."</p>
            </div>
          </div>
        </div><!-- col -->
      </div> <!-- row -->
      <div class="row">
        <p id="more-alumni">
          <a class="lgx-btn" href="/alumni">More Alumni</a>
        </p>
      </div>
    </div> <!-- container -->
  </div><!-- lgx-inner -->
</section>

<section id="motivational-quote">
  <div class="lgx-inner" style="padding-bottom: 0px;">
    <div class="container container--thin">
      <div class="row">
        <p>"You don't have to feel trapped. Earn your freedom, work when & where you want. Earn a living in just 40 hours a week."</p>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- lgx-inner-->
</section>


<section id="carousel">
  <!-- <div class="lgx-slider lgx-slider-content"> -->
    <!-- <div class="lgx-banner-style"> -->
      <div class="lgx-inner" style="padding: 0px;">
        <div id="lgx-main-slider" class="owl-carousel">
          <!-- SLIDER 1 -->
          <div class="lgx-item-common">
            <div class="col-sm-12g">
              <div class="slider-text-single">
                <figure>
                  <picture>
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3" style="display: flex; align-items: center; padding: 5%;">
                        <img src="../images/aincu/bootcamp-testimonials/alyssa-holber-linkedin.png" alt="Start something awesome with awesome inc" style="object-fit: contain; box-shadow: 0px 1px 20px 0px #0000003b;"/>
                      </div>
                    </div>
                  </picture>
                </figure>
              </div> <!-- //.SLIDER TEXT SINGLE -->
            </div>
          </div><!--//.LGX ITEM COMMON // End slider 1-->

          <!-- SLIDER 2 -->
          <div class="lgx-item-common">
            <div class="col-sm-12g">
              <div class="slider-text-single">
                <figure>
                  <picture>
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3" style="display: flex; align-items: center; padding: 5%;">
                        <img src="../images/aincu/bootcamp-testimonials//roger-mullins-linkedin.png" alt="Start something awesome with awesome inc" style="object-fit: contain; box-shadow: 0px 1px 20px 0px #0000003b;"/>
                      </div>
                    </div>
                  </picture>
                </figure>
              </div> <!-- //.SLIDER TEXT SINGLE -->
            </div>
          </div><!--//.LGX ITEM COMMON // End slider 2-->

          <!-- SLIDER 3 -->
          <div class="lgx-item-common">
            <div class="col-sm-12g">
              <div class="slider-text-single">
                <figure>
                  <picture>
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3" style="display: flex; align-items: center; padding: 5%;">
                        <img src="../images/aincu/bootcamp-testimonials/josh-dale-linkedin.png" alt="Start something awesome with awesome inc" style="object-fit: contain; box-shadow: 0px 1px 20px 0px #0000003b;"/>
                      </div>
                    </div>
                  </picture>
                </figure>
              </div> <!-- //.SLIDER TEXT SINGLE -->
            </div>
          </div><!--//.LGX ITEM COMMON // End slider 1-->

          <!-- SLIDER 4 -->
          <div class="lgx-item-common">
            <div class="col-sm-12g">
              <div class="slider-text-single">
                <figure>
                  <picture>
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3" style="display: flex; align-items: center; padding: 5%;">
                        <img src="../images/aincu/bootcamp-testimonials/mason-williams.png" alt="Start something awesome with awesome inc" style="object-fit: contain; box-shadow: 0px 1px 20px 0px #0000003b;"/>
                      </div>
                    </div>
                  </picture>
                </figure>
              </div> <!-- //.SLIDER TEXT SINGLE -->
            </div>
          </div><!--//.LGX ITEM COMMON // End slider 1-->

          <!-- SLIDER 5 -->
          <div class="lgx-item-common">
            <div class="col-sm-12g">
              <div class="slider-text-single">
                <figure>
                  <picture>
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3" style="display: flex; align-items: center; padding: 5%;">
                        <img src="../images/aincu/bootcamp-testimonials/reic-sparks.png" alt="Start something awesome with awesome inc" style="object-fit: contain; box-shadow: 0px 1px 20px 0px #0000003b;"/>
                      </div>
                    </div>
                  </picture>
                </figure>
              </div> <!-- //.SLIDER TEXT SINGLE -->
            </div>
          </div><!--//.LGX ITEM COMMON // End slider 1-->

        </div><!-- //.OWL CAROUSEL -->
      </div><!-- //.INNER -->
    <!-- </d  iv>//.LGX-BANNER-STYLE -->
  <!-- </div>//.LGX-SLIDER-CONTENT -->
  <!-- <a href="#what-we-do" class="view-more"><span></span></a> -->
</section>
<!--BANNER END-->

<section id="why-awesome-inc-header">
  <svg viewbox="0 0 100 100" id="awesomeinc-clip" preserveAspectRatio="none">
    <polygon points="0,0 0,0 0,0"></polygon> 
  </svg>
</section>

<section id="why-awesome-inc">
  <div id="inner" class="lgx-inner" >
    <div class="container container-thin">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="lgx-heading lgx-heading-black">
            <h2 id="why-heading-title" class="heading-title">
              Why Awesome Inc?
            </h2>
          </div>
          <div class="">
            <div style="padding-bottom: 35px;">
              <div class="border-right-red" style="max-width: 95%;">
                <p class="left border-right-red">
                  At Awesome Inc, everything we do starts with our Core Values. 
                  We care about people and making a difference in our community. 
                  That's why we want to help everyone we can to learn the life changing skill of coding. 
                  And while doing that, we've seen that the best way to learn a new skill is to get the right help on your journey.
                  It's so easy to waste time trying to learn something by yourself, constantly running into problems, and getting frustrated along the way,
                  but we're here to help! With coaching from Senior Developers and a curriculum built for you, we're ready to meet you where you're at,
                  even if you're at step 0.
                </p>
              </div>
            </div> <!-- relative-parent -->
          </div>
          <div id="why-sub-text">
            <!-- Calendly link widget begin -->
            <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
            <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
            <p class="center-text-mobile"><a style="margin-top: 25px;" class="lgx-btn lgx-btn-small-text" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/ainc/awesome-inc-call'});return false;">Schedule Call</a></p>
            <!-- Calendly link widget end -->
          </div>
        </div> <!-- col -->
        <div id="right" class="col-sm-6 col-xs-6">
          <img src="/images/uploads/stephenruh-wall.jpg" class="img-responsive img-circle center-block" alt="Stephen Ruh" style="max-width: 150px;">
          <div id="meet-member-text">
            <p class="fancy-text text-center">meet stephen</p>
            <p style="padding-top: 10px;" class="meet-subtext text-center">Sometimes it's just easier to talk to a person, right? That's where Stephen comes in!</p>
            </br>
            <p style="padding-bottom: 20px;" class="meet-subtext text-center">He's happy to answer any and all questions you've got about Awesome Inc, 
              our programs, coding in general, or even just the best place to grab coffee and donuts nearby.</p>
          </div>
        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- lgx-inner-->
</section>

<section id="job">
  <div class="lgx-inner">
    <div class="container container--thin">
      <div class="row">0.74
        <img src="/assets/img/bootcamp/job-guaranteed.png" class="center-block" alt="Graduates will land a job, guaranteed" />
        <p class="text-center">We only succeed when you succeed. We guarantee that students who complete the 16-week Bootcamp program and uphold the job search requirements will receive a job offer within six months of your graduation date, or we'll refund your tuition. See our Student Agreement for details.</p>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- lgx-inner-->
</section>

<section id="stats">
  <div class="lgx-inner">
    <div class="container">
      <div class="row row-eq-height">
        <div class="col-xs-12 col-md-4">
          <img class="center-block" src="/assets/img/bootcamp/graduation.png" alt="Bootcamp Graduation Rate" />
          <h5 class="center-text">90%</h5>
          <h4 class="center-text">Graduation Rate</h4>
          <p class="center-text"><i>2016-2021</i></p>
          <br> <!-- Compensate for "Average" in last col -->
        </div>
        <div class="col-xs-12 col-md-4">
          <img class="center-block" src="/assets/img/bootcamp/job-placement.png" alt="Bootcamp Job Placement Rate" />
          <h5 class="center-text">86%</h5>
          <h4 class="center-text">Job Placement Rate</h4>
          <p class="center-text"><i>Within 180 days</i></p>
          <br> <!-- Compensate for "Average" in last col -->
        </div>
        <div class="col-xs-12 col-md-4">
          <img class="center-block" src="/assets/img/bootcamp/salary.png" alt="Programming Starting Salary" />
          <h5 class="center-text">$47k</h5>
          <h4 class="center-text">Starting Salary</h4>
          <p class="center-text"><i>Average</i></p>
        </div>
      </div> <!-- row -->
      <br>
      <p class="text-center">{% include modal-form.html button-class='lgx-btn lgx-btn-small-text lgx-btn-grey' initiative='bootcamp-program-guide' link-text='Download Program Guide' %}</p>
    </div> <!-- container -->
  </div> <!-- lgx-inner-->
</section>

{% include bootcamp-employers.html %}

<section id="languages">
  <div class="lgx-inner">
    <div class="container container--thin">
      <h5>With over 500 hours of hands-on training, you'll gain experience while building 10+ projects using</h5>
      <div class="row row-eq-height flex-img-center">
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/languages/html.png" alt="HTML Programming language" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/languages/css.png" alt="CSS Programming Language" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/languages/javascript.png" alt="javascript Programming language" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/languages/python.png" alt="Python Programming language" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/languages/react.png" alt="React Framework" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/languages/django.png" alt="Django Framework" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/languages/git.png" alt="Git Source Control" class="img-responsive" />
        </div>
        <div class="col-sm-5ths col-md-5ths">
          <img src="/assets/img/bootcamp/languages/agile.png" alt="Agile Development" class="img-responsive" />
        </div>
      </div> <!-- row -->
      <div class="row">
        <div class="col-xs-12">
          <p>In our full-stack program, you’ll receive over 500 hours of hands-on training. Plus you'll gain experience while building 10+ projects using a comprehensive range of coding languages and frameworks, including HTML, CSS, JavaScript, React, Python, Django, GitHub, Agile, and more.</p>
          <p>Once admitted, students gain access to our self-paced Prework content. As Bootcamp begins, students start remotely with a 4-week, part-time Onboarding phase with daily "standup" video calls. After that, we kick into high gear for 12 weeks of full-time, in-person training. We've designed the Bootcamp to feel less like school, and more like your first 3 months on the job. By the conclusion of the combined 16-week program, our alumni are ready to interview with regional and national employers for the opportunity to earn a full-time position at a competitive junior developer's salary.</p>
        </div>
      </div>
    </div> <!-- container -->
  </div> <!-- lgx-inner-->
</section>

<section id="apply">
  <div class="lgx-inner">
    <div class="container container--thin">
      <div class="row">
        <div class="lgx-heading lgx-heading-black">
          <h2 class="heading-title">
            Applying for Bootcamp
          </h2>
          <p class="text-center">There is a four-step, competitive application process for the Bootcamp program:</p>
        </div>
        <div class="align-self-center">
          <div class="col-sm-3 relative-parent">
            <img src="/assets/img/bootcamp/online-application.png" class="center-block-mobile" alt="Online Application" />
            <img src="/assets/img/bootcamp/arrow-steps.png" class="absolute-child" alt="Arrow to the right"/>
          </div>
          <div class="col-sm-3 relative-parent">
            <img src="/assets/img/bootcamp/basic-challenge.png" class="center-block-mobile" alt="Basic challenge" />
            <img src="/assets/img/bootcamp/arrow-steps.png" class="absolute-child" alt="Arrow to the right"/>
          </div>
          <div class="col-sm-3 relative-parent">
            <img src="/assets/img/bootcamp/in-person-interview.png" class="center-block-mobile" alt="In-person interview" />
            <img src="/assets/img/bootcamp/arrow-steps.png" class="absolute-child" alt="Arrow to the right"/>
          </div>
          <div class="col-sm-3 relative-parent">
            <img src="/assets/img/bootcamp/fio-challenge.png" class="center-block-mobile" alt="FIO Challenge" />
          </div>
        </div>
      </div> <!-- row -->
      <div class="row">
        <div class="col-xs-12">
          <p>This process helps us to find top-quality applicants for the Bootcamp. We continue to be surprised and inspired by the variety of different educational and professional backgrounds from which our students come to Bootcamp. Contrary to stereotypes about software developers, there’s not just one archetype that’s a good fit for this career. Our goal throughout the application process is to find people who, in their own unique way, are ready to dive into a software development career through the accelerated learning environment we provide. For more on this, check out our blog post <a href="https://www.awesomeinc.org/blog/what-we-look-for-bootcamp-student">What We Look For In A Bootcamp Student</a>.</p>
        </div>
      </div>
      <div class="row button-row">
        <div class="col-xs-12 inline-block center-text">
          <a class="lgx-btn lgx-btn-small-text" href="/bootcamp/apply">Apply Now</a> 
          <a class="lgx-btn" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/ainc/awesome-inc-call'});return false;">Schedule a Visit</a>
          {% include modal-form.html button-class='lgx-btn lgx-btn-small-text' initiative='bootcamp-program-guide' link-text='Download Program Guide' %}
        </div>
      </div>
    </div> <!-- container -->
  </div> <!-- lgx-inner-->
</section>

<section id="timeline">
  <div class="lgx-inner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 aside">
          <div class="lgx-heading">
            <h2 class="heading-title">The Timeline</h2>
          </div>      
          <div class="aside-content">
            <p>This is a realistic timeline of what a Web Developer Bootcamp student can expect from applying to the program to becoming a proud alumni.</p>
            <img src="/assets/img/bootcamp/timeline.png" alt="Awesome Inc U Bootcamp Timeline" />
          </div>
        </div> <!-- aside -->
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- lgx-inner-->
</section>

<section id="cost">
  <div class="lgx-inner">
    <div class="container container--thin">
      <div class="row">
        <div class="col-md-12">
          <div class="lgx-heading">
            <h2 class="heading-title">The Cost</h2>
          </div>
          <div id="cost-columns">
            <div class="col-md-6 col-xs-12 col-sm-5">
              <div id="left" class="border-right-red">
                <img src="/assets/img/bootcamp/cost.png" alt="Cost Image" class="left center-block" />
                <div class="lgx-heading">
                  <h3 class="left text-center">Income Share Agreement</h3>
                </div>      
                <div class="aside-content">
                  <p>
                    Fund your future with an Income Share Agreement. We’re partnered with industry-leading ISA provider <a href="https://www.meratas.com/" target="_blank">Meratas</a> to allow students to enroll in our full-time program with no up front tuition costs. ISA recipients only pay when they’ve landed a job making $40,000/year or more. Want to know more? <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/ainc/awesome-inc-call'});return false;">Schedule a call today</a>! 
                  </p>
                </div>
              </div>
            </div>
            <div id="right" class="col-md-6 col-xs-12 col-sm-5">
              <img src="/assets/img/bootcamp/Money_in_Hand.svg" alt="QuestionCircle" class="right center-block" />
              <div class="lgx-heading">
                <h3 class="right text-center">Up-Front Payment</h3>
              </div>      
              <div class="aside-content">
                <p class="right">
                  Students who choose to pay tuition up front are offered a discounted tuition rate of $13,500.
                </p>
              </div>
            </div>
          </div>
        </div><!-- col -->
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- lgx-inner-->
</section>

<section id="still-unsure">
  <div class="lgx-inner">
    <div class="container container--thin">
      <div class="row">
        <div class="vcenter">
          <div class="lgx-heading">
            <h2 class="heading-title">Still unsure? Here's everyone who took this same leap and hasn't looked back!</h2>
            <a class="lgx-btn lgx-btn-small-text" href="/alumni">Meet Alumni</a>
          </div>
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- lgx-inner-->
</section>

<section id="questions">
  <div class="lgx-inner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="lgx-heading lgx-heading-white">
            <h2 class="heading-title">Still have questions?</h2>
            <a class="lgx-btn lgx-btn-small-text" href="#bootcamp-faq-modal" data-toggle="modal" data-target="#bootcamp-faq-modal">See our FAQs</a>
            <div id="bootcamp-faq-modal" class="modal fade lgx-modal" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h2>Bootcamp FAQ</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  </div>
                  <div class="modal-body">
                    {% include bootcamp-faq.html %}
                  </div> <!-- modal body-->
                </div> <!-- modal content-->
              </div> <!-- modal dialog-->
            </div> <!-- bootcamp faq modal-->
          </div> <!-- lgx-heading -->
        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- lgx-inner-->
</section>
