.lgx-icon {
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: $white-color;
  .lgx-inner {
    @include bg-rgba($brand-color, .95);
  }
}

.lgx-icon-white {
  color: $black-color;
  .lgx-inner {
    @include bg-rgba($body-bg, 1);
  }
}

.lgx-about-icon {
  margin-top: 2.4rem;
  display: block;
}

//SINGLE ICON
.lgx-single-icon {
  text-align: center;
  margin-bottom: 2.4rem;
  padding: 1rem 1.5rem 2rem;
  border-radius: 6px;
  @include transition-duration($duration: 0.3s);
  .icon {
    @include font-size(63);
    opacity: .4;
    margin-bottom: 0;
  }
  .title {
    font-family: $lgx-heading-font;
    @include font-size(24);
    color: $white-color;
    margin-top: 0;
    font-weight: 700;
    a {
      color: inherit;
    }
  }
  p {
    color: $white-color;
    opacity: .7;
    margin-bottom: 1.5rem;
  }
  .lgx-btn-simple {
    color: $white-color;
    opacity: .4;
    &:hover {
      opacity: 1;
      border-bottom: 1px solid $white-color;
    }
  }
  // &:hover {
  //   @include bg-rgba($white-color, .1);
  //   -webkit-box-shadow: 0 20px 35px rgba(0, 0, 0, 0.12);
  //   -moz-box-shadow: 0 20px 35px rgba(0, 0, 0, 0.12);
  //   box-shadow: 0 20px 35px rgba(0, 0, 0, 0.12);
  // }
}


.lgx-single-icon-white {
  .icon {
    color: $brand-color;
  }
  .title {
    color: $black-color;
    a {
      color: inherit;
    }
  }
  p {
    color: $black-color;
  }
  .lgx-btn-simple {
    color: $black-color;
    &:hover {
      border-bottom: 1px solid $black-color;
    }
  }
}

.lgx-icon-no-hover {
  img {
    max-height: 100px;
    padding-bottom: 20px;
  }
  h2.title {
    @include font-size(20);
  }
}