.lgx-milestone-about {
  background: url('../../images/banners/awesome-inc-space-banner.jpg') center no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  .lgx-inner {
    @include bg-rgba($black-color, 0.90);
    padding: 10rem 0;
  }
}

.lgx-video {
  background: url('http://via.placeholder.com/1920x900') top center no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  .lgx-inner {
    @include bg-rgba($black-color, 0.90);
    padding: 16.6rem 0;
  }
  .lgx-video-area {
    padding: 0;
  }
}

.lgx-video-background {
  background: url('../../images/awesome-inc-space.jpg') top center no-repeat;
  &.week-of-code{
    background: url('../../images/awesome-inc-space.jpg') top center no-repeat;
  }
  -webkit-background-size: 110%;
  -o-background-size: 110%;
  -moz-background-size: 110%;
  background-size: 110%;
  background-position: 0 50%;
  background-attachment: fixed;
  @include screen-tablet-max {
    padding-top: 0;
    padding-bottom: 0;
    background-size: 200%;
    background-attachment: inherit;
  }
  .lgx-inner {
    @include bg-rgba($brand-grey-dark, 0.65);
    padding: 16.6rem 0;
    @include screen-tablet-max {
      padding: 5rem 0;
      h2 {
        text-align: center;
      }
      p {
        font-weight: 500;
      }
    }
  }
}

.lgx-milestone {
  .lgx-counter-area {
    margin-bottom: 4.2rem;
    color: $white-color;
    position: relative;
    border-radius: 6px;
    text-align: center;
    min-height: 75px;
    img {
      opacity: .3;
    }
    i {
      @include font-size(102);
      margin: 0;
      color: $brand-color;
      opacity: .4;

    }
    .counter-text {
      text-align: center;
      position: absolute;
      z-index: 1;
      bottom: -10px;
      width: 100%;
      left: 0;
      .lgx-counter {
        display: block;
        @include font-noline(4.2);
        font-weight: 900;
        margin-bottom: 1rem;
        color: $white-color;
      }
      small {
        font-family: $lgx-heading-font;
        color: $white-color;
        @include font-size(20);
        font-weight: 400;
        display: block;
        margin: 0;
      }
    }
    &:hover {

    }
  }
}




//VIDEO
.lgx-video-area {
  padding: 65px 0;
  figure {
    position: relative;
    border-radius: 6px;
    img {
      border-radius: 6px;
    }
    figcaption {
      @include bg-rgba($black-color, 0.7);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .video-icon {
        display: table;
        height: 100%;
        width: 100%;
        .lgx-vertical {
          display: table-cell;
          text-align: center;
          vertical-align: middle;
          span {
            font-family: $lgx-heading-font;
            @include font-size(15);
            color: $white-color;
            text-transform: uppercase;
          }
        }
        .icon {
          position: relative;
          @include transition-duration($duration: 0.3s);
          z-index: 2;
          &:before {
            content: '';
            position: absolute;
            width: 115px;
            height: 115px;
            border-radius: 50%;
            top: -57px;
            left: 17px;
            display: block;
            z-index: 2;
            opacity: 1;
            border: 1px solid $brand-color2;
            @include transition-duration($duration: 0.3s);
          }
          &:after {
            content: '';
            position: absolute;
            width: 190px;
            height: 190px;
            border-radius: 50%;
            top: -20px;
            left: -20px;
            display: block;
            @include bg-rgba($white-color, 0.5);
            z-index: 2;
            opacity: 0;
            @include transition-duration($duration: 0.3s);
          }
          i {
            display: inline-block;
            background: $brand-color2;
            color: $white-color;
            margin: 0 30px;
            border-radius: 50%;
            height: 90px;
            width: 90px;
            text-align: center;
            line-height: 92px;
            font-size: 42px;
            padding-left: 10px;
            @include transition-duration($duration: 0.3s);
          }
          &:hover {
            i {
              background: $white-color;
              color: $brand-color;
            }
            &:before {
              border: 5px solid rgba(255,255,255, 0);
            }
            &:after {
              @include bg-rgba($white-color, 0);
            }
          }
        }

      }
    }
  }
}
.lgx-modal {
  @include bg-rgba($black-color, 0.8);
  .modal-dialog {
    background: transparent;
    box-shadow: none;
    width: 100%;
    .modal-content {
      background: transparent;
      box-shadow: none;
      border: 0;
      width: 100%;
      .modal-header {
        border-bottom: 0;
        .close {
          margin-top: -36px;
          font-size: 30px;
          color: $white-color;
          padding: 7px 14px 8px;
          border-radius: 50%;
          opacity: .8;
          -webkit-transition: all 0.2s ease-in-out 0s;
          -moz-transition: all 0.2s ease-in-out 0s;
          -ms-transition: all 0.2s ease-in-out 0s;
          -o-transition: all 0.2s ease-in-out 0s;
          transition: all 0.2s ease-in-out 0s;
          &:hover {
            opacity: 1;
          }
        }
      }
      .modal-body {
        width: 70%;
        margin: 0 auto;
        background: $black-color;
        iframe {
          width: 100%;
          height: 650px;
          border: 0;
        }
      }
    }
  }
}




//Registration
.lgx-heading-video-banner {
  .subtitle {
    font-family: $lgx-heading-font;
    @include font-size(39);
    font-weight: 400;
    margin: 0;
    color: $white-color;
  }
  .title {
    font-family: $lgx-heading-font;
    @include font-size(43);
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 0;
    color: $white-color;
  }
}

.lgx-video-banner-info {
  .text {
    color: $white-color;
    margin-bottom: 2.4rem;
    font-weight: 300;
  }
}


