.modal {
  .modal-content .modal-body p, .modal-content .modal-body h2 {
    color: white;
    }

    .youtube
    {
      background-color: #000;
      position: relative;
      padding-top: 56.25%;
      overflow: hidden;
      cursor: pointer;

      .play-button {
        position: absolute;
        width: 90px;
        height: 60px;
        background-color: #333;
        box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
        z-index: 1;
        opacity: 0.8;
        border-radius: 6px;
        cursor: pointer;
        top: 50%;
        left: 50%;
        transform: translate3d( -50%, -50%, 0 );

          &:before {
            position: absolute;
            content: "";
            border-style: solid;
            border-width: 15px 0 15px 26.0px;
            border-color: transparent transparent transparent #fff;
            top: 50%;
            left: 50%;
            transform: translate3d( -50%, -50%, 0 );
          }
      }

      img {
        position: absolute;
        width: 100%;
        top: -16.84%;
        left: 0;
        opacity: 0.7;
        cursor: pointer;
      }

      iframe {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
      }
    }
}

#virtual-modal, #opendesk-modal, #private-modal {
  .modal-content .modal-body {
    background: white;
    color: #333;
    text-transform: none;
    padding: 30px 15px;
    .modal-body-content {
      text-align: left;
      width: 70%;
      margin: 0 auto;
    }
    h2 {
      font-weight: 600;
      margin: 20px 0 8px;
      letter-spacing: 1px;
      @include font-size(22);
    }
    .price {
      color: #8e8e8f;
      font-weight: 500;
      @include font-size(16);
      margin-bottom: 25px;
    }
    p {
      color: #333;
      font-weight: 100;
      @include font-size(18);
    }
    img {
      text-align: center;
      width: 70%;
    }
  }
}

.lgx-modal .modal-dialog .modal-content .modal-body {
  @include screen-xs {
    width: 95%;
  }
}
