.lgx-panel {
	.panel {
		min-height: 300px;
		height: 100%;
		color: white;
		position: relative;
		border-radius: 5%;
		@include screen-xs {
			min-height: 225px
		}

		box-shadow: inset 0 0 0 2px $brand-color2;
		vertical-align: middle;

		&::before, &::after {
			box-sizing: inherit;
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;

			border: 2px solid transparent;
			width: 0;
			height: 0;
		}

		&::before {
			top: 0;
			left: 0;
		}
		&::after {
			bottom: 0;
			right: 0;
		}
		transition: all 0.25s ease-out;
		&:hover {
			color: $brand-color2;
			box-shadow: 
				0 4px 8px 0 rgba(0, 0, 0, 0.2), 
				0 6px 20px 0 rgba(0, 0, 0, 0.19);
			transform: 
				translateY(-2.5px)
				scale(1.025, 1.025);
			transition: all 0.25s ease-out;
			.panel-body .icon {
				// padding-bottom: 20px;
			}
			.panel-body .icon .ico {
				transform: scale(1.15,1.15);
				transition: all 0.25s ease-out;
			}
		}

		.panel-body {
			height: inherit;
			.icon {
				min-height: 130px;
				padding-top: 30px;
				.ico {
					max-height: 80px;
					max-width: 90px;
				}
				@include screen-xs {
					padding-top: 0;
					min-height: 90px;
				}
			}
			h4 {
				color: white;
				@include font-size(15);
				text-transform: uppercase;
				font-weight: 600;
				letter-spacing: 1px;
				text-align: center;
				@include screen-xs {
					@include font-size(11)
				}
			}
			p {
				letter-spacing: 0.5px;
				color: white;
				font-weight: 200;
				text-align: center;
				line-height: 2.1rem;
				@include screen-xs {
					@include font-size(9)
				}
			}
		}
		&#code {
			background-image: url("../../images/student-learning-to-code-panel.jpg");
			background-position: 28% top;
			background-size: cover;
		}
		&#startup {
			background-image: url("../../images/startup-panel-min.jpg");
			background-position: center center;
			background-size: cover;
		}
		&#workspace {
			background-image: url("../../images/awesome-inc-space-panel.jpg");
			background-position: 28% top;
			background-size: cover;	
		}
		&#software {
			background-image: url("../../images/software-panel.jpg");
			background-position: 20% center;
			background-size: cover;	
		}
	}
	.overlay {
		position: relative;
		&:before {
			position: absolute;
			content: " ";
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			z-index: 0;
			background-color: rgba(193,32,41, 0.8);
			background-color: rgba(193,32,41, 0.8);
			background-color: rgba(193,32,41, 0.8);
			border-radius: 5%;
		}
	}
}
/* This is a hack to get text to display over the red overlay.
	Codepen: https://codepen.io/Piratestef/pen/gJqkr
 */
.panel * {
	position: relative;
}