---
---
/*****************************************
Modules: Meant for code that output css - mixins, functions, variables
Partials: Meat of the CSS - components, buttons, images
Vendor: Don't edit this directory, this is for libraries like bootstrap

*****************************************/

@charset "utf-8";

// Vendor
@import 'vendor/bootstrap';

// Helpers
@import 'helpers/bootvar';
@import 'helpers/variables';
@import 'helpers/color';
@import 'helpers/font-rem';
@import 'helpers/elements';
@import 'helpers/animations';
@import 'helpers/responsive';

// Base
@import 'base/root';
@import 'base/typography';

// Components
@import 'components/achievements';
@import 'components/banner';
@import 'components/button';
@import 'components/milestone';
@import 'components/photo-gallery';
@import 'components/slider';
@import 'components/subscribe';
@import 'components/testimonials';
@import 'components/title';
@import 'components/panel';
@import 'components/hover-items';
@import 'components/icon-panel';
@import 'components/accordion';

// Layout
@import 'layout/footer';
@import 'layout/header';
@import 'layout/single';
@import 'layout/course';

// Pages
@import 'pages/home';
@import 'pages/about';
@import 'pages/blog';
@import 'pages/contact';
@import 'pages/courses';
@import 'pages/events';
@import 'pages/learn';
@import 'pages/registration';
@import 'pages/teachers';
@import 'pages/workspace';
@import 'pages/other';
@import 'pages/youth';
@import 'pages/adult';
@import 'pages/fellowship';
@import 'pages/internships';

h1 {
	color: black;
}
