backend:
  name: git-gateway
  branch: master # branch to update (optional; defaults to master)
  repo: https://github.com/ainc/ainc-2018

publish_mode: editorial_workflow # docs: https://www.netlifycms.org/docs/configuration-options/#publish-mode

media_folder: "images/uploads"

collections:
  - name: "blog"
    label: "Blog"
    folder: "_blog"
    create: true
    fields:
      - {label: "Layout", name: "layout", widget: "hidden", default: "post"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Header Image", name: "header_img", widget: "image", required: false}
      - {label: "Author Image", name: "author_img", widget: "image", required: false}
      - {label: "Author", name: "author", widget: "string"}
      - {label: "Tags", name: "tags", widget: "list"}
      - {label: "Description", name: "description", widget: "string"}
      - {label: "Body", name: "body", widget: "markdown"}

  - label: "Fellowship Portfolio Teams"
    label_singular: "Fellowship Portfolio Team"
    name: "fellowship_portfolio"
    folder: "_fellowship_portfolio"
    create: true
    fields:
      - {label: "Company", name: "company", widget: "string"}
      - {label: "Start Date", name: "date", widget: "date", format: "MMM Do YY"}
      - {label: "Logo", name: "logo", widget: "image"}
      - {label: "Website", name: "website", widget: "string", required: false}
      - {label: "Facebook", name: "facebook", widget: "string", required: false}
      - {label: "LinkedIn", name: "linkedin", widget: "string", required: false}

  - name: "Mentors"
    label: "Mentors"
    label_singluar: "Mentor"
    folder: "_mentors"
    create: true
    fields:
      - {label: "Name", name: "name", widget: "string"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Company", name: "company", widget: "string"}
      - {label: "LinkedIn", name: "linkedin", widget: "string", required: false}

  - label: "Data"
    name: "data"
    editor:
      preview: false
    files:
      - label: "Team Alpha"
        name: "team-alpha"
        file: "_data/team-alpha.yml"
        fields:
          - label: "Team Alpha Members"
            label_singular: "Team Alpha Member"
            name: "items"
            widget: "list"
            fields:
            - {label: "Name", name: "name", widget: "string"}
            - {label: "Rule", name: "rule", widget: "string"}
            - {label: "Song", name: "song", widget: "string"}
            - {label: "Person", name: "person", widget: "string"}
            - {label: "Fact", name: "fact", widget: "string"}
            - {label: "Image", name: "img_path", widget: "image", default: "images/teamalpha/placeholder-wall.jpg"}
            - {label: "Team", name: "team", widget: "string"}

      - label: "Awesome Inc Internal Team"
        name: "internal-team"
        file: "_data/ainc-team.yml"
        fields:
          - label: "Awesome Inc Internal Team Members"
            label_singular: "Awesome Inc Internal Team Member"
            name: "items"
            widget: "list"
            fields:
              - {label: "Name", name: "name", widget: "string"}
              - {label: "Image", name: "img_path", widget: "image", default: "images/teamalpha/placeholder-wall.jpg"}
         
      - name: "workspace"
        label: "Workspace Popups"
        file: "_data/workspace-modal.yml"
        description: "Images and copy for workspace member modals"
        fields:
          - label: "Awesome Inc Workspace Member Popups"
            label_singular: "Awesome Inc Workspace Popup"
            name: "items"
            widget: "list"
            fields:
              - {label: "Title", name: "title", widget: "string"}
              - {label: "Image", name: "image", widget: "image"}
              - {label: "Price", name: "price", widget: "string"}
              - {label: "Body", name: "body", widget: "markdown"}
      - label: "Bootcamp Alumni"
        name: "bootcamp-alumni"
        file: "_data/alumni-bootcamp.yml"
        fields:
          - label: "Alumni"
            name: "items"
            widget: "list"
            fields:
              - {label: "Full Name", name: "name", widget: "string"}
              - {label: "Portfolio Website", name: "website", widget: "string"}
              - {label: "GitHub Link", name: "github", widget: "string"}
              - {label: "LinkedIn Link", name: "linkedin", widget: "string"}
              - {label: "Picture", name: "img_url", widget: "image"}
              - {label: "Position", name: "position", widget: "string"}
              - {label: "Cohort", name: "cohort", widget: "string", hint: "s19: Spring 2019, f19: Fall 2019"}
  
  - name: "Job Openings"
    label: "Job Openings"
    label_singular: "Job Opening"
    valueType: "int"
    folder: "_job_openings"
    create: true
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Email", name: "email", widget: "string", default: "careers@awesomeinc.org"}
      - {label: "Team", name: "team", widget: "string"}
      - {label: "Manager", name: "manager", widget: "string"}
      - {label: "Time Commitment", name: "time-commitment", widget: "string"}
      - {label: "Active", name: "active", widget: "boolean", hint: "Do you want the job to be listed?"}
      - {label: "Apply URL", name: "url", widget: "string", required: false}
      - {label: "Priority", name: "priority", widget: "number", required: false, default: 10, hint: "Pick 1 to prioritize this field to show up at the top"}
      - {label: "Body", name: "body", widget: "markdown"}

  - name: "Courses"
    label: "Courses"
    label_singular: "Course"
    folder: "_courses"
    create: true
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Description", name: "description", widget: "string"}
      - {label: "Image", name: "image", widget: "image", required: false}
      - {label: "Layout", name: "layout", widget: "hidden", default: "course"}
      - {label: "Permalink", name: "permalink", widget: "hidden"}
      - {label: "Breadcrumb", name: "breadcrumb", widget: "hidden"}
      - label: "Level"
        name: "level"
        widget: "string"
        required: false
        multiple: true
        options: ["Beginner", "Intermediate", "Advanced"]
      - {label: "Min Age", name: "min-age", widget: "string", required: false}
      - {label: "Max Age", name: "max_age", widget: "string", required: false}
      - {label: "Course Topics", name: "course_topics", widget: "string", required: false}
      - {label: "Languages", name: "languages", widget: "string", required: false}
      - label: "Class Day"
        name: "class_day"
        widget: "string"
        required: false
        multiple: true
        options: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
      - label: "Season" 
        name: "season"
        widget: "string"
        required: false
        multiple: true
        options: ['Fall', 'Winter', 'Spring', 'Summer']
      - {label: "Time", name: "time", widget: "string", required: false}
      - label: "Age Group"
        name: "age_group" 
        widget: "select" 
        options:
          - { label: "Youth", value: "youth" }
          - { label: "Adult", value: "adult" }
      - {label: "Team", name: "team", widget: "hidden", default: "aincu" }
      - {label: "Open", name: "open", widget: "boolean", hint: "Is the class registration open?"}
      - {label: "Hide?", name: "hide", widget: "boolean", hint: "Do you want the class to be hidden from the Youth Page?"}
      - label: "Eventbrite"
        name: "eventbrite_eid"
        widget: "string"
        hint: "Note: Only copy the number from the url, not the entire url." 
        required: false
      - {label: "Body", name: "body", widget: "markdown"}

  - name: "Events"
    label: "Events"
    label_singluar: "Event"
    folder: "_events"
    create: true
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Date", name: "date", widget: "datetime"}
      - {label: "Eventbrite_url", name: "eventbrite_url", widget: "string"}
      - {label: "Feature", name: "feature", widget: "boolean"}
      - {label: "Location", name: "location", widget: "string"}
      - {label: "Image_url", name: "image_url", widget: "string"}
      - {label: "Id", name: "id", widget: "string"}
