backend:
  name: git-gateway
  branch: netlify-cms # branch to update (optional; defaults to master)
  repo: https://github.com/ainc/ainc-2018

# publish_mode: editorial_workflow # docs: https://www.netlifycms.org/docs/configuration-options/#publish-mode

media_folder: "images/uploads"

collections:
  - name: "blog"
    label: "Blog"
    folder: "_blog"
    create: true
    fields:
      - {label: "Layout", name: "layout", widget: "hidden", default: "post"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Header Image", name: "header_img", widget: "image", required: false}
      - {label: "Author Image", name: "author_img", widget: "image", required: false}
      - {label: "Author", name: "author", widget: "string"}
      - {label: "Tags", name: "tags", widget: "list"}
      - {label: "Body", name: "body", widget: "markdown"}

  - name: "Fellowship Portfolio"
    label: "Fellowship Portfolio"
    folder: "_fellowship_portfolio"
    create: true
    fields:
      - {label: "Company", name: "company", widget: "string"}
      - {label: "Start Date", name: "date", widget: "datetime"}
      - {label: "Logo", name: "logo", widget: "image"}
      - {label: "Website", name: "website", widget: "string", required: false}
      - {label: "Facebook", name: "facebook", widget: "string", required: false}
      - {label: "LinkedIn", name: "linkedin", widget: "string", required: false}

  - name: "Mentors"
    label: "Mentors"
    folder: "_mentors"
    create: true
    fields:
      - {label: "Name", name: "name", widget: "string"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Company", name: "company", widget: "string"}
      - {label: "LinkedIn", name: "linkedin", widget: "string", required: false}

  - label: "Data"
    name: "data"
    files:
      - name: "team-alpha"
        label: "Team Alpha"
        file: "_data/team-alpha.yml"
        description: "Team Alpha Members List"
        fields:
          - {label: "Name", name: "name", widget: "string"}
          - {label: "Rule", name: "rule", widget: "string"}
          - {label: "Song", name: "song", widget: "string"}
          - {label: "Person", name: "person", widget: "string"}
          - {label: "Fact", name: "fact", widget: "string"}
          - {label: "Image", name: "img_path", widget: "image", default: "images/teamalpha/placeholder-wall.jpg"}
          - {
            label: "Team", 
            name: "team", 
            widget: "select",
            options: [ "Development", "Design", "Marketing", "Videography", "Photography", "Blog" ]
          }

      - name: "internal-team"
        label: "Awesome Inc Internal Team"
        file: "_data/ainc-team.yml"
        description: "Awesome Inc Internal Team Members & Founders"
        fields:
         - {label: "Name", name: "name", widget: "string"}
         - {label: "Image", name: "img_path", widget: "image", default: "images/teamalpha/placeholder-wall.jpg"}
         
      - name: "workspace"
        label: "Workspace"
        file: "_data/workspace-modal.json"
        description: "Images and copy for workspace member modals"
        fields:
          - {label: "Image", name: "image", widget: "image"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Price", name: "price", widget: "string"}
          - {label: "Body", name: "body", widget: "markdown"}
  
  - name: "Job Openings"
    label: "Job Openings"
    folder: "_job_openings"
    create: true
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Email", name: "email", widget: "string", default: "careers@awesomeinc.org"}
      - {label: "Team", name: "team", widget: "string"}
      - {label: "Manager", name: "manager", widget: "string"}
      - {label: "Time Commitment", name: "time-commitment", widget: "string"}
      - {label: "Active", name: "active", widget: "boolean"}
      - {label: "Apply URL", name: "url", widget: "string", required: false}
      - {label: "Body", name: "body", widget: "markdown"}

 #note: this is the concatenation of two different old file types, this was requested but could/should be optimized in future
  - name: "Courses"
    label: "Courses"
    folder: "_courses"
    create: true
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Layout", name: "layout", widget: "string"}
      - {label: "Permalink", name: "permalink", widget: "string"}
      - {label: "Breadcrumb", name: "breadcrumb", widget: "string"}
      - {label: "Description", name: "description", widget: "string"}
      - {label: "Class Day", name: "class_day", widget: "string"}
      - {label: "Image", name: "image", widget: "string"}
      - {label: "Level", name: "level", widget: "string"}
      - {label: "Min Age", name: "min-age", widget: "string"}
      - {label: "Max Age", name: "max_age", widget: "string"}
      - {label: "Chart Description", name: "chart_description", widget: "string"}
      - {label: "Languages", name: "languages", widget: "string"}
      - {label: "Season", name: "season", widget: "string"}
      - {label: "Time", name: "time", widget: "string"}
      - label: "Age Group"
        name: "age_group" 
        widget: "select" 
        options:
          - { label: "Youth", value: "youth" }
          - { label: "Adult", value: "adult" }
      - {label: "Open", name: "open", widget: "boolean"}
      - {label: "Body", name: "body", widget: "markdown"}

  - name: "Events"
    label: "Events"
    folder: "_events"
    create: true
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Date", name: "date", widget: "string"}
      - {label: "Eventbrite_url", name: "eventbrite_url", widget: "string"}
      - {label: "Feature", name: "feature", widget: "boolean"}
      - {label: "Location", name: "location", widget: "string"}
      - {label: "Image_url", name: "image_url", widget: "string"}
      - {label: "Id", name: "id", widget: "string"}