
/* ----------------------------------------------------------------
  Mixins for Screen sizes
-------------------------------------------------------------------*/

@mixin screen-xs {  /* < 480 */
  @media (max-width: #{$screen-xs}) {
    @content;
  }
}

@mixin screen-sm {  /* 480 - 767 */
  @media (min-width: #{screen-xs}) and (max-width: #{$screen-sm - 1px}) {
    @content;
  }
}

@mixin screen-md { /* 768 - 991 */
  @media (min-width: #{$screen-sm}) and (max-width: #{$screen-md - 1px}) {
    @content;
  }
}

@mixin screen-lg { /* 992 - 1200 */
  @media (min-width: #{$screen-md}) and (max-width: #{$screen-lg - 1px}) {
    @content;
  }
}

@mixin screen-max { /* > 1201 */
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}

@mixin screen-tablet-max { /* < 992 ie anything less than a tablet */
  @media (max-width: #{$screen-md - 1px}) {
    @content;
  }
}

@mixin screen-laptop-min { /* > 992 ie anything larger than a tablet */
  @media (min-width: #{$screen-md}) {
    @content;
  }
}

.mobile-only {
  display: none;
  @include screen-xs {
    display: block;
  }
}

.mobile-hide {
  display: inherit;
  @include screen-xs {
    display: none;
  }
}


@mixin gradient($color: #F5F5F5, $start: #EEE, $stop: #FFF) {
  background: $color;
  background: -webkit-gradient(linear,
  left bottom,
  left top,
  color-stop(0, $start),
  color-stop(1, $stop));
  background: -ms-linear-gradient(bottom,
  $start,
  $stop);
  background: -moz-linear-gradient(center bottom,
  $start 0%,
  $stop 100%);
  background: -o-linear-gradient($stop,
  $start);
  filter: "progid:DXImageTransform.Microsoft@include gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",$stop,$start;
}
@mixin bw-gradient($color: #F5F5F5, $start: 0, $stop: 255) {
  background: $color;
  background: -webkit-gradient(linear,
  left bottom,
  left top,
  color-stop(0, rgb($start,$start,$start)),
  color-stop(1, rgb($stop,$stop,$stop)));
  background: -ms-linear-gradient(bottom,
  rgb($start,$start,$start) 0%,
  rgb($stop,$stop,$stop) 100%);
  background: -moz-linear-gradient(center bottom,
  rgb($start,$start,$start) 0%,
  rgb($stop,$stop,$stop) 100%);
  background: -o-linear-gradient(rgb($stop,$stop,$stop),
  rgb($start,$start,$start));
  filter: "progid:DXImageTransform.Microsoft@include gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",rgb($stop,$stop,$stop),rgb($start,$start,$start);

}
@mixin bordered($top-color: #EEE, $right-color: #EEE, $bottom-color: #EEE, $left-color: #EEE) {
  border-top: solid 1px $top-color;
  border-left: solid 1px $left-color;
  border-right: solid 1px $right-color;
  border-bottom: solid 1px $bottom-color;
}
@mixin drop-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $alpha: 0.1) {
  -webkit-box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
  -moz-box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
  box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin radius($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
  -webkit-border-top-right-radius: $topright;
  -webkit-border-bottom-right-radius: $bottomright;
  -webkit-border-bottom-left-radius: $bottomleft;
  -webkit-border-top-left-radius: $topleft;
  -moz-border-radius-topright: $topright;
  -moz-border-radius-bottomright: $bottomright;
  -moz-border-radius-bottomleft: $bottomleft;
  -moz-border-radius-topleft: $topleft;
  border-top-right-radius: $topright;
  border-bottom-right-radius: $bottomright;
  border-bottom-left-radius: $bottomleft;
  border-top-left-radius: $topleft;
  @include background-clip(padding-box);
}
@mixin opacity($opacity: 0.5) {
  -moz-opacity: $opacity;
  -khtml-opacity: $opacity;
  -webkit-opacity: $opacity;
  opacity: $opacity;
  $opperc: $opacity * 100;
  -ms-filter: #{"progid:DXImageTransform.Microsoft.Alpha(opacity=${opperc})"};
  filter: "alpha(opacity=#{$opperc})";
}
@mixin transition-duration($duration: 0.2s) {
  -moz-transition-duration: $duration;
  -webkit-transition-duration: $duration;
  -o-transition-duration: $duration;
  transition-duration: $duration;
}
@mixin transform($arguments...) {
  -webkit-transform: $arguments;
  -moz-transform: $arguments;
  -o-transform: $arguments;
  -ms-transform: $arguments;
  transform: $arguments;
}
@mixin rotation($deg:5deg) {
  @include transform(rotate($deg));
}
@mixin scale($ratio:1.5) {
  @include transform(scale($ratio));
}
@mixin transition($duration:0.2s, $ease:ease-out) {
  -webkit-transition: all $duration $ease;
  -moz-transition: all $duration $ease;
  -o-transition: all $duration $ease;
  transition: all $duration $ease;
}
@mixin inner-shadow($horizontal:0, $vertical:1px, $blur:2px, $alpha: 0.4) {
  -webkit-box-shadow: inset $horizontal $vertical $blur rgba(0, 0, 0, $alpha);
  -moz-box-shadow: inset $horizontal $vertical $blur rgba(0, 0, 0, $alpha);
  box-shadow: inset $horizontal $vertical $blur rgba(0, 0, 0, $alpha);
}
@mixin box-shadow($arguments) {
  -webkit-box-shadow: $arguments;
  -moz-box-shadow: $arguments;
  box-shadow: $arguments;
}
@mixin box-sizing($sizing: border-box) {
  -ms-box-sizing: $sizing;
  -moz-box-sizing: $sizing;
  -webkit-box-sizing: $sizing;
  box-sizing: $sizing;
}
@mixin user-select($argument: none) {
  -webkit-user-select: $argument;
  -moz-user-select: $argument;
  -ms-user-select: $argument;
  user-select: $argument;
}
@mixin columns($colwidth: 250px, $colcount: 0, $colgap: 50px, $columnRuleColor: #EEE, $columnRuleStyle: solid, $columnRuleWidth: 1px) {
  -moz-column-width: $colwidth;
  -moz-column-count: $colcount;
  -moz-column-gap: $colgap;
  -moz-column-rule-color: $columnRuleColor;
  -moz-column-rule-style: $columnRuleStyle;
  -moz-column-rule-width: $columnRuleWidth;
  -webkit-column-width: $colwidth;
  -webkit-column-count: $colcount;
  -webkit-column-gap: $colgap;
  -webkit-column-rule-color: $columnRuleColor;
  -webkit-column-rule-style: $columnRuleStyle;
  -webkit-column-rule-width: $columnRuleWidth;
  column-width: $colwidth;
  column-count: $colcount;
  column-gap: $colgap;
  column-rule-color: $columnRuleColor;
  column-rule-style: $columnRuleStyle;
  column-rule-width: $columnRuleWidth;
}
@mixin translate($x:0, $y:0) {
  @include transform(translate($x, $y));
}
@mixin background-clip($argument: padding-box) {
  -moz-background-clip: $argument;
  -webkit-background-clip: $argument;
  background-clip: $argument;
}

.thin-column {  
  padding: 0 35px;
  h4 {
    padding-bottom: 20px;
  }
  p {
    @include font-size(18);
  }
}

table.no-border {
  border-collapse: collapse;
  .border-right {
    border-right: solid 2px $brand-grey-dark;
  }
  h4 {
    padding-bottom: 20px;
  }
  td {
    padding: 0 35px;
  }
  p {
    @include font-size(18);
    line-height: 2.2rem;
  }
  tr:last-child {
    td {
      vertical-align: top;
    }
  }
}

.card {
  background-color: $brand-color2;
  width: 350px;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  @include screen-md {
    width: 275px;
    padding: 10px;
  }
  &:hover {
    box-shadow: 1px 1px 5px 1px $brand-color;
  }
  h4 {
    @include font-size(24);
    font-weight: 600;
    color: white;
  }
  p {
    @include font-size(18);
    color: white;
  }
  
}

/* ----------------------------------------------------------------
    Flexbox implementation: https://codepen.io/devwax/pen/WQOXzp
-------------------------------------------------------------------*/

@include screen-lg {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@include screen-md {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@include screen-sm {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}


.flex-img-center {
  align-items: center;
  justify-content: center;
  margin: auto;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

/* ----------------------------------------------------------------
    Class to set images on the same line
-------------------------------------------------------------------*/

.inline-block {
  display: inline-block;
}


/* ----------------------------------------------------------------
  Icons/images with circlular background
-------------------------------------------------------------------*/

img {
  &.circular {
    width: 140px;
    height: 140px;
    padding: 5px;
    margin: 45px 0;
    border-radius: 50%;
    @include screen-md {
      width: 115px;
      height: 115px;
      margin: 10px 0;
    }
  }
}

.red-bg {
  background-color: $brand-color;
}

.bright-red-bg {
  background-color: $brand-red-bright;
}

/* ----------------------------------------------------------------
  Image with an outline creating a "3d" look
-------------------------------------------------------------------*/

.img-outline-offset-left {
  display: inline-block;
  position: relative;
  &::before {
    position: absolute;
    top: -2%;
    left: -1%;
    width: 100%;
    height: 100%;
    border: 1px solid $brand-grey-dark;
    content: '';
  }
}
.img-outline-offset-right {
  display: inline-block;
  position: relative;
  &::before {
    position: absolute;
    top: -2%;
    right: -1%;
    width: 100%;
    height: 100%;
    border: 1px solid $brand-grey-dark;
    content: '';
  }
}

/* ----------------------------------------------------------------
  Offset Border Classes
-------------------------------------------------------------------*/

.offset-border {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    z-index: 1;
  }
}
.offset-border-bottom-right {
  &::before {
    left: 80%;
    right: -15%;
    bottom: -1%;
    border: 1px solid $brand-red-bright;
    @include screen-xs {
      display: none;
    }
  }
  
}

.offset-border-bottom-left {
  position: relative;
  &::before {
    content:"";
    position: absolute;
    left: -15%;
    right: 80%;
    bottom: -1%;
    border: 1px solid $brand-red-bright;
    z-index: 99;
    @include screen-xs {
      display: none;
    }
  }
  
}

.offset-border-bottom-connect {
  &::before {
    left: 50%;
    top: 100%;
    bottom: -60%;
    border: 1px dashed $brand-red-bright;
  }
}


/* ----------------------------------------------------------------
  Text with a shadow creating a "3d" look
-------------------------------------------------------------------*/

.text-shadow {
  text-shadow: 3px 3px 0 $brand-red-bright;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $brand-grey-dark;
}

.text-shadow-white {
  text-shadow: 3px 3px 0 white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $brand-grey-dark;
}

/* ----------------------------------------------------------------
  5 Equal Columns 
  ref: https://stackoverflow.com/questions/10387740/five-equal-columns-in-twitter-bootstrap/22799354#22799354
-------------------------------------------------------------------*/

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/* ----------------------------------------------------------------
  Header with line on the side
  ref: https://stackoverflow.com/questions/15557627/heading-with-horizontal-line-on-either-side
-------------------------------------------------------------------*/

.horiz-line {
  border-collapse: separate;
  border-spacing: 16px 0;
  border-spacing: 1rem 0;
  display: table;
  table-layout: auto;
  white-space: nowrap;
  line-height: 0 !important;
  margin: 1em 0 0.5em;
  width: 100%;
  &:before, &:after {
    content: '';
    display: table-cell;
    width: 50%;
    background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
    background-size: 7px 3px;
    background-repeat: repeat-x;
  }
}


/************************************************************
            Awesome Inc Tables
************************************************************/

.table-red {
	margin: 35px 0;
	thead {
		background-color: $brand-red-bright; 
		color: white; 
		font-family: Exo;
		font-weight: bold;
		text-transform: uppercase;
	}
	tbody tr td:first-child {
		font-weight: bold;
	}
	thead tr td, tbody tr td {
		text-align: center;
		vertical-align: middle;
	}.table {
    margin: 35px 0;
    thead {
      background-color: $brand-red-bright; 
      color: white; 
      font-family: Exo;
      font-weight: bold;
      text-transform: uppercase;
    }
    tbody tr td:first-child {
      font-weight: bold;
    }
    thead tr td, tbody tr td {
      text-align: center;
      vertical-align: middle;
    }
  }
}

/************************************************************
            Course Section
************************************************************/

.course-section {
  h4 {
    font-weight: 600;
    text-transform: uppercase;
  }
  i {
    @include font-size(13);
  }
  .lgx-heading-area {
    margin-bottom: 8rem;
  }

  svg {
    position: absolute;
    fill: none;
    z-index: 99;
    margin-left: 15px;
    margin-right: 15px;
    line {
      stroke: $brand-color2;
      stroke-linecap: round;
    }
    
  }

  svg.preset-svg {
    position: absolute;
    fill: none;
    left: 50%;
    z-index: 99;
    width: 0.5rem;
    height: 7rem;
    margin-top: 2rem;
    line {
      stroke: $brand-red-bright;
      stroke-width: 0.7rem;
      stroke-linecap: round;
      stroke-dasharray: 0, 15;
      stroke-dashoffset: 3;
    }
    @include screen-lg {
      height: 10rem;
      line {
        stroke-dasharray: 0, 8;
        stroke-width: 0.3rem;
      }
    }
  }


  svg#straight-line-horiz {
    position: absolute;
    fill: none;
    z-index: 99;
    width: 20rem;
    height: 0.5rem;
    margin-top: 3rem;
    &.right-side {
      left: 75%;
    }
    &.left-side {
      right: 75%;
    }
    line {
      stroke: $brand-color2;
      stroke-width: 0.25rem;
      stroke-linecap: round;
      stroke-dasharray: 0, 6;
      stroke-dashoffset: 2;
    }
    @include screen-lg {
      // height: 10rem;
      line {
        stroke-dasharray: 0, 8;
        stroke-width: 0.3rem;
      }
    }
  }
}

div.dotted-svg > svg {
  @include screen-xs {
    // margin-left: 15px;
    display: none;
  }
}

/* ----------------------------------------------------------------
  Breadcrumb Customization
-------------------------------------------------------------------*/

.breadcrumb {
  padding-bottom: 4rem;
}

.page .breadcrumb li a:hover {
  color: $brand-color;
}

/* ----------------------------------------------------------------
 Press - "As seen on" section
-------------------------------------------------------------------*/

#press {
  img {
    max-height: 8rem;
    display: block;
    margin: auto;
  }
  
}


/* ----------------------------------------------------------------
  SVG Elements
-------------------------------------------------------------------*/

// svg.preset-svg {
//   position: absolute;
//   fill: none;
//   z-index: 99;
// }

svg.triangle-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60rem;
  z-index: -1;
  @include screen-tablet-max {
    height: 600px;
  }
  @include screen-xs {
    height: 500px;
  }
  &#red-triangle-bg {
    polygon {
      fill: $brand-red-bright;
    }
  }
  &#grey-triangle-bg {
    polygon {
      fill: $brand-color2;
    }
  }
}
@include screen-xs {
  .border-svg svg {
    display: none;
  }
}

svg.vert-line {
  position: absolute;
  fill: none;
  z-index: 99;
  width: 2rem;
  height: 15rem;
  line {
    stroke: $brand-red-bright;
    stroke-width: 0.25rem;
    stroke-linecap: round;
    stroke-dasharray: 0, 6;
    stroke-dashoffset: 2;
  }
}

svg[id*='svg_'] {
  position: absolute;
}

/* ----------------------------------------------------------------
  Header Border Box
  http://jsfiddle.net/gkSYq/
-------------------------------------------------------------------*/

.header-border {
  margin: 1em auto 3em;
  display: flex;
  flex-wrap: wrap;
  border: solid $brand-red-bright 1px;
  border-top: none;
  margin-top: 4em;
  background-color: $body-bg;
  box-shadow: $body-bg 11px 0px 0px,
              $body-bg -13px 0px 0px;


  .heading-title {
    font-family: "Open Sans",sans-serif;
    @include font-size(39);
    font-weight: 900;
    color: #323333;
    text-transform: uppercase;
    @include screen-xs {
      @include font-size(16);
    }
  }
  
  &.col-xs-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .heading-title {
    width: 100%;
    display: flex;
    margin-top: -2.75rem;
    margin-bottom: 6rem;
    &:before, &::after {
      margin: auto;
      border-top: solid $brand-red-bright 1px;
    }
    &::before {
      margin-right: 1rem;
    }
    &::after {
      margin-left: 1rem;
    }
    @include screen-xs {
      margin-top: -1.2rem;
      margin-bottom: 2.5rem;
    }
  }

  .header-border-box {
    flex: 1 1 25%;
    margin: 3rem 4rem 5.5rem;
    border: solid $brand-red-bright 1px;
    border-top: none;
    display: flex;
    flex-direction: column;
    min-height: 285px;
    @include screen-md {
      margin: 3rem 0.5rem 5.5rem;
    }
    @include screen-xs {
      margin: 2rem 0rem 3rem;
      border: none;
    }
  }

  .lgx-heading-area, .header-border-footer {
    display: flex;
    text-align: center;
  }

  & h2::before,
  .lgx-heading-area::before, 
  .header-border-footer::before,
  & h2::after,
  .lgx-heading-area::after,
  .header-border-footer::after {
    content: '  ';
    flex: 1;
  }

  .heading-subtitle {
    margin: -1.25rem 1rem 0.5rem;
    max-width: 85%;
    text-transform: uppercase;
    @include font-size(20);
    @include screen-md {
      @include font-size(16);
    }
    @include screen-xs {
      @include font-size(15);
    }
  }
  
  .lgx-heading-area::before, .lgx-heading-area::after {
    border-top: solid $brand-red-bright 1px;
    @include screen-xs {
      border: none;
    }
  }

  .header-border-footer a {
    transform: translateY(50%);
    @include screen-xs {
      transform: none;
    }
  }

  .header-border-content {
    padding: 2.5rem 2rem;
    margin: auto 0;
    text-align: justify;
    
    @include screen-md {
      padding: 2rem 1rem;
    }
    @include screen-xs {
      padding: 0.5rem 0.5rem;
      text-align: center;
    }
    p {
      line-height: 2.3rem;
      @include screen-md {
        line-height: 2rem;
      }
      @include screen-xs {
        line-height: 1.6rem;
      }
    }
  }


  
}

/* ----------------------------------------------------------------
  Seven Equal Columns
  https://stackoverflow.com/questions/21955088/7-equal-columns-in-bootstrap
-------------------------------------------------------------------*/

@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

/**
  *  The following is not really needed in this case
  *  Only to demonstrate the usage of @media for large screens
  */    
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}


/* ----------------------------------------------------------------
  Other Elements
-------------------------------------------------------------------*/

.dark-bg {
  background-color: $brand-color2;
  color: white;
  p {
    @include font-size(15);
    line-height: 2.6rem;
    font-weight: 400;
    color: white;
  }
}

.abs-btn {
  position: relative;
  display: flex;
  a {
    position: absolute; 
  }
}

.margin-top {
  margin-top: 2rem;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.embed-responsive iframe {
}

.object-fit-cover {
  object-fit: cover;
}

