.relative-parent {
  position: relative;
}
.absolute-child {
  position: absolute;
}

.center-text-mobile {
  @include screen-xs {
    text-align: center
  }
}

.center-text-tablet {
  @include screen-sm {
    text-align: center
  }
}

.center-block-mobile {
  @include screen-xs {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

.align-self-center {
  align-self: center;
}

.align-text-left {
  text-align: left;
}

.align-text-right {
  text-align: right;
}

.border-right-white {
  border-right: 2px solid $brand-color3;
}

.border-right-red {
  border-right: 2px solid $brand-color;
}

.container--thin {
  width: 1050px;
  @include screen-md {
    width: 850px;
  }
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

p.left {
  text-align: justify;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 34px;
  float: left;
}