.relative-parent {
  position: relative;
}
.absolute-child {
  position: absolute;
}

.center-text-mobile {
  @include screen-xs {
    text-align: center
  }
}

.center-text-tablet {
  @include screen-sm {
    text-align: center
  }
}

.center-block-mobile {
  @include screen-xs {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

.align-self-center {
  align-self: center;
}

.align-text-left {
  text-align: left;
}

.align-text-right {
  text-align: right;
}

.border-right-white {
  border-right: 2px solid $brand-color3;
}

.border-right-red {
  border-right: 2px solid $brand-color;
}

.container--thin {
  width: 1050px;
  @include screen-md {
    width: 850px;
  }
  @include screen-tablet-max {
    width: 800px;
  }
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  @include screen-xs {
    margin-left: -400px;
  }
}

p.left {
  text-align: justify;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 34px;
  float: left;
}


.timer {
  box-sizing: border-box;
  font-weight: bold;
  font-size: 1.3em;
  position: relative; /* for the ::before disc inside */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  text-align: center;
  margin: .5em;
  width: 3.8em;
  height: 3.8em;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* background-image will be set in JavaScript. */
  transition: opacity 1s ease;
  opacity: 1;
}

.timer:first-of-type {
  margin-left: 0;
}

.timer.hidden {
  opacity: 0;
}

.timer::before {
  content: "";
  display: block;
  position: absolute;
  background: white;
  top: .3em;
  left: .3em;
  width: 3.2em;
  height: 3.2em;
  border-radius: 50%;
  z-index: 0;
}

.timer span {
  z-index: 1; /* On top of the ::before element. */
}

.timer .separator.blink {
  opacity: 50%;
}