//== DEFAULT BRAND  COLORS
$brand-color:#C12029; // Red
//$brand-color:#174873;


//== OTHERS COLORS
$brand-light: lighten($brand-color, 10%);
$brand-dark:  darken($brand-color, 7%);

$brand-color2: #323232; // Charcoal
$brand-color3: #FFFFFF; // White

//== SECONDARY COLORS
$brand-grey-dark: #939597;
$brand-grey: #D1D2D4;
$brand-grey-light: #E6E7E8;
$brand-grey-lightest: #F1F1F2;
$brand-red-bright: #ED3742;

$black-color: #323333;
$body-bg: #fff;
$body-bg-deep: #f1f1f1;
$white-color: #fff;
$text-ash: #999;
$border-color: #ddd;
$footer-text: #D1D2D4;
$color-light-blue: #55CBF3;


//== Typography Variable
/*$lgx-heading-font: 'Merriweather', serif;
$lgx-base-font: 'Lato', sans-serif;*/

$lgx-heading-font: 'Open Sans', sans-serif;
$lgx-subheading-font: 'Open Sans', sans-serif;
$lgx-base-font: 'Open Sans', sans-serif;

$font-size-base: 15;
$navbar-height: 78px;

$hero-img-url: '../../images/hero-image-2-min.jpg';
$hero-img-url-mobile: '../../images/hero-image-3-min.jpg';
