<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

	<head>
		{% include head.html %}
		{% if page.team == 'aincu' %}
			{% include zoho_sales_iq.html %}
		{% endif %}
		{% include zoho-marketing-hub.html %}
		<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version=‘2.0’;
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,"script",
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '303823710989967');
  fbq('track', 'PageView');
</script>
<noscript><img height='1' width='1' style="display:none"
  src="https://www.facebook.com/tr?id=303823710989967&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
	</head>

	<body class="page page-template">
		<script>
			fbq("track", "ViewContent");
		</script>
		<div class="lgx-container "></div>
		<header>
			{% include promo-banner.html %}
			{% include nav.html %}
			
		</header>

		<main class="main" id='{% if page.page_id %}{{ page.page_id }}{% else %}{{ page.title | remove:" " | downcase }}{% endif %}' aria-label="Content">
			{{ content }}
		</main>

		<footer>
			{% include footer.html %}
		</footer>
		{% include js-imports.html %}
		{% include netlify-callback.html %}
  </body>
  

</html>
