<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

	<head>
		{% include head.html %}
	</head>

	<body class="page page-template">
		<div class="lgx-container "></div>

		<main class="main" id='{% if page.page_id %}{{ page.page_id }}{% else %}{{ page.title | remove:" " | downcase }}{% endif %}' aria-label="Content">
			{{ content }}
		</main>

		<footer> <!-- use only the bottom footer -->
			<div id="lgx-footer" class="lgx-footer">
				<div class="lgx-footer-single"> <!-- REMOVE THE BOTTOM WHITE SPACE, MAYBE CREATE IT'S OWN CSS IN impact-report.scss -->
					<div class="container">
						<div class="lgx-footer-bottom">
							<div class="lgx-copyright">
								<ul class="list-inline">
									<li><a href="{{ site.data.routes.about }}">About</a></li>
									<li><a href="{{ site.data.routes.careers }}">Careers</a></li>
									<li><a href="{{ site.data.routes.privacy }}">Privacy Policy</a></li>
									<li><a href="{{ site.data.routes.terms }}">Terms of Service</a></li>
								</ul>
							</div>
							<ul class="list-inline lgx-social-footer">
								<li><a href="{{ site.data.routes.twitter }}"><i class="fa fa-twitter"></i></a></li>
								<li><a href="{{ site.data.routes.facebook }}"><i class="fa fa-facebook-f"></i></a></li>
								<li><a href="{{ site.data.routes.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="{{ site.data.routes.instagram }}"><i class="fa fa-instagram"></i></a></li>
								<li><a href="{{ site.data.routes.youtube }}"><i class="fa fa-youtube-play"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		{% include js-imports.html %}
		{% include netlify-callback.html %}
  </body>
  

</html>
