<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

	<head>
		{% include head.html %}
	</head>

	<body class="page page-template">
		<div class="lgx-container "></div>

		<main class="main" id='{% if page.page_id %}{{ page.page_id }}{% else %}{{ page.title | remove:" " | downcase }}{% endif %}' aria-label="Content">
			{{ content }}
		</main>

		<footer> <!-- use only the bottom footer -->
			<div id="lgx-footer" class="lgx-footer">
				<div class="lgx-footer-single"> <!-- REMOVE THE BOTTOM WHITE SPACE, MAYBE CREATE IT'S OWN CSS IN impact-report.scss -->
					<div class="container">
						<div class="lgx-footer-bottom">
							<div class="lgx-copyright">
								<ul class="list-inline">
									<li><a href="{{ site.data.routes.about }}">About</a></li>
									<li><a href="{{ site.data.routes.careers }}">Careers</a></li>
									<li><a href="{{ site.data.routes.privacy }}">Privacy Policy</a></li>
									<li><a href="{{ site.data.routes.terms }}">Terms of Service</a></li>
								</ul>
							</div>
							<ul class="list-inline lgx-social-footer">
								<li><a href="{{ site.data.routes.twitter }}"><i class="fa fa-twitter"></i></a></li>
								<li><a href="{{ site.data.routes.facebook }}"><i class="fa fa-facebook-f"></i></a></li>
								<li><a href="{{ site.data.routes.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="{{ site.data.routes.instagram }}"><i class="fa fa-instagram"></i></a></li>
								<li><a href="{{ site.data.routes.youtube }}"><i class="fa fa-youtube-play"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- Loaded at the end for optimal load times -->
<!-- JQUERY  -->
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>

<!-- JQUERY ISOTOPE, alumni page-->
<script src="/assets/js/vendor/isotope.pkgd.js"></script>
<script src="/assets/js/vendor/jquery.imagesloaded.min.js"></script>
<script src="/assets/js/isotope-custom.js"></script>

<!-- BOOTSTRAP JS  -->
<script src="/assets/libs/bootstrap/js/bootstrap.min.js"></script>



<script src="/assets/libs/jquery.smooth-scroll.js"></script>

<!-- SKILLS SCRIPT  -->
<script src="/assets/libs/jquery.validate.js"></script>

<!-- CUSTOM GOOGLE MAP -->
<script src="/assets/libs/gmap/jquery.googlemap.js"></script>

<!-- adding magnific popup js library -->
<script src="/assets/libs/maginificpopup/jquery.magnific-popup.min.js"></script>

<!-- Owl Carousel  -->
<script src="/assets/libs/owlcarousel/owl.carousel.min.js"></script>


<!-- COUNTDOWN   -->
<script src="/assets/libs/countdown.js"></script>

<!-- Counter JS -->
<script src="/assets/libs/waypoints.min.js"></script>
<script src="/assets/libs/counterup/jquery.counterup.min.js"></script>

<!-- PORTFOLIO FILTER   -->
<script src="/assets/libs/isotope/isotope.pkgd.min.js"></script>

<!-- SMOTH SCROLL -->
<script src="/assets/libs/jquery.smooth-scroll.min.js"></script>
<script src="/assets/libs/jquery.easing.min.js"></script>

<!-- type js -->
<script src="/assets/libs/typed/typed.min.js"></script>

<!-- instafeed js -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script>-->
<script src="/assets/libs/instafeed.min.js"></script>

<!-- CUSTOM SCRIPT (From theme) -->
<script src="/assets/js/custom.script.js"></script>


<!-- Animate on scroll -->
<script src="/assets/libs/aos/aos.js"></script>
<script>
    AOS.init();
</script>

<!-- CUSTOM SCRIPT (From Ainc)
<script src="/assets/js/custom.js"></script> -->

<!-- CUSTOM SCRIPT for bootcamp page (From Ainc) -->
<script src="/assets/js/bootcamp-testimonials.js"></script>

<!-- Lazy image load script-->
<script src="/assets/js/lazy-load-images.js" async></script>

<!-- CUSTOM SCRIPT for youtube -->
<!-- https://webdesign.tutsplus.com/tutorials/how-to-lazy-load-embedded-youtube-videos--cms-26743 -->
<script src="/assets/js/custom.youtube.js"></script>


<!-- impact-fullpage -->
<script src="/assets/js/impact-fullpage.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.counterup/1.0/jquery.counterup.min.js"></script> -->

<!-- Jquery Counter-Up -->
<script src="/assets/js/impact-counterup.js"></script>

<!-- Zoho integrations -->
 <!-- Zoho CRM / Google Ads -->
<script type="text/javascript" src='https://crm.zoho.com/crm/javascript/zcga.js'></script>
 <!-- Zoho CRM / Google Ads -->
<script type="text/javascript" src='https://forms.zoho.com/js/zf_gclid.js'></script>
		{% include netlify-callback.html %}
  </body>
  

</html>
