#about {
  background-color: white;
  #about-header {
    background-image: url('../../images/banners/about-page-bg2.png');
    background-repeat: no-repeat;
    background-size: 100%;


    .lgx-heading {
      text-align: left;
      .heading-title {
        margin-top: 6rem;
        text-align: left;
        text-transform: none;
      }
      .heading-subtitle {
        margin-bottom: 4rem;
      }
    }
    img {
      width: 75%;
      margin: auto;
    }
  }

  .header-border {
    background-color: white;
  }

  #accomplishments {
    background: 
          linear-gradient(rgba(193,32,41,0.8),
                        rgba(193,32,41,0.8)
          ),  
          url('../../images/banners/success-bell.jpg');
    background-position: 50%;
    background-size: 100%;
    filter: contrast(110%);
    img {
      max-height: 190px;
      margin: auto;
      &.align-right {
        float: right;
      }
      &.align-left {
        float: left;
      }
    }
  }

}

