#about {
  #about-header {
    background-image: url('../../images/banners/about-page-bg3.png');
    background-repeat: no-repeat;
    background-size: 100%;

    .lgx-heading {
      text-align: left;
      .heading-title {
        margin-top: 6rem;
        text-align: left;
        text-transform: none;
        @include screen-xs {
          @include font-size(29);
        }
      }
      .heading-subtitle {
        margin-bottom: 4rem;
      }
    }
    img {
      width: 75%;
      margin: auto;
      @include screen-xs {
        width: 90%;
      }
    }
  }

  #core-values {
    margin-bottom: 4rem;
  }

  .header-border {
    background-color: $body-bg;
  }

  #accomplishments {
    background: 
          linear-gradient(rgba(193,32,41,0.8),
                        rgba(193,32,41,0.8)
          ),  
          url('../../images/banners/success-bell.jpg');
    background-position: 50%;
    background-size: 100%;
    filter: contrast(110%);
    @include screen-xs {
      background-size: cover;
    }
    img {
      max-height: 190px;
      margin: auto;
      @include screen-xs {
        margin-bottom: 4rem;
      }
      &.align-right {
        float: right;
        @include screen-xs {
          float: none;
        }
      }
      &.align-left {
        float: left;
        @include screen-xs {
          float: none;
        }
      }
    }
  }

  #meet-the-team {
    background-color: $brand-grey-light;
    img {
      border-radius: 50%;
      @include screen-tablet-max {
        width: 50%;
        margin: 2rem 25%;
      }
    }
    h6 {
      color: $brand-color;
      @include font-size(16);
    }
  }

  #social-media {
    .lgx-heading {
      margin-top: 8rem;
      @include screen-sm {
        margin-top: 4.5rem;
      }
      @include screen-xs {
        margin-top: 2rem;
        margin-bottom: 1.2rem;
      }
    }
    .heading-title {
      @include font-size(28);
    }
    .heading-title, .heading-subtitle {
      text-align: center;
    }
    .heading-subtitle {
      @include screen-xs {
        display: none;
      }
    }
    .list-inline {
      font-size: 32px;
      margin: 0 10px;
    }
  }
  div#social-section-triangle {
    position: relative;
    svg {
      height: 32vh;
      width: 100%;
      position: absolute;
      bottom: 0vh;
      z-index: -1;
      polygon {
        fill: $brand-color2;
      }
      @include screen-max {
        height: 20vh;
      }
      @include screen-tablet-max {
        height: 14vh;
        top: -14vh;
      }
      @include screen-xs {
        height: 10vh;
        top: -9.95vh; /*mobile devices have a small gap */
      }
    }
  }

}

