#about {
  .lgx-about {
    background: $white-color;
    background: url('../img/about-bg.jpg') bottom center no-repeat;
    -webkit-background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    .lgx-heading {
      margin-bottom: 2.4rem;
      text-align: center;
    }
    .lgx-inner {
      padding: 10.2rem 0;
    }
  }
  
  .lgx-about-bottom {
    .lgx-inner {
      padding-bottom: 0;
    }
  }

  #our-initiatives {
    .title {
      text-align: center;
      @include font-size(32);
      a {
        color: $brand-color2;
        &:hover {
          color: $brand-color;
        }
      }
    }
    p {
      text-align: center;
      margin-bottom: 2rem;
    }
  }

}

