#confirmation {
    #response {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    #message {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    #back-link {
        margin-top: 60px;
    }
}
