#fellowship {

  #header-fellowship {
    .lgx-heading {
      text-align: left;
      @include screen-xs {
        text-align: center;
      }
      .heading-subtitle {
        @include font-size(27);
        font-weight: 200;
      }
    }
    
    .offset-border {
      width: 50%;
      margin-left: 20%;
      @include screen-xs {
        width: 80%;
        margin-left: 10%;
      }
    }
    #rocket-img-bg {
      background-image: url('/images/fellowship-rocket.png');
      background-size: contain;
      background-position: 50% 0;
      background-repeat: no-repeat;
      @include screen-tablet-max {
        background-size: 85%;
        background-position: 50% 10px;
      }
      @include screen-xs {
        background-image: none;
      }
    }
  }

  #what-is-fellowship {
    .heading-title {
      @include font-size(34);
    }
    .heading-subtitle {
      width: 70%;
      padding: 1% 5% 2% 5%;
      margin: auto;
      border: $brand-color 2px solid;
      border-top: 0;
    }

    img {
      max-height: 100px;
      @include screen-tablet-max {
        max-height: 75px;
      }
      @include screen-xs {
        max-height: 50px;
      }
    }
    h5 {
      text-align: center;
      @include font-size(30);
      font-weight: 800;
      text-transform: uppercase;
      @include screen-xs {
        @include font-size(18);
      }
    }

  }
  
  svg {
    position: absolute;
    line {
      stroke: $brand-color2;
      stroke-linecap: round;
    }
  }

  #how-it-works {
    .lgx-heading {
      text-align: left;
      h2 {
        position: absolute;
        left: -5rem;
        top: 5rem;
        letter-spacing: 3px;
        @include screen-tablet-max {
          left: -3rem;
        }
        @include screen-xs {
          position: relative;
          left: 0;
          top: 0;
        }
      }
    }
    .lgx-video-area {
      padding: 0;
      .video-thumbnail {
        position: relative;
        display: inline-block;
        cursor: pointer;
        img.opaque {
          filter: opacity(0.5);
          -webkit-filter: opacity(0.5);
        }
      }
      #video-arrow {
        position: absolute;
        z-index: 99;
        width: 40%;
        top: 30%;
        right: -12%;
        @include screen-tablet-max {
          top: 45%;
        }
        @include screen-xs {
          display: none;
        }
      }

      .icon {
        position: relative;
        z-index: 2;
        @include transition-duration($duration: 0.3s);
        i {
          cursor: pointer;
          position: absolute;
          text-align: center;
          background: $brand-color2;
          top: 50%;
          left: 50%;
          width: 75px;
          height: 75px;
          border-radius: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          font-size: 28px;
          line-height: 75px;
          padding-left: 10px;
          color: white;
          z-index: 99;
          @include transition-duration($duration: 0.3s);
        }
        &:hover {
          i {
            background: $brand-color;
            color: $white-color;
            @include transition-duration($duration: 0.3s);
            -webkit-box-shadow: 0 20px 35px rgba(0, 0, 0, 0.12);
            -moz-box-shadow: 0 20px 35px rgba(0, 0, 0, 0.12);
            box-shadow: 0 20px 35px rgba(0, 0, 0, 0.12);
          }
          &:before {
            border: 5px solid rgba(255,255,255, 0);
          }
          &:after {
            @include bg-rgba($white-color, 0);
          }
        }
      }
    }
  }

  #fellowship-testimonials {
    background-color: $brand-color2;
    .testimonial {
      border-left: $brand-color solid 2px;
      border-right: $brand-color solid 2px;
      blockquote {
        @include font-size(18);
        text-align: center;
        color: white;
        padding: 5rem 8rem;
        margin: 2rem;
        border-left: $brand-color solid 2px;
        border-right: $brand-color solid 2px;
        height: 200px;
        &:after, &:before {
          display: none;
        }
        @include screen-xs {
          padding: 2rem 4rem;
        }
      }

    }
    
  }

  #fellowship-approach {
    h2, h6 {
      text-align: left;
      @include screen-xs {
        text-align: center;
      }
    }
    h6 {
      font-weight: 800;
      @include font-size(22);
    }
    .lgx-heading {
      margin-bottom: 3rem;
    }
    ul {
      padding-inline-start: 1.5rem;
    }
    .row-eq-height {
      display: block;
    }
  }

  #fellowship-sponsors {
    background-color: $brand-color2;
    p {
      color: $brand-grey-dark;
      @include font-size(22);
      text-align: center;
    }
  }

}