// Two sections with white bg had too much space between them.
#lgx-about {
  .lgx-inner {
    padding-top: 0;
  }
}

#software-development {
  background-color: $brand-grey;
}

#lgx-software {
  h3 {
    text-transform: uppercase;
    margin-top: 0;
  }
  h4 {
    font-weight: 600;
    @include font-size(22);
    text-transform: none;
  }
  .thin-column {
    border-right-color: $black-color;
  }
}

#lgx-startups {
  position: relative;
  svg {
    position: absolute;
    top: 10%;
    right: 17%;

  }
  #rocket-path {
    fill: none;
    // stroke-dasharray: 1000;
    // stroke-dashoffset: 1000;
    // animation: dash 5s linear forwards;
  }
}

[data-aos="rocket-animation"] {
  opacity: 0;
  transition-property: transform, opactiy;
  &.aos-animate {
    opacity: 1;
  }

  @media screen and (min-width: 768px) {
    transform: translateX(100px);

    &.aos-animate {
      transform: translateX(0);
    }
    
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#lgx-workspace {
  background-image: url("../../images/workspace-home-bg.jpg");
  position: relative;
  background-size: 100%;
  background-position: 50%;

  h4 {
    @include font-size(27);
  }
  #desk-bg {
    background-image: url("../../images/icons/workspace-desk-bg.png");
    background-position: 50% 55%;
    background-size: 40%;
    background-repeat: no-repeat;
    padding-bottom: 7%;

  }
  .card {
    margin: auto;
    &.push-down {
      margin-top: 20%;
    }
  }
}
