// Two sections with white bg had too much space between them.
#lgx-about {
	.lgx-inner {
		padding-top: 0;
	}
}

#lgx-startups {
	background-image: url("../../images/grey-white-vector.png");
}

#lgx-workspace {
	background-image: url("../../images/red-black-vector-bg.png");
}