// Two sections with white bg had too much space between them.
#lgx-about {
  .lgx-inner {
    padding-top: 0;
  }
}

#three-initiatives {
  svg.shape {
    fill: $brand-grey;
    height: 15rem;
    width: 100%;
    position: absolute;
    &#top-triangle {
      bottom: 0;
    }
    &#bottom-triangle {
      bottom: -15rem;
    }
  }
  svg.vert-line {
    left: 50%;
    width: 15rem;
    height: 15rem;
    &#top-line {
      bottom: -5rem;
    }
    &#bottom-line {
      bottom: -10rem;
    }
    line {
      stroke: $brand-red-bright;
      stroke-width: 5px;
      stroke-linecap: round;
      stroke-dasharray: 0, 13;
      stroke-dashoffset: 1;
    }
  }
}

#lgx-software {
  .lgx-inner {
    padding-top: 10rem;
  }
  h3 {
    text-transform: uppercase;
    margin-top: 0;
  }
  h4 {
    font-weight: 600;
    @include font-size(22);
    text-transform: none;
  }
  .thin-column {
    border-right-color: $black-color;
  }
}

#lgx-startups {
  position: relative;
	.lgx-heading {
		margin-bottom: 3.3rem;
	}
	h4 {
		font-weight: 600;
		@include font-size(22);
  }
  td h4 {
    color: $brand-color2;
  }
  .lgx-inner {
    padding-bottom: 9rem;
  }
}

#lgx-workspace {
  position: relative;
  background-size: 100%;
  background-position: 50%;
  background-color: $brand-grey;

  h4 {
    @include font-size(22);
  }
  #desk-bg {
    background-image: url("../../images/icons/workspace-desk-bg.png");
    background-position: 50% 55%;
    background-size: 32%;
    background-repeat: no-repeat;
    padding-bottom: 5%;

  }
  .card {
    margin: auto;
    &.push-down {
      margin-top: 20%;
    }
  }
}
