#impact-report {
  body {
    position: relative;
  }
  .affix {    /* Make navbar stick */
    top: 130px;
    z-index: 9999 !important;
  }
  div.col-sm-9 div {
    height: 400px;
    font-size: 28px;
  }
  @include screen-tablet-max {
    margin-left: 150px;
  }
}