#impact-report {
  body {
    position: relative;
  }
  .affix {    /* Make navbar stick */
    top: 130px;
    z-index: 9999 !important; 
    // front back 3D 
  }
  div.col-sm-9 div {
    height: 400px;
    font-size: 28px;
  }
  @include screen-tablet-max {
    margin-left: 150px;
  }
  .navbar a { // text when static
    color: rgb(26, 26, 26);
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 200;
    text-transform: uppercase;
    padding: 5px; // margin between the texts
  }
  .navbar a:hover {
    color: $brand-color; // applies to all hovered links on nav
    text-decoration: none;
    background-color: transparent;
  }
  .navbar a:focus {

  }
  h1, .h1 {
    font-family: "Open Sans",sans-serif;
    font-size: 39px;
    line-height: 58.5px;
    font-size: 3.9rem;
    line-height: 5.85rem;
    font-weight: 900;
    color: #C12029;
    text-transform: uppercase;
  }
}