#learn {

  #laptop-learn {
    background-image: url('../../images/macbook-code-learn.png');
    height: 300px;
    background-size: 60rem;
    background-position: 10% center;
    margin: 30px;
    background-repeat: no-repeat;
    a.lgx-btn {
      margin-right: 1rem;
      padding: 0.2rem 1rem;
    }
    .lgx-heading {
      text-align: left;
      
      .heading-title {
        @include font-size(44);
        color: $brand-color;
        margin-bottom: 0;
      }
      .heading-subtitle {
        margin-top: 0;
        font-style: italic;
        margin-bottom: 2rem;
      }
      img {
        width: 4rem;
        height: 4rem;
        filter: brightness(0) invert(1);
      }
    }
  }
  #courses-learn {
    .row {
      margin-bottom: 5rem;
    }
    .heading-title {
      @include font-size(36);
      text-align: center;
    }
    .heading-subtitle {
      @include font-size(24);
      text-transform: uppercase;
      text-align: center;
    }
    p {
      @include font-size(14);
      text-align: center;
    }
  }

}
