#learn {

  #laptop-learn {
    background-image: url('../../images/macbook-code-learn.png');
    height: 300px;
    background-size: 60rem;
    background-position: 10% center;
    margin: 30px;
    background-repeat: no-repeat;
    @include screen-tablet-max {
      background-position: 0% center;
      margin: 20px;
      background-size: 50rem;
    }
    @include screen-xs {
      background-position: -80% 90%;
      margin: 10px;
      background-size: 30rem;
    }
    a.lgx-btn {
      margin-right: 1rem;
      padding: 0.2rem 1rem;
      @include screen-xs {
        margin-left: 50%;
        margin-right: 0;
        @include font-size(15);
        width: 115px;
        float: right;
        margin-top: 5px;
        padding: 0.05rem 0.5rem;
      }
    }
    .inline-block {
      @include screen-xs {
        width: 100%;
      }
    }
    .lgx-heading {
      text-align: left;
      
      .heading-title {
        @include font-size(44);
        color: $brand-color;
        margin-bottom: 0;
        @include screen-tablet-max {
          @include font-size(34);
        }
        @include screen-xs {
          @include font-size(27);
          text-align: right;
        }
      }
      .heading-subtitle {
        margin-top: 0;
        font-style: italic;
        margin-bottom: 2rem;
        @include screen-xs {
          text-align: right;
        }
      }
      img {
        width: 4rem;
        height: 4rem;
        filter: brightness(0) invert(1);
        @include screen-xs {
          width: 3rem;
          height: 3rem;
        }
      }
    }
  }
  #courses-learn {
    .row {
      margin-bottom: 5rem;
    }
    .learn-img-right {
      .heading-title, .heading-subtitle, p, a {
        text-align: center;
      }
      &:last-child {
        .heading-title, .heading-subtitle, p, a {
          text-align: right;
          @include screen-xs {
            text-align: center;
          }
        }
      }
    }
    .learn-img-left {
      .heading-title, .heading-subtitle, p, a {
        text-align: left;
        @include screen-xs {
          text-align: center;
        }
      }
    }
    .heading-title {
      @include font-size(36);
      @include screen-lg {
        @include font-size(26);
      }
      @include screen-tablet-max {
        @include font-size(22);
        margin-top: 0;
      }
    }
    .heading-subtitle {
      @include font-size(24);
      text-transform: uppercase;
      @include screen-lg {
        @include font-size(18);
      }
      @include screen-tablet-max {
        @include font-size(14);
      }
    }
    h5.heading-subtitle {
      @include font-size(16);
      font-weight: 600;
      text-transform: none;
    }
    p {
      @include font-size(14);
      margin-bottom: 1rem;
      @include screen-tablet-max {
        @include font-size(12);
      }
    }
  }

  #testimonials-learn {
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      display: block;
      
      background-image: url('../../images/phone-booth-abstract.jpg');
      background-repeat: no-repeat;
      background-size: cover;

      width: 100vw;
      height: 400px;
      filter: opacity(50%) blur(1px);
      @include screen-xs {
        height: 650px;
      }
    }
    
    .lgx-inner {
      padding: 1.2rem 0 3.5rem 0;
    }
    .lgx-heading-area {
      .heading-title {
        text-align: left;
        @include font-size(40);
        font-weight: 800;
        text-transform: capitalize;
        margin-bottom: 0;
      }
      .lgx-heading {
        margin-bottom: 5rem;
        @include screen-xs {
          margin-bottom: 2rem;
        }
      }
      p {
        text-align: left;
      }
    }
    img#percent {
      position: absolute;
      max-width: 80%;
      top: -5rem;
      left: 5rem;
      @include screen-xs {
        position: relative;
        top: 0;
        left: 0;
        margin: auto;
        display: block;
      }
    }
    .vcenter {
      // height: 100%;
      p {
        height: 100%;
      }
    }
    .testimonial {
      p {
        text-align: justify;
        @include screen-tablet-max {
          @include font-size(14);
        }
        @include screen-xs {
          @include font-size(12);
        }
      }
      .quote {
        height: 200px;
        @include screen-xs {
          height: 250px;
        }
      }
    }
  }

  svg#straight-line {
    position: absolute;
    fill: none;
    top: 105%;
    left: 50%;
    z-index: 99;
    width: 0.5rem;
    height: 15rem;
    line {
      stroke: $brand-red-bright;
      stroke-width: 0.2rem;
      stroke-linecap: round;
      stroke-dasharray: 0, 6;
      stroke-dashoffset: 3;
    }
    @include screen-lg {
      height: 10rem;
      line {
        stroke-dasharray: 0, 8;
        stroke-width: 0.3rem;
      }
    }
    @include screen-tablet-max {
      height: 7rem;
      line {
        stroke-dasharray: 0, 10;
        stroke-width: 0.4rem;
      }
    }
    @include screen-xs {
      display: none;
    }
  }
  svg.zig-zag {
    position: absolute;
    fill: none;
    z-index: 99;
    &#zig-zag-top {
      top: 207%;
      left: 50%;
      width: 50rem;
      height: 15rem;
      @include screen-md {
        width: 40rem;
        height: 14rem;
      }
    }
    &#zig-zag-bottom {
      top: 315%;
      left: 50%;
      width: 50rem;
      height: 15rem;
      @include screen-md {
        width: 40rem;
        top: 320%;
      }
    }
    polyline {
      stroke: $brand-red-bright;
      stroke-width: 0.03rem;
      stroke-linecap: round;
      stroke-dasharray: 0, 0.9;
      stroke-dashoffset: 3; 
    }
    @include screen-lg {
      top: 178%;
      width: 40rem;
      polyline {
        stroke-width: 0.04rem;
        stroke-dasharray: 0, 1;
      }
    }
    @include screen-tablet-max {
      top: 180%;
      width: 32rem;
      polyline {
        stroke-width: 0.05rem;
        stroke-dasharray: 0, 1.4;
      }
    }
    @include screen-xs {
      display: none;
    }
  }
}


