$color1: #ed3243;

#links {
    #header {
        img.linksLogo {
            display: block;
            margin: auto;
            max-width: 80%;
        }
    }
    #link-list {
        .listContainer {
            a {
                max-width: 300px;
            }
        }
    }
}

