$venturelabs-color: #941443;
$venturelabs-blue-color: #0090D1;

#venturelabs {
  
  #header-venturelabs {
    background: url('/assets/img/venture-labs/venture-labs-hero-bg.png');
    background-size: cover;
    background-position-y: 50%;
    height: 80vh;
    .lgx-heading-area {
      img {
        width: 300px;
        @include screen-tablet-max {
          width: 160px;
        }
      }
      .heading-subtitle {
        color: $venturelabs-color;
        @include font-size(27);
        font-weight: 600;
        margin: 4rem 40vh;
      }
    }
  }

  #get-hyped {
    position: relative;
    height: 90vh;
    #bg-container {
      background: url('/assets/img/venture-labs/green-wave-bg.png');
      background-size: cover;
      height: 125vh;
      position: absolute;
      top: -32vh;
      width: 100vw;
    }
    h3, p {
      color: white;
    }
    h3 {
      font-weight: 400;
      @include font-size(22);
      margin-bottom: 5rem;
    }
  }

  #testimonials {
    h3 {
      color: $venturelabs-color;
      font-weight: 600;
      margin-bottom: 5rem;
    }
    img {
      max-width: 75%;
    }
    blockquote {
      height: 200px; // Hardcode height so that quotes don't move other elements
    }
  }

  #contact {
    h3 {
      color: $venturelabs-color;
      font-weight: 600;
      margin-bottom: 5rem;
    }
    input, textarea {
      background-color: $brand-grey-light;
    }
    button {
      float: right;
      background-color: $venturelabs-blue-color;
      border-color: $venturelabs-blue-color;
    }
  }
}