$venturelabs-color: #941443;
$venturelabs-blue-color: #0090D1;

#venturelabs {
  
  #header-venturelabs {
    background: url('/assets/img/venture-labs/venture-labs-hero-bg.png');
    background-size: cover;
    background-position-y: 50%;
    height: 80vh;
    @media (max-height: 700px) {
      height: 90vh;
    }
    @include screen-md {
      height: 60vh;
    }
    .lgx-heading-area {
      img {
        width: 300px;
        @include screen-tablet-max {
          width: 220px;
        }
      }
      .heading-subtitle {
        color: $venturelabs-color;
        @include font-size(27);
        font-weight: 600;
        margin: 4rem 40vh;
        @include screen-md {
          margin: 2rem 10vh;
        }
        @include screen-sm {
          margin: 2rem 10vh;
        }
        @include screen-xs {
          margin: 1rem 4rem;
          @include font-size(23);
        }
      }
    }
  }

  #get-hyped {
    position: relative;
    height: 90vh;
    @include screen-md {
      height: 50vh;
    }
    @include screen-sm {
      height: 65vh;
    }
    @include screen-xs {
      height: 75vh;
    }
    #bg-container {
      background: url('/assets/img/venture-labs/green-wave-bg.png');
      background-size: cover;
      height: 135vh;
      position: absolute;
      top: -32vh;
      width: 100vw;
      @include screen-md {
        height: 80vh;
      }
      @include screen-sm {
        height: 85vh;
      }
      @include screen-xs {
        height: 100vh;
      }
      #vl-content {
        margin-top: 3rem;
        .lgx-blog-single {
          img {
            height: 225px;
            object-position: inherit;
          }
          height: 425px;
          .text-area {
            p, h3 {
              color: $black-color;
            }
            h3 {
              margin-bottom: 2rem;
              font-weight: 600;
            }
          }
        }
      }
    }
    
    h3, p {
      color: white;
    }
    h3 {
      font-weight: 400;
      @include font-size(22);
      margin-bottom: 5rem;
    }
  }

  #testimonials {
    h3 {
      color: $venturelabs-color;
      font-weight: 600;
      margin-bottom: 5rem;
    }
    img {
      max-width: 75%;
    }
    blockquote {
      height: 250px; // Hardcode height so that quotes don't move other elements
      @include screen-md {
        height: 300px;
      }
      @include screen-xs {
        @include font-size(12);
      }
    }
  }

  #contact {
    h3 {
      color: $venturelabs-color;
      font-weight: 600;
      margin-bottom: 5rem;
    }
    input, textarea {
      background-color: $brand-grey-light;
    }
    button {
      float: right;
      background-color: $venturelabs-blue-color;
      border-color: $venturelabs-blue-color;
    }
  }
}