#workspace {
  #header-workspace {
    background: linear-gradient(
      rgba(55, 55, 55, 0.5),
      rgba(55, 55, 55, 0.5),
    ),
    url('../../images/ainc-workspace-header-2.jpg');
    background-size: cover;
    background-position-y: 110%;
    height: 90vh;
    @include screen-tablet-max {
      background-position-x: 75%;
      height: 75vh;
    }
    @include screen-xs {
      height: 60vh;
    }
    @include screen-tablet-max {
      .lgx-heading {
        h2 {
          @include font-size(55);  
          margin-top: 3rem;   
        }
        h4 {
          @include font-size(24);
        }
      }
    }
    @include screen-xs {
      .lgx-heading {
        h2 {
          @include font-size(45);
        }
        h4 {
          @include font-size(20);
        }
      }
    }
  }

  div#spotlight-adult {
    position: relative;
    .lgx-inner {
      padding-top: 0;
    }
    div#workspace-clip {
      position: relative;
      svg {
        height: 20vh;
        width: 100%;
        position: absolute;
        top: -20vh;
        polygon {
          fill: $body-bg;
        }
        @include screen-tablet-max {
          height: 14vh;
          top: -14vh;
        }
        @include screen-xs {
          height: 10vh;
          top: -9.95vh; /*mobile devices have a small gap */
        }
      }  
    }

    #see-space-div {
      h3, img {
        float: right;
        text-transform: uppercase;
        @include font-size(32);
        @include screen-xs {
          @include font-size(15);
        }
      } 
    }

    .lgx-video-area {
      padding: 0;
      .video-thumbnail {
        position: relative;
        display: inline-block;
        cursor: pointer;
        img.opaque {
          filter: opacity(0.5);
          -webkit-filter: opacity(0.5);
        }
      }
      #video-arrow {
        position: absolute;
        width: 50%;
        top: 40%;
        left: -32%;
        @include screen-tablet-max {
          top: 50%;
        }
      }
      #schedule-a-tour-button {
        position: absolute;
        width: 35%;
        top: -30%;
        right: -14%;
        -webkit-filter: invert(100);
        filter: invert(100);
        @include screen-xs {
          width: 40%;
          top: -35%;
          right: -10%;
        }
      }

      .icon {
        position: relative;
        z-index: 2;
        @include transition-duration($duration: 0.3s);
        i {
          cursor: pointer;
          position: absolute;
          text-align: center;
          background: $brand-color2;
          top: 50%;
          left: 50%;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          font-size: 42px;
          line-height: 100px;
          padding-left: 10px;
          color: white;
          z-index: 99;
          @include transition-duration($duration: 0.3s);
          @include screen-xs {
            width: 50px;
            height: 50px;
            font-size: 25px;
            line-height: 50px;
          }
        }
        &:hover {
          i {
            background: $brand-color;
            color: $white-color;
            @include transition-duration($duration: 0.3s);
            -webkit-box-shadow: 0 20px 35px rgba(0, 0, 0, 0.12);
            -moz-box-shadow: 0 20px 35px rgba(0, 0, 0, 0.12);
            box-shadow: 0 20px 35px rgba(0, 0, 0, 0.12);
          }
          &:before {
            border: 5px solid rgba(255,255,255, 0);
          }
          &:after {
            @include bg-rgba($white-color, 0);
          }
        }
      }
    }
  }

  div#become-a-member {
    text-align: center;
    text-transform: uppercase;
    .member-feature-img {
      height: 150px;
      img {
        width: auto;
        max-height: 110px;
        margin-top: 40px;
        &#member-feature { // Make this img stand taller than the others
          max-height: 150px;
          margin-top: 0;
        }
      }
    }
    @include screen-tablet-max {
      h3 {
        @include font-size(25);
      }
      h6 {
        text-transform: none;
      }
    }
    
    .col-sm-4 {
      padding: 0 5%;
    }
    .lgx-btn {
      margin-top: 2rem;
    }
    .lgx-heading {
      margin-bottom: 3.3rem;
    }
    .row {
      position: relative;
    }
    svg.border {
      position: absolute;
      fill: none;
      line {
        stroke: $brand-color2;
      }
    }
    svg {
      position: absolute;
      left: 0;
      fill: none;
      line {
        stroke: $brand-color2;
      }
    }
    svg#left-border {
      width: 0.1rem;
      height: 103%;
      right: 100%;
      top: 7.5%;
    }
    svg#bottom-border {
      height: 0.1rem;
      width: 100%;
      left: 0;
      top: 110%;
    }
    svg#right-border {
      width: 0.1rem;
      height: 103%;
      left: 100%;
      top: 7.5%;
    }
    .abs-btn {
      a {
        margin-left: 20%;
        width: 60%;
        @include font-size(14);
        top: 110%;
        @include screen-tablet-max {
          margin-left: 10%;
          width: 80%;
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
    }
  }

  div#member-amenities {
    text-transform: uppercase;
    .amenity {
      img {
        border: $brand-color2 solid 2px;
        border-radius: 50%;
        margin: 2rem 0.5rem 0rem 2rem;
        width: 70px;
        height: 70px;
        padding: 10px;
      }
      p {
        &:after {
          content: "";
          border-bottom: solid $brand-color2 2px;
          display: block;
          width: 250px;
          margin-left: -8px;
          @include screen-tablet-max {
            width: 200px;
          }
        }
        @include screen-tablet-max {
          text-transform: none;
          @include font-size(16);
        }
      }
    }
  }
  svg {
    position: absolute;
    line {
      stroke: $brand-color2;
      stroke-linecap: round;
    }
  }
}