#youth {
  small {
    color: black;
    @include font-size(12);
  }
  #header {
    background-image: url('/assets/img/aincu/youth/youth-header.png');
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include screen-tablet-max {
      background-position: 55%;
    }
    @include screen-xs{
      background-position: 50%;
      height: 200vw;
    }
    .lgx-heading-area {
      margin-top:20vh;
      @include screen-xs {
        margin-top: 18vh;
      }
      @include screen-md {
        margin-top: 30vh;
      }
      @include screen-lg {
        margin-top: 45vh;
      }
      .lgx-heading {
        text-align: left;
      }
    }
    .heading-title {
      @include font-size(48);
      margin-left:15px;
    }
    .heading-subtitle{
      @include font-size(24);
      font-style: italic;
      font-weight: 200;
      margin-left:15px;
    }
    h4{
      @include font-size(16);
      @include screen-xs{
        @include font-size(12);
      }
      font-weight: 300;
      color: white;
    }
    #phone-image {
      img {
        max-height: 550px;
        top: 20vh;
        left: 5vw;
        @include screen-lg{
          left: 0vh;
        }
      }
    }
    #abs-form {
      width: 33%;
      left: 66%;
      padding-top: 3vh;
      @include screen-xs {
        width: 80%;
        left: 10%;
        padding-top: 43vh;
      }
      @media (max-width: 385px) {
        padding-top: 55vh;
      }
      @include screen-md {
        padding-top: 0;
      }
      
      .panel {
        box-shadow: $brand-color2 0px 0px 3px 1px;
        background-color: $brand-color2;
        border: solid $brand-color2 1px;
        color: white;
      }
      .form-control {
        margin-bottom: 30px;
      }
    }
    .sub-text {
      margin-top: 5rem;
      padding-right: 10%;
      h3, h4, h5, h6, p {
        color: white;
        font-weight: 300;
        @include font-size(16);
        @include screen-xs {
          @include font-size(13);
        }
      }
      @include screen-xs {
        padding-right: 2%;
      }
    }
  }

  #why-code-india {
    @include screen-xs {
      margin-top: 43vh;
    }
  }
  
  #why-code { 
    .lgx-heading {
      text-align: left;
      margin-bottom: -1rem;
      @include screen-md{
        margin-left: -15vh;
        margin-right: 10vh;
      }
      @include screen-lg{
        margin-left: -15vh;
        margin-right: 10vh;
      }
    }
    .heading-title {
      @include font-size(30);
      margin-top: 15rem;
      @include screen-xs {
        margin-top: 5rem;
      }
    }
    p {
      @include font-size(18);
      font-weight: 500;
      @include screen-md{
        margin-left: -15vh;
        margin-right: 10vh;
      }
      @include screen-lg{
        margin-left: -15vh;
        margin-right: 15vh;
      }
    }
    // margin-top: -8vh;
    @include screen-xs {
      margin-top: 0;
    }
    @include screen-sm {
      margin-top: 0;
    }
    @include screen-md {
      margin-top: -10vh;
    }
  }

  #coding-is-fun {
    .lgx-heading {
      text-align: left;
      margin-bottom: -1rem;
      margin-top: 5rem;
      @include screen-xs {
        margin-top: 0;
      }
    }
    p {
      @include font-size(18);
      font-weight: 500;
      margin-bottom: 2.5rem;
    }
    .row{
      margin-top: 5rem;
      @include screen-xs{
        margin-top: 0rem;
      }
      @include screen-md{
        margin-top: 0rem;
      }
    }
    .heading-title {
      @include font-size(30);
    }
  }
  #coding-adventure {
    margin-top: 10rem;
    @include screen-xs{
      margin-top: 0rem;
    }
  }
  #coding-for-everyone {
    background-image: url('/assets/img/aincu/youth/everyone.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    @include screen-xs {
      background-position: 25%;
    }
  }
  #engaged-creative {
      background-image: url('/assets/img/aincu/youth/youth-engaged-bg.png');
      background-size: 100% 60vh;
      background-position: center 15%;
      background-repeat: no-repeat;
      @include screen-tablet-max {
        background-size: 100% 40vh;
      }
      @include screen-xs {
        background-size: 150% 70vh;
        background-position: center 3%;
      }
      @include screen-md {
        background-position: center 10%;
      }
      @include screen-lg {
        background-position: center 10%;
        background-size: 100% 40vh;
      }
      .lgx-heading {
        text-align: left;
        margin-bottom: -1rem;
      }
      .heading-title {
        @include font-size(30);
      }
      p {
        @include font-size(18);
        font-weight: 500;
      }
    
    #kids-engaged {
      margin-top: 10rem;
      @include screen-xs{
        margin-top: 0rem;
      }
      .heading-subtitle, p {
        color: white;
      }
    }

    .row {
      margin: 18vh 0 10vh;
      @include screen-xs {
        margin: 10vh 0;
      }
    }
  }

  #camps {
    background-size: 100% 10vh;
    background-repeat: no-repeat;
    background-position: center bottom;
    .lgx-heading {
      text-align: left;
      margin-bottom: 5px;
    }
    .heading-title {
      @include font-size(30);
      
    }
    li {
      @include font-size(18);
      font-weight: 500;
      margin-left: -2rem;
    }
    ul {
      margin-bottom: 2.5rem;
    }
    #coding-creative {
      margin-top: 10rem;
      @include screen-xs{
        margin-top: 0rem;
      }
    }

    #coding-adventure-image {
      @include screen-tablet-max {
        margin-top: 10rem;
      }
    }

  }

  #youth-testimonials {
    background-image: url('/assets/img/aincu/youth/Youth_Testimonials.png');
    .testimonial {
      margin-left: -4rem;
      blockquote {
        @include font-size(18);
        text-align: center;
        color:black;
        padding: 5rem 8rem;
        margin: 2rem;
        border-left: $brand-color solid 2px;
        border-right: $brand-color solid 2px;
        height: 200px;
        &:after, &:before {
          display: none;
        }
        @include screen-xs {
          padding: 2rem 4rem;
        }
      }

    }
  }

  #schedule {
    background-image: url('/assets/img/aincu/youth/Youth_schedule_background.png');
    .lgx-heading {
      text-align: left;
      margin-bottom: -1rem;
    }
    .heading-title {
      @include font-size(30);
      margin-top: 5rem;
    }
    p {
      @include font-size(18);
      font-weight: 500;
    }
    // margin-top: -8vh;
    @include screen-xs {
      margin-top: 0;
    }
    @include screen-sm {
      margin-top: 0;
    }
    @include screen-md {
      margin-top: 0;
    }
  }

  #camps {
    background-size: 100% 10vh;
    background-repeat: no-repeat;
    background-position: center bottom;
    ul {
      margin-bottom: 2.5rem;
    }
    
  }
  .heading-subtitle h5 {
    @include font-size(26);
    font-weight: 700;
  }
  p {
    @include font-size(13);
    @include screen-xs {
      font-size: 16px;
    }
    margin: 2rem 0;
  }
  #club-modal-faq {
    .card-header h5 {
      color: white;
    }
  }
  #join {
    small {
      color: white;
      @include font-size(12);
    }
    background-image: url('/assets/img/aincu/youth/Youth_Membership_BG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .heading-title{
      color:white;
      margin-bottom: -4rem;
      @include screen-xs {
        margin-bottom: 0;
        margin-top: 5rem;
      }
    }
    .lgx-inner {
      .row {
        .pricing-table {
          display: flex;
          flex-direction: row;
          max-width: 80%;
          margin-left: auto;
          margin-right: auto;
          @include screen-xs {
            display: block;
            .col-xs-12 {
              margin-bottom: 2rem;
            }
          }
          .container {
            height: 100%;
          }
          .pricing-option {
            border: 1px solid #eee;
            position: relative;
            background-color: white;
            * {
              display: block;
              margin-left: auto;
              margin-right: auto;
              text-align: center;
            }
            h3 {
              color: #7952b3;
              color: var(--theme-color);
              font-size: 18px;
              font-weight: 600;
              line-height: 26px;
              padding: 20px 0 0;
              text-transform: uppercase;
              margin-bottom: 10px;
              height: 75px;
            }
            img {
              min-height: 100px;
              max-height: 100px;
            }
            span {
              margin-left: -12px;
              color: #0f1719;
              font-size: 44px;
              font-weight: 600;
              letter-spacing: 2px;
              line-height: 55px;
              small {
                display: inline-block;
                font-size: 30px !important;
                font-weight: 400;
                line-height: 30px;
                position: relative;
                top: -5px;
              }
              span {
                display: inline;
              }
            }
            .billing {
              font-size: 14px;
              font-style: italic;
              font-weight: bolder;
            }
            a {
              color: white;
              background-color: #c12029;
              border-radius: .25rem;
              display: table;
              padding: 5px 10px;
              margin-bottom: 5px;
              width: 90%;
              text-transform: uppercase;
            }
            .free-months::before {
              content: "\2714";
              color: #c12029;
              display: inline-block;
              position: relative;
              left: -10px;
            }
          }
          .most-popular {
            position: relative;
            margin-top: -32px;
            @include screen-xs {
              margin-top: 0;
            }
            .most-popular-area {
              color: #e19533;
            }
          }
          .most-popular::before {
            content: "";
            display: block;
            width: 100%;
            height: 5px;
            background-color: #c12029 !important;
          }
        }
      }
    }
    
  }

  #questions {
    background-image: url('../../assets/img/bootcamp/faq-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .heading-title {
      text-transform: none;
      margin-bottom: 3rem;
    }
    .lgx-inner {
      padding: 8.2rem 0;
    }
    .lgx-heading {
      margin-bottom: 0;
    }
  }

  #bootcamp-faq-modal {
    .faq .card .card-header .faq-title {
      color: $brand-color3;
    }
  }

  p.fancy-text {
    color: $brand-color;
    font-family: The-Bohemian-Regular;
    @include font-size(42);
  }

}

// this needs to be a 'less-specified' class because it is getting overwritten
.testimonial-window:before {
  top: 41%;
}

#codingclub-faq-modal {
  .faq .card .card-header .faq-title {
    color: $brand-color3;
  }
}
  