#youth {

  #header {
    background-image: url('/assets/img/aincu/youth/header.png');
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include screen-laptop-min {
      margin-bottom: 25vh;
    }
    .lgx-heading-area {
      margin-top: 30vh;
      .lgx-heading {
        text-align: left;
      }
    }
    #phone-image {
      img {
        max-height: 550px;
      }
      margin-top: 5vh;
    }
  }

  #coding-is-fun {
    h5 {
      margin-top: 2.5rem;
    }
  }

  #engaged-creative {
      background-image: url('/assets/img/aincu/youth/youth-engaged-bg.png');
      background-size: 100% 60vh;
      background-position: center 10%;
      background-repeat: no-repeat;
    
    #kids-engaged {
      margin-top: 10rem;
      h5, p {
        color: white;
      }
    }
    #coding-adventure {
      margin-top: 10rem;
    }

  }

  #coding-for-everyone {
    background-image: url('/assets/img/aincu/youth/everyone.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    @include screen-xs {
      background-position: 25%;
      h5, p {
        color: white;
      }
    }

    .row {
      margin: 10vh 0;
    }
  }

  #camps {
    background-size: 100% 10vh;
    background-repeat: no-repeat;
    background-position: center bottom;
    ul {
      margin-bottom: 2.5rem;
    }
    display: none;
  }

  #join {
    // background-image: url('/assets/img/aincu/youth/membership-bg.png');
  }

  h5 {
    @include font-size(26);
    font-weight: 700;
  }
  p {
    @include font-size(13);
    @include screen-xs {
      font-size: 16px;
    }
    margin: 2rem 0;
  }
}